[2019-08-26 01:11] vesper8 opened #1 "error when trying to run locally on osx"
I'm trying to get this to work on my Macbook. I followed instructions, and get this error when I run `yarn start`

[code]

Any idea what might be wrong?

[2019-08-26 03:58] agoldis commented on #1
I've updated the repo and removed the use of experimental modules - it's all old commonjs now. Please pull and try again

[2019-08-26 06:01] vesper8 commented on #1
thank you for your quick fix, it works now!

However.. I think I must have it wrong still

I only have one machine on which to perform tests right now. If I run `cypress run --parallel --record --key xx --ci-build-id local-000 --spec="tests/e2e/specs/**/*"`

it finds 4 specs and runs them supposedly in parallel, however it seems to take just as much time as if I run it without the parallel flag. A

[2019-08-26 06:23] agoldis commented on #1
TL;DR

You'd run two or more `cypress run` instances to see parallelization.

LR:
Each instance of command `cypress run` represents a "machine" - the parallelisation is applied on "machine" (or process) level.

To see it in action, run 2 commands `cypress run` in different terminals - you will see them talking to the service and getting different tasks - that's how paralellisation is achieved.

Wh

[2019-08-26 07:33] vesper8 commented on #1
Thanks for that! It helps! But it also brings up a lot of new questions... not to mention that it looks like it doesn't work on my machine.

When I try to run the same command as seen in my post above in two different terminals, one terminal ends up doing 1 or 2 and the other terminal prints out this and immediately exits

[code]

Another question is.. could this unofficial parallelization api be

[2019-10-24 04:18] agoldis opened #4 "Add demo"
Add demo to showcase what are the capabilities of this project

[2019-10-24 04:20] agoldis opened #5 "Restricted access"
I imagine some users would like to restrict access to the dashboard components for foreigners.

[2019-10-24 04:21] agoldis opened #6 "AWS tutorial"
Create demo / tutorial for running the project on AWS:
- Fargate
- EC2

Screenshots:
- S3

[2019-10-24 04:22] agoldis opened #7 "Heroku tutorial"
Create demo / tutorial of he project running on Heroku

[2019-10-24 04:25] agoldis opened #8 "[PLEASE HELP] Implement cypress wrapper"
Today it might be scary and inconvenient to change cypress configuration to use the dashboard.
Having a wrapper that gets API endpoint URL as a CLI argument / configuration would simplify the use.

🚨 UPDATE:
Please upvote the ticket by @csvan: overriding core config vars here: cypress-io/cypress#7164

[2019-10-24 06:29] agoldis opened #10 "Use plural dashboard routes"
... to match cypress runner `Run URL` hint

[2019-10-27 04:49] #4 closed

[2019-10-27 05:10] agoldis opened #12 "Update Dockerhub images via CI"
https://hub.docker.com/u/agoldis

[2019-10-28 04:30] agoldis commented on #8
Possible solution would be an ugly monkey-patching - replacing `konfig/index.js` with a patched version that replaces `api_url` with value of an environment variable

[2019-11-12 15:02] IvanBioRender opened #14 "Github Integration"
It would be nice to have a Github integration that reports test results as status checks.

[2019-11-13 17:25] M0dM opened #15 "Docker compose"
Hi,

What do you think about writing a docker compose file to run all 3 packages in a single command locally ?

Regards,

[2019-11-13 18:15] agoldis commented on #15
Good idea!

Do you mean for dev or for deployment?

We already have this one, I use it for dev: https://github.com/agoldis/sorry-cypress/blob/master/docker-compose.yml

But it only runs 2 backend packages - I couldn't plug the web dashboard into docker-compose in a convenient way.

[2019-11-14 04:04] agoldis commented on #14
Hey @IvanBioRender, usually the CI environment where you are runnin the tests provides status updates for github / version control provider.

Any chance you can elaborate on your use cases so I can get more familiar with requirements?

[2019-11-14 08:01] M0dM commented on #15
I mean, if a new user wants to test sorry-cypress he should be able to use a docker compose file with docker images pulled from docker hub to start start testing it in 2 minutes.

[2019-11-14 16:01] roquie opened #16 "Error when try it run in parallel"
Hi! Cool project!

I deployed project services and making attempts to configure my CI jobs but API returns error  like as:
[code]
My command:

[code]

Cypress version: 3.6.0
API service: logs does not have an any errors
Director: logs does not have an any errors

<img width="1007" alt="Screenshot 2019-11-14 at 18 56 09" src="https://user-images.githubusercontent.com/3214290/68873658-fe90e000-0710-

[2019-11-14 16:48] roquie commented on #16
Cypress 3.4.1 was also tested and it crashes with same error.

[2019-11-14 17:16] kennetPerez commented on #16
@roquie The problem is that you need to pass the `--key` after the `--record`, you have to use this command: `$(npm bin)/cypress run --record --key x --parallel --ci-build-id "123"`.
It works for me on Cypress 3.6.0

[2019-11-14 17:22] roquie commented on #16
Replaced.

No :(

<img width="1226" alt="Screenshot 2019-11-14 at 20 21 00" src="https://user-images.githubusercontent.com/3214290/68880463-5f71e580-071c-11ea-9f6a-ce9e5e3bd1ed.png">

[2019-11-14 17:31] roquie commented on #16
Following body request (POST) was be sent:
[code]

to

[code]

[2019-11-14 17:46] roquie commented on #16
Facepalm! For resolve this issue I should be to use director instead of api in config file. Thanks :))

[2019-11-14 17:46] #16 closed

[2019-11-14 22:13] IvanBioRender commented on #14
Hey Andrew, ideally it would work the same way as Cypress does it:
https://docs.cypress.io/guides/dashboard/github-integration.html

The dashboard would have a Github token (or be installed as a Github app
into your repo), allowing it to use OctoKit to access the Github API. Once
it finishes a test run, it would report a status check for the
corresponding pull request, with a summary of the result

[2019-11-16 02:52] #15 closed

[2019-11-16 19:45] agoldis commented on #14
Gotcha! Will give it a try

[2019-11-17 00:24] agoldis commented on #14
After the initial exploration both Github Apps and Github OAuth integrations assumes an existence of integration "owner".

E.g. github app would be assigned a secret key and `appId`. Same for OAuth integration - it require creation of a distinct OAuth app for each `sorry-cypress` installation.

The on-premise nature of the project complicates the solution.

May be sometime in future we can have a

[2019-11-17 02:19] IvanBioRender commented on #14
You make a very good point! I've set up Github apps for personal projects,
and having to do it yourself is really tedious.

I think it's with well-written documentation on the setup it wouldn't be
too bad - I may try hacking this onto sorry-cypress at some point, if I do
I'll update you :)

Thanks again for the fast response to this request!

On Sat, Nov 16, 2019 at 7:24 PM Andrew Goldis <notifica

[2019-12-25 19:22] mrvarmazyar opened #18 "S3 alternative"
Hi

Is there any alternative object storage instead of s3 like minio?

Thanks

[2019-12-30 14:18] ifulfilment opened #20 "Option to override screenshot bucket url"
sorry-cypress/blob/master/packages/director/src/screenshots/s3/s3.ts

line 5

allow override of AWS url from config file

import { S3_BUCKET } from './config';
import { S3_URL } from './config'; // default s3.amazonaws.com
import { S3SignedUploadResult } from './types';

const BUCKET_URL = `https://${S3_BUCKET}.${S3_URL}`;

This will allow passing of EU url's  (s3.eu-north-1.amazonaws.com) and fix

[2019-12-30 16:29] ifulfilment commented on #20
Hi
I've done a bit more digging on this and my issue maybe with a newly created bucket on s3 (i only work with google normally).

I had to add the region to the s3 setup as well to get the screenshots to upload,
const s3 = new aws.S3({
  region: "eu-north-1",
  signatureVersion: 'v4'
});

having the ability to pass the region through would be good for DNS?

[2019-12-31 00:01] #20 closed

[2019-12-31 00:04] agoldis commented on #20
@ifulfilment thanks for proposing the enhancement.
I have tested using `sorry-cypress-nord` S3 bucket from `eu-north-1` region. Setting the region explicitly actually resolves the issue.

[2019-12-31 00:29] agoldis commented on #18
Hey @mrvarmazyar, unfortunately minio is not implemented, I don't have any experience with that technology either.
The S3 implementation is very basic, if minimo supports [signed client-side upload requests](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S3.html), it wouldn't be a huge effort to implement.

[2019-12-31 00:29] agoldis commented on #12
done!

[2019-12-31 00:30] #12 closed

[2019-12-31 16:02] TomaszG opened #21 "Dashboard fails to load when cypress is run in docker (e.g. on CI) due to missing git information"
Dashboard fails to load and displays "Error :(" if some of git related information is missing in the recorded job. The error is a result of another error coming from the graphql api:

`Cannot return null for non-nullable field Commit.sha.`
or
`Cannot return null for non-nullable field Commit.remoteOrigin.`

This may happen when Cypress is run in docker where there's no .git directory and environme

[2019-12-31 20:29] #21 closed

[2019-12-31 20:32] agoldis commented on #21
@TomaszG thanks for reporting that! Fixed in https://github.com/agoldis/sorry-cypress/releases/tag/v0.0.3

[2020-01-07 12:28] guyisra commented on #18
@agoldis  is it possible to disable the s3 upload?

[2020-01-07 17:06] agoldis commented on #18
@guyisra sure!

Set `SCREENSHOTS_DRIVER` environment variable when starting `director` service (via CLI or in `packages/director/.env`):

[code]

[2020-01-07 19:20] kennetPerez opened #23 "Video Support"
Hey, @agoldis do you have planned to add the function to upload videos and show it in the dashboard? Right now if we have enabled the videos function are being recording and saving into the directory where we are running, it would be great if you have planned to add something similar to Screenshot Driver but in this case for videos.
![image](https://user-images.githubusercontent.com/5490777/719222

[2020-01-10 17:39] mlsad3 opened #25 "DASHBOARD_URL in code defaults to 3333"
Hi, I'm really excited about saving $200-300/month as a startup with 0 customers a ton of end-to-end tests!
It was a little confusing getting this up and going since the DASHBOARD_URL for the director has it default to localhost:3333, when I think the dashboard is defaulting to port 4000. This should probably be updated.

[2020-01-10 17:42] mlsad3 opened #26 "Test Parallelization skipped first test"
Just making a note of this in case someone else sees the same thing. When I ran this the first time (two consoles running the jobs in parallel using director), I noticed the first console started on job 2/XYZ and the second console started on job 3/XYZ.

At the end, I had one less report than normal, and when I finally got the dashboard up, I noticed that job 1 is still pending. I wonder if there

[2020-01-10 20:11] agoldis commented on #25
@mlsad3 What was the main pain trying to set it up? I'd love to make it easier...

[2020-01-11 18:01] mlsad3 commented on #25
Hi @agoldis , I think most of my problems are self-induced. Mostly around AWS :)

[2020-01-12 06:50] mlsad3 commented on #26
I think this issue was due to me running it once and cancelling before starting it over again. User error :) This can be closed.

[2020-01-12 06:50] #26 closed

[2020-01-14 21:24] mlsad3 commented on #25
That said, I'll need to send you a link to my updates just so you know what I have had to do. For instance, for Director, I have it running on Elastic Beanstalk and launched using concurrently (launching multiple nodejs on the same machine). This means a couple things:

- I can't use PORT environment variable, since it is too specific, and had to rename it to SORRY_CYPRESS_DIRECTOR_PORT (I actuall

[2020-01-15 04:23] agoldis commented on #25
@mlsad3 thanks for sharing the details!

I've fixed the original issue you've reported https://github.com/agoldis/sorry-cypress/commit/53e2f54469c75262bff657f9865c249b36176989

As for the rest, let me ask few more questions

Was it because all the processes were running on the same machine and all were using the same `PORT` env var?

Was it because cypress client does not support redirects?

👍🏻

S

[2020-01-15 05:55] mlsad3 commented on #25
My setup is pretty ugly at the moment, so I'm not sure how good it would be to enhance/share from. Sometime (not in the next few months unfortunately due to timeframes), I'd like to put the whole package into a single nodejs express process.

As for your questions:
The PORT issue was due to having all the processes running on the same machine and using the same PORT env variable.

I I'm not sure a

[2020-01-17 23:52] agoldis commented on #25
@mlsad3 alright, thanks for sharing the insights! Please tell me if https://github.com/agoldis/sorry-cypress/commit/53e2f54469c75262bff657f9865c249b36176989 closes the issue for you

[2020-01-18 04:51] mlsad3 commented on #25
Hi @agoldis yes, it closes the issue. Thanks!

[2020-01-18 04:51] #25 closed

[2020-01-19 02:30] #23 closed

[2020-01-19 02:44] agoldis commented on #23
@kennetPerez you've got it, please check out #27

[2020-01-20 12:32] kennetPerez commented on #23
@agoldis this is great men, I loved this project, you're amazing, I expect to collaborate in this project in the future.

[2020-01-22 17:09] TomaszG opened #28 "Load More button on Dashboard skips one recorded run"
It seems that the **Load More** button on the Dashboard always skips one record. Let's say that we have the following runs recorded:
`[1, 2, 3, 4, 5, 6, 7, 8]`
By default, `[6, 7, 8]` are displayed and the **Load More** button, however, when it's clicked then the following runs are displayed: `[2, 3, 4, 6, 7, 8]`. Apparently, run number `5` is omitted and it cannot be displayed.

[2020-01-22 17:51] agoldis commented on #28
Good catch!

[2020-01-22 20:30] mrvarmazyar opened #29 "Tests runs but not shown on the dashboard!"
Hi Agoldis,

I run the cypress test every 30 mins on the development environment and after finishing I face on with this scene:
Dev-Auto-01222020121731-57701
Tests: 0
Passes: 0
Failures: 0
Pending: 0
Skipped: 0
Spec files
Overall: 14
Claimed: 0

So please tell me know how can I fix it?

Thanks

[2020-01-23 05:26] agoldis commented on #28
Resolved in https://github.com/agoldis/sorry-cypress/releases/tag/v0.1.1
Thanks for raising the issue!

[2020-01-23 05:26] #28 closed

[2020-01-23 05:36] agoldis commented on #29
Are you getting this result for every run or for some specific, single run?

When running the tests, cypress agents do two API calls:

1. send list of specs, `ci-build-id` and other CLI parameters. Based on that info,  the agent receives "runId" and "machineId"

2. send "machineId" and "runId" and get the spec name to execute. Before returning the spec, server (the director) marks it as "claimed".

[2020-01-24 20:48] tallkid24 commented on #6
This would be very helpful for us. We are running into the issue where our tests take too long, but reading the documentation right now, not sure how we'd set it up in AWS.

[2020-01-25 16:28] mlsad3 commented on #25
Hi @agoldis , I've pushed my changes out to my fork. Definitely not anything you would want to pull in (since you've already made changes to help) but just to give you an idea.
https://github.com/agoldis/sorry-cypress/compare/master...mlsad3:add-aws-eb-updates

Of note, you can see how my .env files' urls have extra paths after them (instead of http://localhost:3000, it is http://localhost:3000/te

[2020-01-25 17:18] mlsad3 commented on #6
I'm just going to leave some notes on how I am running. I use CodePipeline for the flow (git repo, CodeBuild, CodeDeploy, etc).

After my CodeBuild and CodeDeploy (site is deployed to Elastic Beanstalk), I added another 'Stage' and put all of my Cypress tests. I launch 5 in parallel.

![image](https://user-images.githubusercontent.com/15711477/73124587-48404700-3f5a-11ea-9ed3-fd6f72e87ab8.png)

Th

[2020-01-25 17:30] agoldis commented on #6
@mlsad3 thanks a lot for sharing the details - I will definitely use it for a tutorial!

[2020-01-25 17:37] agoldis commented on #25
@mlsad3 You made my day! Thanks for your generosity! I will take a look at the files!

[2020-01-25 18:03] mlsad3 commented on #6
Here are a few other files my Cypress runs use. Since I don't really use Dashboard (just using Director), I still want to see a report of the results. With all of the jobs running on separate instances, my report merge command only has access to the local subset of tests. Also, I do not know if I am the 'last' machine running. It would be annoying to get 5-6 different emails about the same test re

[2020-02-04 12:38] natkrish opened #30 "Quick Question regarding the dashboard URL"
Hi,
I have set up this alternate dashboard as opposed to using cypress dashboard. i have my dashboard configured in :8080 and the director service in :8001. I have also changed the cypress app.yml to point to http://localhost:8001 (director service).
I am bit unsure on what url to specify when in the .env file for the director service to point to:

should it be http://localhost:8080 (my dahsboard)

[2020-02-04 13:11] natkrish commented on #30
i figured out how to do it. So closing case

[2020-02-04 13:11] #30 closed

[2020-02-04 18:04] agoldis commented on #29
@mrvarmazyar hey, I am thinking about closing that issue, would you mind?

[2020-02-07 22:18] #29 closed

[2020-02-17 21:07] Postavshik opened #31 "Allow reusing --ci-build-id after a timeout"
I have run docker-compose up, changed the configuration of cypress and was able to run tests in two parallel threads. After initial test run I am not able to make a second test run. Looks like service sees that test run exists in the dashboard and skipping test run.

When I make docker-compose down and then docker-compose up again, I can make single run but the second run doesn't work again.

Am I

[2020-02-18 03:10] agoldis commented on #31
Did you provide a different build id for the second run?

[2020-02-18 03:11] Postavshik commented on #31
No, do I have to?

[2020-02-18 03:12] agoldis commented on #31
Yes, that's how it knows that a new run has started and it wasn't a new machine for an old run

[2020-02-18 03:13] agoldis commented on #31
Let me know if that worked for you 😃 if not, please copy your commands here

[2020-02-18 03:14] Postavshik commented on #31
hm... so I need randomize build id somehow... is it possible to configure to delete the completed build after test run? :)

[2020-02-18 03:23] agoldis commented on #31
It is possible but not supported today.

What the original cypress dashboard does is using a  "timeout" for each
build.

Sometimes it takes a while to spin up new cypress agents, e.g. on cloud CI
environment when each new agent is created on demand.

I suggest using commit-id+branch or some git-related data (if you use git)
so that each agent will use the same buildId l, bit when the system under

[2020-02-18 03:25] Postavshik commented on #31
Thank you very much for your help :)

[2020-02-18 15:04] jpdentone opened #32 "Error: Network error: Failed to fetch"
Hi

I'm trying to set this up on a AWS ec2 instance with external mongodb cluster but when I go to the dashboard URL is see a message "Error: Network error: Failed to fetch"

I've tested the same docker-compose.yml file in my localhost and it works fine but it doesnt on the ec2 instance.
Logs seems ok

Recreating cypress_director_1 ... done
Recreating cypress_api_1      ... done
Recreating cypress

[2020-02-18 15:37] jpdentone commented on #32
figured it out, issue was on aws side, sorry about this

[2020-02-18 15:37] #32 closed

[2020-02-18 18:59] Postavshik commented on #31
Here is a hacky solution I have found so far to use just npm script
`"cy:run_p": "cypress run --parallel --record --key xxx --ci-build-id $RUNID",
    "cy:two": "npm run cy:run_p & npm run cy:run_p",
    "cy:run_multi": "RUNID=$(uuid) npm run cy:two",`

so command `cy:run_multi` with trigger two threads at the same time with unique ID every time

[2020-02-21 23:28] agoldis commented on #32
@jpdentone Hey! I am curious about different ways ppl set up the project on AWS. Would you agree to share your setup / configuration so I can use it in a guide / tutorial?

[2020-02-26 16:47] TomaszG opened #33 "Add support for record keys whitelist"
Add support for an optional whitelist of record keys so only jobs with such record keys are allowed to use the director.

[2020-02-26 18:18] #33 closed

[2020-02-28 14:35] RicardoVaranda opened #35 "Jenkins Integration?"
Hi @agoldis ,

First of all, great work! Just had a quick read through the source code and this is some amazing stuff you have done here. I've got a couple of questions I'd love if you could explain.

- How would the dashboard integration with a CI tool? e.g. Jenkins
- Where is the parallelisation happening? i.e in the CI tool or in the dashboard itself?
- Where are tests actually running?

For th

[2020-03-01 07:12] agoldis commented on #35
Hi @RicardoVaranda! Thanks for the kind words!

The "dashboard" is just docker container. You can either:
- spin up the container as part of jenkins run
- have it running as a permanent service

Note that depending on your needs you would need to attach a permanent storage to keep test results.

On both :) you need CI environment to run tests, and a "coordinator" to assign tests to each individual

[2020-03-02 01:48] agoldis commented on #6
🔥 You can now deploy the whole solution as AWS CloudFormation stack.

Check out this tutorial:
https://github.com/agoldis/sorry-cypress/wiki/AWS-Tutorial

@mlsad3
I will migrate your comments here to a wiki page soon.

[2020-03-02 01:48] #6 closed

[2020-03-02 06:27] mlsad3 commented on #6
@agoldis Neat tutorial :) It would be cool (didn't see it, and not sure how easily it is for you to determine) if you could add rough cost ideas to it in the tl;dr section (ie $$ for foo and $$ for blah per month)

[2020-03-02 06:56] agoldis commented on #6
@mlsad3 You've got it. Check to updated wiki

[2020-03-02 07:02] agoldis commented on #7
https://github.com/agoldis/sorry-cypress/wiki/Heroku-Tutorial

[2020-03-02 07:02] #7 closed

[2020-03-02 07:20] mlsad3 commented on #6
Perfect thanks!

On Sun, Mar 1, 2020, 11:56 PM Andrew Goldis <notifications@github.com>
wrote:

[2020-03-03 16:43] tallkid24 commented on #6
This is awesome @agoldis ! Got it working on our system - had to change some things in the cloudformation template since we aren't allowed to create public resources, but works well! Is the load balancing based on the key of the records?

[2020-03-03 16:48] KyleThenTR opened #36 "Specs show as Failed in the dashboard when they are skipped/pending"
If a test is skipped in Cypress using it.skip(), the tests show up as Pending result instead of Skipped and then show the spec as Failed

[2020-03-03 17:12] agoldis commented on #6
@tallkid24 great! Load balancing is just to allow a constant access point to the services and manage access URLs, e.g. /api points to a different container... If that's what you asked :)

[2020-03-03 18:45] tallkid24 commented on #6
@agoldis sorry, I meant more of this https://docs.cypress.io/guides/guides/parallelization.html#Balance-strategy

where it load balances the spec files on the different Cypress runs based on the length of the spec

[2020-03-03 18:48] agoldis commented on #6
@tallkid24 oh, I see :)
No, there's no prioritization of specs based on previous runs - those are just served one after another.
The Amazon load balancer is related to network infrastructure.

[2020-03-03 18:53] tallkid24 commented on #6
@agoldis ok cool, was just checking. Maybe a future feature ;) this is good stuff, thanks so much!

[2020-03-06 07:58] agoldis commented on #36
FYI.
https://github.com/cypress-io/cypress/issues/3092

[2020-03-06 07:59] #36 closed

[2020-03-06 08:02] agoldis commented on #36
Released in https://github.com/agoldis/sorry-cypress/releases/tag/v0.2.1

[2020-03-06 21:38] BradenM opened #38 "Director crashes if $schema is used in cypress.json"
Hi, thanks for this awesome project! Wanted to let you know about a (minor) issue I ran into.

**Problem**
Director crashes with if `UnhandledPromiseRejectionWarning` `$schema` is used in `cypress.json`.
Locally, the run stalls with a HTTP 500 error.

**Workaround**
Simply remove `$schema` from `cypress.json` for now.

**Possible Solution**
Via the director side, ignore `$schema` if found in confi

[2020-03-06 23:00] agoldis commented on #38
Thanks for discovering the issue! 👍

[2020-03-07 05:30] #38 closed

[2020-03-07 05:32] agoldis commented on #38
Released in https://github.com/agoldis/sorry-cypress/releases/tag/v0.2.2

[2020-03-07 16:04] tallkid24 opened #40 "First test randomly errors on thread when running: “Invalid or unexpected token”"
Hello, this project is great and works great most of the time! We run our tests on a Codebuild on AWS and run 5 threads of the Cypress runner parallel with the director service on AWS. About a quarter of the time, the first test on one of the threads fails with this error:

[code]

Now I'm not sure if this a sorry cypress issue or not, but I didn't have an issue with it before switching to running

[2020-03-08 05:11] agoldis commented on #40
@tallkid24 thanks for kind words!

Let's try isolate the issue
- is it always the same spec that's failing?
- is it reproducible when you run vanilla js? I.e. transpile your test files as a separated step before running cypress. Then run cypress on *.js
- are you able to run your tests specs independently one from another in arbitrary order?

As you've mentioned it is unlikely that sorry cypress i

[2020-03-08 05:54] agoldis commented on #6
@mlsad3 I've copied your tutorial to
https://github.com/agoldis/sorry-cypress/wiki/AWS-Multiple-Cypress-Agents and added a link to it from https://github.com/agoldis/sorry-cypress/wiki/AWS-Tutorial and from https://github.com/agoldis/sorry-cypress#additional-resources

Thanks for your help!

[2020-03-08 06:19] mlsad3 commented on #6
@agoldis Cool, thanks for putting it in there for posterity :)

[2020-03-09 15:27] KyleThenTR commented on #40
@agoldis I actually think it might be because all of the cypress runs are running in the same codebuild directory, so the transpiling process is overwriting what a different thread of the cypress run is creating.

I did see a different error come up on the dashboard:
Error: GraphQL error: Cannot return null for non-nullable field InstanceResults.tests.

[2020-03-09 17:50] agoldis opened #42 "GraphQL error: Cannot return null for non-nullable field"
@KyleThenTR reposting your comment as a new issue:

I did see a different error come up on the dashboard:
Error: GraphQL error: Cannot return null for non-nullable field InstanceResults.tests.

[2020-03-09 17:50] agoldis commented on #40
@KyleThenTR good suggestion, I have extracted your comment into https://github.com/agoldis/sorry-cypress/issues/40

[2020-03-09 17:55] agoldis commented on #42
@KyleThenTR I'll need more details for that
1. What is the api and dashboard version you're running?
2. What's the screen / URL are you trying to access?

[2020-03-09 20:31] KyleThenTR commented on #40
@agoldis you were correct that it was an issue with transpiling and running all of the cypress threads on the same build machine. They were transpiling a file, and then the next runner would also transpile the same file, and the first test would pick up an incomplete file most likely.

For anyone else who comes across this issue, here is what I added in my plugins/index.js file.
[code]

This issue

[2020-03-09 20:48] KyleThenTR commented on #42
0.2.1 and just trying to go to the main dashboard page to see a list of all my runs. It did end up clearing up so I'm wondering if something got put into the graphQL DB that wasn't correct. I wasn't sure how to query so I couldn't get any information from the API endpoint. Next time this happens I can if you happen to know what query I should run?

[2020-03-09 20:59] #40 closed

[2020-03-09 21:05] agoldis commented on #42
Thanks @KyleThenTR, it is helpful. Seems like type definitions are not taking in account that not all data is available right away.
I will look into that further.

[2020-03-09 21:23] agoldis commented on #42
@KyleThenTR to your question

If you open network tab, you'll see the query details in POST request to API.

All the queries are available in `*.graphql` files, e.g.:

https://github.com/agoldis/sorry-cypress/tree/master/packages/dashboard/src/views

You can access GraphQL interface directly by opening API service URL in browser.

[2020-03-10 12:57] KyleThenTR commented on #42
![image](https://user-images.githubusercontent.com/52414395/76314421-c48db000-62a4-11ea-8927-d779105c3946.png)

I actually can still recreate if I page back far enough on the dashboard

[2020-03-11 04:33] agoldis commented on #42
Fix released in https://github.com/agoldis/sorry-cypress/releases/tag/v0.2.3

[2020-03-13 12:23] KyleThenTR commented on #6
@agoldis I've attached a couple codebuild buildspec files that I'm using with your AWS tutorial, you can use them if you want in the tutorial, if not that's fine, but figure I should help contribute if I can.

This first buildspec if what we use in our pipeline to verify an environment once we've already deployed. The second buildspec is one we use in our merge requests as a runner before we can m

[2020-03-14 20:23] gkulasik commented on #18
@agoldis Is there a way to use local storage rather than S3? If I am running on-prem I'd like to avoid using any outside service including S3.

[2020-03-15 18:22] agoldis commented on #18
@gkulasik it is not yet implemented, but shouldn't be too difficult. The idea is to returns a url to a service that's capable of receiving PUT requests with payload buffer: https://easy-expense.slack.com/archives/CR1GJ75FU/p1583474268004900

I will try to find time and create some POC.

[2020-03-15 18:39] agoldis commented on #6
@KyleThenTR great! I have published on wiki and added a link from AWS tutorial. Thanks for your contribution!

[2020-03-16 02:06] gkulasik commented on #18
Sounds good, thanks @agoldis! This is such a great project. I've already got the service running on-prem.

[2020-03-18 12:42] pshynin opened #44 "Skipped test is not calculated and not displayed"
if single test within spec file skipped it marked skipped within the spec file page however number of skipped tests remains 0 on either spec page or run page

[2020-03-18 17:01] agoldis commented on #44
@pshynin what version are you running? I remember fixing similar problem at https://github.com/agoldis/sorry-cypress/issues/36

[2020-03-27 13:46] pshynin commented on #44
Hey, I am using :latest image. Let me try to reproduce and add more specific details.
by the way thanks for doing this! awesome project!

[2020-03-27 16:30] #44 closed

[2020-04-07 17:37] coltdorsey opened #46 "Using google cloud services"
Any chance that a solution using google services (instead of aws) is on your radar?

[2020-04-09 18:26] agoldis commented on #46
@coltadorsey I hope to have more time in future to figure how to run it easily on  google cloud.

[2020-04-14 05:31] xtroncode opened #48 "Provision to serve assests from private s3 buckets"
- the ACL used for generating upload url is `public-read` due to which upload fails for private buckets
- Can we make the `readUrl` configurable such that we can serve s3 assets from a private bucket via a proxy or can we have signed get urls in the dashboard ?

[2020-04-14 13:55] pshynin opened #49 "[K8S] director failed connect to mongo after pod re-deploy"
Running sorry-cypress in k8s with ArgoCD. Simply used provided docker-compose .yaml file to generate k8s deployment manifests. mongo deployed as a pod (not a good practice tho, will move to aws rds once figure this out). Hence with K8S pods are destroyed and re-created from time to time which caused an issue for director service to connect.

After re-deploy Cypress throws error while trying to run

[2020-04-14 18:15] zx86496790 commented on #49
new to this. got an error saying  Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a supported version (e.g "2.2" or "3.3") and place your service definitions under the `services` key, or omit the `version` key and place your service definitions at the root of the file to use version 1.
please help

[2020-04-14 18:20] pshynin commented on #49
not using docker-compose. I used it only as a templated to create K8S deployment manifests. There are workarounds but its anyway better to no run database in K8S, hence I am working on AWS RDS deployment for mongo..
closing this, since it's K8S related, not a dashboard app.
Thanks for building this app, very cool stuff !

[2020-04-14 18:20] #49 closed

[2020-04-14 18:29] zx86496790 opened #50 "version in docker-compose unsupported"
new to this. got an error saying Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a supported version (e.g "2.2" or "3.3") and place your service definitions under the services key, or omit the version key and place your service definitions at the root of the file to use version 1.
please help

[2020-04-14 20:11] danielvianna commented on #8
I need this feature!
How can I help?

[2020-04-15 05:11] agoldis commented on #8
@danielvianna Sure! I see few options:

- open a request on the original cypress project to allow overwriting API server configuration

- create a standalone wrapper that would inject the configurations when `cypress` runs. One approach would be the monkey-patching that I have mentioned in the comment above, but it's a fragile solution.

- explore other options that I am not aware of

[2020-04-15 05:19] agoldis commented on #50
Welcome @zx86496790!

As per https://docs.docker.com/compose/compose-file/compose-versioning/ you'll need to upgrade your docker-compose to version gte `18.02.0`.

Tell me if that worked!

[2020-04-15 08:48] dineshk-qa opened #51 "unable to upload screenshots/videos to S3"
I used the CloudFormation template you provided to create and run the stack.
Director and dashboard services are working fine and results are displayed.
but S3 uploads are not working.
I have checked the aws role has the policy attached for respective S3 bucket put operations.
Here's the CloudWatch log extract:
[code]

No error is displayed in log.
So it looks like it is uploading but there are no

[2020-04-15 11:01] xtroncode opened #52 "Report stacktrace for failed tests"
Hi,
Is it feasible to add stack-traces to the dashboard for failed tests ? This will help avoiding the use of a separate reporter.

I haven't gone through the code and I'm not sure if cypress reports stack traces to the dashboard.
Let me know if I can help and it would be great if you can point me where I should start looking.
Thanks.

[2020-04-15 20:03] zx86496790 commented on #50
it works now. thank you very much. issue closed

[2020-04-15 20:22] danielvianna commented on #51
I have the exact issue before then disappeared after 2 days - no clue what is causing on a specific machine, and on another one, it never happened (both are windows)
If you upload a file via postman (or similar tool) does the Amazon S3 API works fine?

[2020-04-15 22:08] #50 closed

[2020-04-15 22:47] #48 closed

[2020-04-15 22:57] agoldis commented on #51
@dineshk-qa thanks for reporting the issue! Would be useful to run the failed tests locally with similar settings with `DEBUG=cypress:*` env variable to see if there are more details from cypress agent.

[2020-04-15 22:59] agoldis commented on #48
@xtroncode thanks for opening the request!

Should be configurable in https://github.com/agoldis/sorry-cypress/releases/tag/v0.2.4
also updated the documentation https://github.com/agoldis/sorry-cypress/wiki/S3-screenshot-driver

[2020-04-16 01:19] dineshk-qa commented on #51
Here is Cypress in DEBUG mode
`cypress:server:record failed to upload artifact { file: 'source/cypress-poc/cypress/screenshots/2_gift_cards_spec.js/Gift Cards Page Tests -- iframe demo - buy gift cards (failed).png', stack: 'StatusCodeError: 400 - "<?xml version=\\"1.0\\" encoding=\\"UTF-8\\"?>\\n<Error><Code>InvalidArgument</Code><Message></Message><ArgumentName>x-amz-acl</ArgumentName><ArgumentV

[2020-04-16 05:16] EddyQiu commented on #51
I've found something interesting in the `docker.io/agoldis/sorry-cypress-director` image in the path `/app/src/screenshots/s3`

`# cat config.ts
export const S3_BUCKET = process.env.S3_BUCKET || 'sorry-cypress';
export const S3_REGION = process.env.S3_REGION || 'us-east-1';
export const S3_ACL = process.env.S3_REGION || 'public-read';
export const S3_READ_URL_PREFIX = process.env.S3_READ_URL_PREFI

[2020-04-16 05:45] EddyQiu commented on #51
I believe the fix for this would be just to change the line
`export const S3_ACL = process.env.S3_REGION || 'public-read';`
to be:
`export const S3_ACL = process.env.S3_ACL || 'public-read';`

[2020-04-16 06:02] agoldis commented on #48
@xtroncode sorry, `2.0.4` is buggy, releasing `2.0.5`

[2020-04-16 06:08] agoldis commented on #51
There was a bug introduced in the latests release. Should be fixed in https://github.com/agoldis/sorry-cypress/releases/tag/v0.2.5.

@dineshk-qa  Please tell me if that somehow resolves the issue, because the issue was opened before the bug was introduced

[2020-04-16 06:45] dineshk-qa commented on #51
@agoldis actually our S3 bucket was hosted in ap-southeast-2 and we were not setting the region and it was taking the default value, so we had that issue.
It just coincided with your changes :)
All working fine now after the above fix, I can see images/videos in the dashboard.
Thanks for so quick response & fix.

[2020-04-16 06:48] #51 closed

[2020-04-16 08:46] redaxmedia commented on #8
What about temporary changing the domain resolution? I did not test this but looks more elegant to me rather than finding and tricking config files in the userspace.

[code]

[2020-04-17 23:32] #52 closed

[2020-04-21 12:31] tallkid24 opened #56 "Sometimes a spec or 2 doesn't get picked up and ran - stuck in pending"
I apologize for an issue without any repro steps, but not really sure how to repro it. I am running a codebuild with 5 Cypress parallel commands on it. Sometimes, there will be a spec or 2 that is stuck on the Pending state on the sorry cypress dashboard. When I search for the spec in the Codebuild logs, there is no mention of it. So something must be blocking it from getting picked up?

[2020-04-22 00:40] agoldis commented on #56
@tallkid24 no need to apologize!
It would be helpful, though, to get more data about the issue - ideally, it'd be log traces from cypress agents and from the director service.

Also, you can directly access the mongo DB to see what is was stored by the director.

It's quite hard to troubleshoot those issue if those are intermittent, I understand.

I can tell that I have been running sorry-cypress

[2020-04-22 13:22] tallkid24 commented on #56
@agoldis How would I query the mongo DB to see what was stored for the run? I still do have the ci build ID from the cypress run so I assume that is stored?

[2020-04-22 13:36] tallkid24 commented on #56
Oh, actually I think I see the possible issue digging into the logs further. The cypress run ended with an error exit code

`Failed to connect to Chrome, retrying in 1 second (attempt 32/32)`

`Cypress failed to make a connection to the Chrome DevTools Protocol after retrying for 20 seconds.`

and then it shows the cypress command exiting with status code 1, which ends up failing all of my cypress

[2020-04-22 13:38] tallkid24 commented on #56
So thats for that codebuild failure, but there have been instances where the logs just stop for one of the running instances of the cypress run, which makes me think it could possibly be a memory issue in the codebuild

[2020-04-23 00:15] agoldis commented on #56
If you run on AWS, you'll need to open network access to the underlying mongodb instance, as soon as you expose a network port, you can use https://www.mongodb.com/products/compass or https://robomongo.org/ to explore the data.

The data structure is very intuitive, I think you can just read it.

Another options is use GraphQL explorer - it is accessible just by accessing API service. It doesn't s

[2020-04-23 20:53] StefanS-O commented on #18
I would also like Minio support and currently looking into it. It shouldn't be too difficult:

`var s3  = new AWS.S3({
          accessKeyId: 'YOUR-ACCESSKEYID' ,
          secretAccessKey: 'YOUR-SECRETACCESSKEY' ,
          endpoint: 'http://127.0.0.1:9000' ,
          s3ForcePathStyle: true, // needed with minio?
          signatureVersion: 'v4'
});`

This should be made configurable in the dire

[2020-04-23 22:42] agoldis commented on #18
@StefanS-O I could use my S3. Do you have a branch I could use for testing?

[2020-04-24 07:30] StefanS-O commented on #18
@agoldis so i got it working, but can't push to Minio, because i run into SignatureDoesNotMatch, which is either related to this bug: https://github.com/minio/minio/issues/8897 or something similar. I run Minio behind an NginX Reverse Proxy, but that doesn't seem to be an issue, because i also testet it connecting directly to Minio.

My Branch shouldn't be used with existing S3 Buckets, because i

[2020-04-24 07:37] StefanS-O commented on #5
I want this too. I think the easiest solution would be using an nginx reverse proxy and basic auth.

[2020-04-24 07:48] StefanS-O commented on #18
@agoldis It also got me thinking, if we can use minio this solution could also be used for local storage, because you would just have to add minio to the docker-compose?

[2020-04-24 09:30] redaxmedia commented on #8
@agoldis We got the wrapper working in our company. Are you open for an PR with this approach?

[2020-04-24 17:33] danielvianna commented on #8
I'm interested in the solution: danielribas1984@gmail.com if you care to share

[2020-04-24 17:34] agoldis commented on #8
Sure more than welcome!

[2020-04-24 17:37] agoldis commented on #18
@StefanS-O that's a great idea for local storage! I will try to see if I can make it work.

[2020-04-24 22:34] agoldis commented on #56
@tallkid24 can I close that issue?

[2020-04-24 23:04] tallkid24 commented on #56
Yes I think so.

On Fri, Apr 24, 2020, 5:35 PM Andrew Goldis <notifications@github.com>
wrote:

[2020-04-25 01:38] #56 closed

[2020-04-25 11:16] redaxmedia commented on #8
@danielvianna Well, the solution is similar to the one non-working concept I posted here

@agoldis Fine, the student who is under my mentoring will send a PR at the beginning of the week.

[2020-04-25 14:16] StefanS-O commented on #18
@agoldis There is some progress. I wrote a minio driver and tried it with an external minio instance, but also received the SignatureDoesNotMatch error. So it doesn't seem to be related to using aws-sdk or minio. It seems to be a problem with getSignedUrl and some of the params. I will investigate further. Once that works, i will add Minio to the docker-compose file :)

[2020-04-25 14:35] StefanS-O commented on #18
I got it working with external Minio! I need to do some cleaning up and testing and then tackle the local minio installation :)

[2020-04-25 19:59] agoldis commented on #8
@redaxmedia `SORRY_CYPRESS_` sounds good. Can I borrow the student for other task?  😃

[2020-04-27 07:41] xtroncode opened #57 "Support grouping for the same run"
Hi,

I am trying to integrate cypress in our jenkins based ci environment.

I have separated tests for mobile and desktop versions of the site using a file naming convention as `*.mobile.spec.js` and `*.desktop.spec.js` and `*.common.spec.js`

When I run cypress in the following form by passing the same `--ci-build-id` but different `--spec` , two different runs are created in the dashboard.

[cod

[2020-04-27 09:03] redaxmedia opened #58 "General project improvements"
Hey,

1. Move the project to sorry-cypress namespace
1. Split project into repositories
   - Director
   - Dashboard
   - API
   - Dockerfiles
   - Documentation
   - Playground (Demo)
1. Extract the documentation and merge README.md and the Wiki
1. Static code analyser / Linter?
1. Unit testing?
1. CI integration?

In case you would like to keep this inside a mono-repo then I suggest to create `/

[2020-04-27 12:24] xtroncode opened #59 "Feature Request : Way to filter runs in dashboard"
I believe that it would be great if we could filter runs by build id in the dashboard.
Let me know if I can help implementing this.

[2020-04-27 12:26] xtroncode opened #60 "Feature Request : Way to clean/delete older runs"
It would be great if we can clean up old test runs via api or through the dashboard.
Let me know if I can help implement this.

[2020-04-27 16:44] agoldis commented on #57
@xtroncode thanks for bringing that up!

As far as I remember the original cypress also does not allow having different specs for same run, unless there's some kind of [grouping](https://docs.cypress.io/guides/guides/parallelization.html#Grouping-test-runs) defined.

I am renaming your request to implement supporting grouping.

[2020-04-27 16:48] agoldis commented on #60
Sure! The simplest solution would be to implement write query on GraphQL (API).

The dashboard would the invoke the query based on UI inputs, but having the query  would be a great start.

Possible query variations would be deleted specific runs or date range based.

[2020-04-27 16:49] agoldis commented on #60
@xtroncode If you have time / wish to do that - you are more than welcome!

[2020-04-27 16:53] agoldis commented on #59
Today the displays paginated runs, the pagination rate is hardcoded and is defined on the API.
The simplest solution would be to have a GraphQL query that would returns results based on a search criteria, and display the results non-paginated.

The implementation of pagination is cursor-based and I quite sloppy, I am not sure how convenient it would be to work with that code :)

@xtroncode Let me

[2020-04-27 16:55] agoldis commented on #57
Also, please note https://github.com/agoldis/sorry-cypress/issues/35 - if you can  eventually share your Jenkins setup, there was an interest in this type of integration

[2020-04-27 17:25] agoldis commented on #58
Thanks for the suggestions @redaxmedia!

I definitely want to move the project to the next level and it's exciting to see contributions / interest.

As for suggestions:

I have created `sorry-cypress` organizations on Github and Dockerhub. The actual transfer is more delicate process.

I will need to make sure nothing breaks during the transfer - i.e. github actions.

When I work on the project I

[2020-04-27 17:34] xtroncode opened #62 "Fix runs query resolver"
The query runs resolver return value does not match the defined schema.

I have implemented a fix in #61

[2020-04-27 17:40] xtroncode commented on #57
@agoldis  thanks for considering this. I'll try to share my Jenkins setup at #35 once figure out the entire process.

[2020-04-27 18:25] xtroncode commented on #60
@agoldis  does this sound like a good api ? should the `DeleteRunResponse` include the deleted `runs` as well ?

[code]

[2020-04-27 18:48] agoldis commented on #60
That looks perfect!

[2020-04-27 19:37] redaxmedia commented on #58
I'm open to contribute in terms of consulting, concepting and setting up repositories and infrastructure as tooling and CI. First we need something like a masterplan with milestones that provide a smooth transition. Do you have Telegam? Drop me a line @redaxmedia and let's discuss a bit further.

[2020-04-28 03:29] #62 closed

[2020-04-28 15:26] xtroncode commented on #59
@agoldis

I have a wip PR #63 . It's very early stage. But I got stuck at the date range query as currently `createdAt` field is stored as string. I am new to mongodb, typescript as well as graphql.

Can you point me towards what needs to be done to query in a date range when date is stored as string ? As per my research, I could not find a good way (but my mongo know how is very limited) .

Do we

[2020-04-28 15:29] xtroncode commented on #60
@agoldis

I have a wip PR #63 . It's very early stage. But I got stuck at the date range query as currently createdAt field is stored as string. I am new to mongodb, typescript as well as graphql.

Can you point me towards what needs to be done to query in a date range when date is stored as string ? As per my research, I could not find a good way (but my mongo know how is very limited) .

Do we n

[2020-04-28 17:05] agoldis commented on #60
@xtroncode

ISO dates are lexicographically sort-consistent, i.e. you can convert a search date range to string and run string search query:

[code]

[2020-04-28 18:45] csvan commented on #8
Opened a ticket for overriding core config vars here: https://github.com/cypress-io/cypress/issues/7164

[2020-04-28 19:33] danielvianna commented on #8
I have this patch here.
It works on windows. I tested on CI/CD / Gitlab but I had some issues and still working on it:

[code]

[2020-04-29 16:21] danielvianna opened #66 "Dashboard displays no data in Linux but stores videos in Amazon S3 successfully"
**Windows is fine, NO problems at all
But In Digital Ocean CentOs and Ubuntu, I see no data**

![image](https://user-images.githubusercontent.com/7416070/80618711-bc82fe80-8a11-11ea-925d-568155d91943.png)

Steps to reproduce the error:

1-Use One-Click install Docker in Digital Ocean (Ubuntu Only)

2-Update all tools
Docker version 19.03.1, build 74b1e89
Docker-compose version 1.25.5
Ubuntu / VERS

[2020-04-29 20:46] danielvianna commented on #66
I fixed the issue, I need to hardcode the IP on the docker files as opposed to using localhost for Digital Ocean Ubuntu.
While in windows this is not necessary.
Any ideas on why this happens?

[2020-04-29 22:41] agoldis commented on #66
The dashboard contacts the API to fetch the data, the address of the machine is defined for dashboard at

[code]

If the api is not accessible by the dashboard at the provided address, it won't work.

I didn't work on Digital Ocean before but if you can dynamically obtain and use ip / dns of the api, that would solve the problem.

[2020-04-30 13:49] moderatemisbehaviour commented on #46
I'm currently looking into this and planning to use Cloud Run (serverless container service) and MongoDB Atlas' free sandbox tier (can be partially managed through Google Cloud).

I've had a brief look at the code and can't see any reason this shouldn't be able to run statelessly when the MongoDB driver is used, is that correct @agoldis ?

P.S. Many thanks for the wonderful work on this repo and t

[2020-05-02 22:21] agoldis commented on #46
@moderatemisbehaviour Hi Daniel!

I guess you're talking about the "director" service with MongoDB drivers for persistency.

You can start the service on-demand in serverless environment and point all the requests to temporary service. It might be a bit challenging to discover the service address for configuring clients.

I never actually tried to run it in stateless setup, I am very curious about

[2020-05-02 22:23] agoldis commented on #18
@StefanS-O glad to heard you've had some progress! Tell me if I can help somehow - working code is better than nothing :)

[2020-05-02 22:25] agoldis commented on #66
@danielvianna Tell me if you need any help, and if I can close the issue.

[2020-05-02 22:27] agoldis commented on #5
@StefanS-O  Yeah, it seems like a good approach!

There're currently other enhancements that have more upvotes, I hope it will be implemented eventually.

[2020-05-02 22:37] agoldis commented on #58
Hi @redaxmedia

I barely use Telegram, if you don't mind let's just use this issue, shouldn't be too complex.

Here's the list of tasks and

- [x] Linter

Added in #67

- [x] CI

Added in #67 testing and lint runs via github actions.

- [x] Tests

This is a long-term task, I have added the infrastructure to enable writing tests on #67, now I will ask people to start adding tests for changed code.

[2020-05-02 22:49] agoldis commented on #8
@danielvianna thanks for sharing the script, I have added it to https://github.com/agoldis/sorry-cypress/wiki/Configuring-cypress-agents#overriding-cypress-config-file-with-a-script-windows-only

[2020-05-02 23:41] redaxmedia commented on #58
I don't know what to say... guess you worked alone for too long.

[2020-05-03 00:07] agoldis commented on #58
@redaxmedia I am confused...  What do you mean?

If you had a particular way of doing CI / tests in your mind, please don't hesitate - I am happy to accept PRs and add collaborators to the project.

[2020-05-03 01:03] redaxmedia commented on #58
Give me a minute to explain...

I have the strong opinion that slow programmers get faster to results. They focus on brain storming, create concepts and think over before taking action. Doing this in a team is even better.

The fact that you don't spend one or two hours for a chat but instantly opened your IDE and started coding is just a bit disappointing. Not sure if you get the point but you pr

[2020-05-03 01:41] redaxmedia commented on #8
@csvan Not sure if linking the issue to a project that will cut of their earnings is such a smart thing!?

[2020-05-03 03:05] agoldis commented on #58
Thanks for the explanation Henry.

I am quite busy with life nowadays, I don't have the capacity for higher communication bandwidth, unfortunately. I have had few hours today to spend, I was happy with the progress because I didn't have time to tackle it during the week, and people have invested their time / effort so I wanted to take action and support their efforts... Also, most of the infrastru

[2020-05-04 06:14] xtroncode opened #69 "0.3.0 breaks director service"
The director service in 0.3.0 fails to run with the following error:

[code]

[2020-05-04 08:24] davidggevorgyan commented on #69
Have the same with docker image 0.3.0

[2020-05-04 15:38] #69 closed

[2020-05-04 15:48] agoldis commented on #69
Sorry, the rest of the packages are also broken. will fix in a follow-up release.

[2020-05-04 18:07] csvan commented on #8
@redaxmedia I don't see it cutting off their earnings. Cypress have a vested interest in making their product more popular, and open source alternatives to their own dashboard actually helps with that. Enterprise customers will always be likely to go for the commercial option, which is their offering.

[2020-05-04 18:21] redaxmedia commented on #8
@csvan I'm 100% sure they have another opinion when it comes to their business.

[2020-05-04 18:26] csvan commented on #8
@redaxmedia ok.

[2020-05-04 18:42] danielvianna commented on #8
Maybe we should ask them how they feel. There should be a way to do a coordinated effort so their bigger clients are not taking advantage.
I am in debt with their help, not just the platform but free advice and training. What they have done basically saved a project. However, the company I work (almost the size of a startup) for was put on pause after COVID, so we really can't afford until enterta

[2020-05-04 18:47] danielvianna commented on #66
You can close no problem

[2020-05-04 18:47] #66 closed

[2020-05-05 11:48] moderatemisbehaviour commented on #46
Thanks for the info @agoldis 🙂 I'll keep this issue updated with my progress. I've added some notes below to potentially save others going down the same dead-end I did.

---

My initial attempt using Cloud Run was unsuccessful because MongoDB Atlas requires that client IPs are whitelisted and static IPs are currently not possible with the _managed_ version of Cloud Run. Apparently support for this

[2020-05-06 05:57] agoldis commented on #8
I've reached to the leadership team of cypress, will try to establish relationship. Will keep you posted.

[2020-05-07 09:17] moderatemisbehaviour commented on #46
Very easy to deploy the director to GAE standard environment, I have it [working on my fork](https://github.com/agoldis/sorry-cypress/compare/master...moderatemisbehaviour:gcloud-deployment).

I'd like to write a terraform script that will this along with the dashboard, API, and database. Would you be open to a PR at some point @agoldis ?

[2020-05-07 16:57] agoldis commented on #46
@moderatemisbehaviour terraform would be awesome! I don't have much experience with it, but AFAIK that will allow deploying to different cloud providers, am I right?

[2020-05-08 05:01] danielvianna opened #72 "General instability and console bugs"
My Digital Ocean was on and off and I could not figure out whether it was a problem on the server side or database.

I suddenly lost all of the data, then it came back out of the blue. Then I lost again (it said no data on the dashboard) then a CORS problem on Chrome console. For some reason it disappeared after I whitelisted http://cypressdashboard.id.cast-soft.com:4000 (graphQL schema) in Bitdef

[2020-05-08 05:04] danielvianna commented on #72
**This is my docker-compose.full**

[code]

**This is my docker-compose.yml**

[code]

[2020-05-08 17:35] agoldis commented on #72
@danielvianna Sorry to hear you've had troubles with using the dashboard. What is your timezone, let's have a call I will try to help you.

https://join.slack.com/t/newworkspace-vtc6762/shared_invite/zt-e7dr91df-cIM6IvB2oaDLj9_MZyocLQ

[2020-05-09 11:44] StefanS-O commented on #18
@agoldis could you create a minio-driver branch and grant me write access to only that branch, or should i push another branch to my fork? It works well with external Minio Instances.

I have written a docker compose file for the minio local setup, but i need to add an entry to /etc/hosts to make it work.

<img width="1425" alt="Bildschirmfoto 2020-05-09 um 13 44 04" src="https://user-images.githu

[2020-05-09 19:18] danielvianna commented on #72
Toronto time (EST).
I joined the channel.

[2020-05-12 09:33] natkrish opened #73 "AWS Tutorial: Unable to deploy stack in AWS"
Hi ,
I am trying to set up the stack in AWS - I went through your tutorial and it seemed pretty straight forward. So I did click through few buttons on screen but unfortunately it kept saying ROLLBACK IN PROGRESS> Any help much appreciated
![image](https://user-images.githubusercontent.com/12541984/81668107-0b7e5a00-943c-11ea-8ded-2e0db8de2a9d.png)

[2020-05-13 09:49] klaidaslekavicius commented on #42
Hello! I seem to get the same issue. `sorry-cypress` was deployed using AWS Cloudfront stack provided.

![Screenshot 2020-05-12 at 17 18 00](https://user-images.githubusercontent.com/36949465/81797686-ccbdd200-9517-11ea-9726-4e0f25a21ee9.png)

Seems that the issue is identical to the one provided here, and I think we have the latest version deployed. Dashboard starts showing "No data".

[2020-05-13 16:31] agoldis commented on #73
@natkrish can you please provide more details? Click throughout the tabs to see what resources failed the setup

[2020-05-13 16:35] agoldis commented on #18
@StefanS-O awesoeme! sorry for delayed response. Go ahead and create you branch on a forked repo, you will then be able to create a pull request from the branch.

[2020-05-14 13:42] natkrish commented on #73
@agoldis So i think i didnt get time to explore more about the failure in AWS so I moved on to install it locally. But I have another problem in local. When I try to do the necessary steps on \packages\director
npm install - this went through fine
npm run build - FAILED
![image](https://user-images.githubusercontent.com/12541984/81941678-0d3d4e80-95f1-11ea-9a8a-e158cb44b572.png)
so i am unable to

[2020-05-14 21:59] agoldis commented on #73
@natkrish it won't take much time to re-run cloud formation template, we just need to see the error message in "Events" tab.

Also, I was able to install build "director" service - looking at the error message, it seems there's a global Mocha installed and its type definition interfere with jest package. You could just run `npm run build:js` - that will skip TS check.

Another alternative you dock

[2020-05-15 11:36] elkorba opened #74 "Azure support"
Hi,
are there any plans to support one of the Azure Storage services for screenshot driver?
If yes then when we can expect it?

Regards

[2020-05-19 04:57] agoldis commented on #74
Currently there're no plans for Azure - if you have expertise / time contributions are appreciated!

[2020-05-19 04:57] agoldis commented on #73
@natkrish Are we good to close this?

[2020-05-23 09:53] MeStrak opened #76 "Suggestion: easy update of api_url"
Hey, great project!

I think I found an easier way to update the api_url. This will replace any occurences in app.yml. That includes the development one but it could probably be updated to change only production if required.

`sed -i -e 's|api_url:.*$|api_url: "https://sorry-cypress-demo-director.herokuapp.com/"|g' /*/.cache/Cypress/*/Cypress/resources/app/packages/server/config/app.yml`

[2020-05-23 13:51] MeStrak commented on #8
@agoldis  I just created suggestion #76 before finding this thread. It's basically a one line command which will edit the cypress config, without the need to touch the hosts file.

I agree that the suggested change to core Cypress is the best option to either provide this as a command line switch or env var. Meanwhile, I'm not really sure if editing the hosts file is really a nicer option that cha

[2020-05-23 17:58] agoldis commented on #8
@MeStrak thank for sharing the one liner, that's quite handy! I will add it to the project.

I would leave it to users to decide what better works for them, one option can work better for some ppl, but not for all :)
Make sense?

[2020-05-23 20:02] MeStrak commented on #8
Yep, makes total sense :)

[2020-05-23 22:09] jeansymolanza commented on #73
Is there a Cloudformation template for deploying the Director service specifically? I currently am experiencing the same issues as above, I can't deploy the stack to AWS. I am only interested in the Director however.

[2020-05-23 22:12] agoldis commented on #73
@jeansymolanza what specific error are you seeing? The only template I have includes all 3 services. You can edit it and remove unnecessary service containers.

[2020-05-23 22:20] jeansymolanza opened #77 "AWS Codebuild run does not connect to Heroku Director URL"
I have set up an AWS Codebuild build.yaml as follows as per https://github.com/agoldis/sorry-cypress/issues/6#issuecomment-598695346:

[code]

CYPRESS_DIRECTOR_URL is my Heroku Director URL (https://opsonion-ci.herokuapp.com). I could not figure out how to set up the Cloudformation stack due to incessant errors, so resorted to this approach.

Strangely enough, my test runs are not being picked up

[2020-05-23 22:23] jeansymolanza commented on #73
This is from my most first run:

![image](https://user-images.githubusercontent.com/12545590/82741630-30cc6b80-9d4c-11ea-95fd-75dc40b15f97.png)

I have never had the bucket `sorry-cypress-test-results` created in the past. So I am unsure why it failed.

[2020-05-23 22:32] jeansymolanza commented on #73
I can have a look but I’m a bit uneasy about tweaking something that I don’t understand too well. What needs to be removed from the template in order to just deploy a vanilla director configuration to AWS (as with the Heroku deployment)?

I have raised a separate issue wherein I had a CodeBuild configuration that pointed to Heroku instance but unfortunately that doesn’t work.

[2020-05-23 23:13] agoldis commented on #73
@jeansymolanza as for the cloudformation, you'll need to provide a unique name for the stack - it fails while creating S3 bucket `sorry-cypress-test-results`.

<img width="1340" alt="Screen Shot 2020-05-23 at 4 08 13 PM" src="https://user-images.githubusercontent.com/1637928/82742231-415ef080-9d10-11ea-8487-f974f10d202d.png">

S3 requires bucket names to be unique globally, someone has already tak

[2020-05-23 23:16] jeansymolanza commented on #73
Thanks didn’t realise that. I thought it was scoped at account level. I’ll give it a go.

[2020-05-23 23:19] agoldis commented on #73
As for CF template with director only, I will have to test what exactly record have to be removed. If you're looking to reduce costs, removing the secondary services won't help because you're getting charged for resources, and all three services use the same ECS "node" and you'll still need a load balancer to use DNS names for accessing the service.

[2020-05-23 23:22] agoldis commented on #77
I personally don't use Codebuild, this solution was provided by @KyleThenTR (@KyleThenTR, would you be able to help?)

Looking at the snippet, I suspect that the changes are not preserved between different steps. Would you be able to `cat` the contents of `/root/.cache/Cypress/*/Cypress/resources/app/packages/server/config/app.yml` at `build` stage?

[2020-05-23 23:23] agoldis commented on #77
@jeansymolanza also, having heroku instance accessed from codebuild seems like absolutely valid solution

[2020-05-23 23:36] agoldis commented on #76
@MeStrak documentation updated https://github.com/agoldis/sorry-cypress#Using-one-liner thanks for your contribution

[2020-05-23 23:36] #76 closed

[2020-05-24 07:16] jeansymolanza commented on #77
Thanks for the suggestions. I have just tried to rerun it without any changes and it seems to work now (bar `cat`-ing the contents  of `/root/.cache/Cypress/*/Cypress/resources/app/packages/server/config/app.yml`. Sorry about raising this prematurely. I am not exactly sure what is going on. It was pretty late, so I might have been pointing at the wrong commit from CodeBuild as I am triggering the

[2020-05-25 17:51] agoldis commented on #77
Ok, I am closing the issue then

[2020-05-25 17:51] #77 closed

[2020-05-25 17:52] agoldis commented on #73
Closing the issue, please let me know if you need any help

[2020-05-25 17:52] #73 closed

[2020-05-25 22:43] mike-park commented on #42
Ditto using the latest docker images...

[2020-05-28 05:35] agoldis commented on #72
@danielvianna hey, I am back to business, let's chat

[2020-05-28 17:28] #42 closed

[2020-05-28 18:04] agoldis commented on #42
should be resolved in https://github.com/agoldis/sorry-cypress/releases/tag/v0.4.1

[2020-06-03 05:24] nickcox commented on #8
Here's an equivalent one-liner for PowerShell on Windows:

[code]

[2020-06-05 18:26] agoldis commented on #72
ok, I am closing this issue due to inactivity. @danielvianna please feel free to reach me online

[2020-06-05 18:26] #72 closed

[2020-06-05 20:25] agoldis commented on #8
@nickcox Updated the readme https://github.com/agoldis/sorry-cypress/blob/master/README.md#Using-one-liner. Thank you!

[2020-06-10 23:21] agoldis commented on #8
**Update**

After an introduction / conversation with cypress leadership, it seems unlikely that they would accept contributions directly associated with `sorry-cypress`.

That was a delicate topic to discuss. Cypress is trying to balance between commercial approach and supporting the community. Good news is that they are keen to improve their offerings / product to make the original cypress bette

[2020-06-14 17:27] huskywhale opened #83 "Thank you for creating this project"
I used this recently at work and it worked really well.
I even blog posted about it
https://medium.com/@adityahbk/cypress-parallelization-on-jenkins-using-sorry-cypress-197a86ad8ed1?sk=a4af35eb5fc655a75980f66b2c7c1901

[2020-06-14 21:54] agoldis commented on #83
Great! Thanks for posting here. I will share a link to your publication in Readme, ok?

[2020-06-14 22:07] huskywhale commented on #83
Thank you, that's super nice of you!

[2020-06-14 22:07] #83 closed

[2020-06-18 09:39] weyert commented on #58
Personally, I think having everything in one repository is really convenient for people that want to start working on this project. I definitely wouldn't be consider contributing if I have to go checkout  five repositories to get started. Personally, I don't see the added value of moving everything to separate repositories, I am working on a project which has 50+ repositories and it's difficult to

[2020-06-18 09:42] weyert commented on #74
The easiest way to accomplish this without code changes would be to put Minio in between as the S3 compatible API which then talks to Azure Storage: https://docs.min.io/docs/minio-gateway-for-azure.html

An alternative would be to write an abstraction so you can write ones for Azure Blob Storage, Google Blob Storage and one for the S3 compatible ones

[2020-06-26 08:11] mihai-cindea opened #84 "Demo website is broken"
The demo website seems to be down. Thanks for all the hard work!

https://sorry-cypress-demo.herokuapp.com/

[2020-06-26 13:18] ten-aps opened #85 "S3: 403 Forbidden"
Hi,

Getting an 403 when dashboard is trying to retrieve the screenshot/video file. Here is the policy I have set up on the S3 side

 "Action": [
                "s3:PutObject",
                "s3:PutObjectAcl",
                "s3:GetObject"
            ],
            "Resource": "arn:aws:s3:::<S3_BUCKET_NAME>/*"

If you can help me with this, that would be great.

[2020-06-26 17:08] agoldis commented on #84
What issue are you seeing with the demo site?

[2020-06-26 17:11] mihai-cindea commented on #84
this is all i see? Not sure exactly how it should look like though so please correct me if i'm wrong.

![image](https://user-images.githubusercontent.com/56123381/85883193-e1f97200-b7e0-11ea-95f2-07f41365507a.png)

[2020-06-26 17:19] agoldis commented on #84
Fixed

[2020-06-26 17:19] #84 closed

[2020-06-26 18:00] agoldis commented on #85
Sure! let's start by:

1. Make sure files are in the bucket
2. Examine specific file permissions
3. Try to read a specific file using the same url that's the dashboard is using (use your browser devtools to see the network request)

Please tell me what you've found.

[2020-06-28 22:22] ten-aps commented on #85
Sorry I have limited access to the s3 bucket, since it configured by devOps person. Also I am new to aws!

Using the CLI i am not able to see the files ( ex. - aws s3 cp s3://bucket_name/196216a2-933e-46bc-b80a-2e1dd78a01d8.mp4 ~/Downloads
Getting - fatal error: An error occurred (403) when calling the HeadObject operation: Forbidden ). Does this means that files does not even exists?

Using the d

[2020-06-29 05:37] agoldis commented on #85
That means that the account you're trying to use for CLI command does not have permissions to access the stored object.

Here's an example from sorry-cypress demo:
https://sorry-cypress-demo.herokuapp.com/instance/94e812c5-5320-4668-b224-db6452b980c4/test/r5

AWS S3 configuration:
<img width="1184" alt="Screen Shot 2020-06-28 at 10 35 58 PM" src="https://user-images.githubusercontent.com/1637928/8

[2020-06-29 15:32] ten-aps commented on #85
Thanks for all the help, seems like DevOps had the configuration incorrect. This issue has been resolved

[2020-07-04 07:03] DanielCambray commented on #6
Hi, great work ! Could you tell us what is there in your cy:merge-results and cy:generate-report commands ?

Thanks.

[2020-07-05 14:15] KyleThenTR commented on #6
@DanielCambray oh sure, here are the 2 commands

[code]

It's using these libraries:
[code]

[2020-07-09 07:57] neilbeukes opened #86 "UI/UX updates"
Hi,

Is there an opportunity i can jump in and assist in updating the UI for a bit of a more polished experience.

It currently is very functional but looks like the css didnt load :P

BTW. Great work so far. Working very nicely

[2020-07-09 17:11] agoldis commented on #86
Sure! You are more than welcome!

[2020-07-10 10:47] #86 closed

[2020-07-16 00:16] jhicken opened #87 "UI overhaul and other such improvements?"
First... you rock man thanks for your hard work on this project.

I dont know if you have a list of features anywhere that you would like to implement.
But here is my swing at it.

 Total run time
1. Individual spec runtimes
2. Automatic data refreshes (So you dont have to click refresh a bunch until its done)
3. Heuristics for specs on this projectid to guess how long each spec will run for
4. Da

[2020-07-16 04:58] agoldis commented on #87
Hi @jhicken!
Thanks for those suggestions you've pointed out. If you were to choose 3 most important, what would it be?

[2020-07-16 04:58] #85 closed

[2020-07-16 15:20] jhicken commented on #87
Yeah absolutely.

I would say most important things for me would 1, 5, and 7.

7 is probably the most important. Hooking up jenkins and or github up to report that tests are complete is pretty huge.

Also if you had 1 it should be pretty easy to calculate a total runtime.

[2020-07-19 14:48] ismail-codinglab commented on #5
Is there a place where we can see which feature has more upvotes or some sort of central place where we can see features vs number of votes?

[2020-07-19 14:51] ismail-codinglab commented on #87
I would say 1,4 and 5

7/8 are too much bound to github, we all use different providers for our git solutions

[2020-07-20 05:02] jhicken commented on #87
@ismail-codinglab Yeah I mean a github app could be written for the github specific use case. Due too popularity of github that hits a vast audience.
However, my recommendation was not entirely github specific. I was mostly asking for something generic to connect to. That would push events that you would use to manually trigger your own actions from.

Such as perhaps there is a sorry-cypress webso

[2020-07-20 05:32] agoldis commented on #5
@ismail-codinglab no such place :) GitHub issues is the only one I've got

[2020-07-20 05:33] agoldis commented on #87
@jhicken @ismail-codinglab great discussion here, I am on vacation currently, will be back next week and be able to contribute

[2020-07-20 16:28] joe-carpenter opened #90 "director becomes unresponsive after mongo blip"
Hi!

Firstly, cool project - thanks a million!!

We've been running `sorry-cypress` for maybe a couple of months now, in a very lightweight fashion on a Kubernetes platform, and we've been making very heavy use of it.

MongoDB (also running on Kubernetes) appears to have died and the pods were recreated - looks like we lost both primary and secondary but not the arbiter.

Logs from director start

[2020-07-21 19:48] agoldis commented on #87
Summarizing what was done in #89

- [x] Individual spec runtimes
- [x] Automatic data refreshes (So you dont have to click refresh a bunch until its done)
- [x] Date and time all specs and individual specs started running
- [x] Number of passed and failed tests on a spec level at the overview of a "run"

Good ideas yet to implement:

- [ ] Heuristics for specs on this projectid to guess how long e

[2020-07-21 19:52] agoldis commented on #90
Thanks for reporting that. I will be honest with you, just restarting the director would be the most efficient approach given your use case. I will look into wrapping `director` in forever or similar - that shouldn't be too difficult.

[2020-07-21 20:06] agoldis opened #92 "Add contributors"
@all-contributors please add @jhicken for code

[2020-07-21 20:14] agoldis commented on #87
https://github.com/agoldis/sorry-cypress/releases/tag/v0.5.0

[2020-07-21 20:17] agoldis commented on #92
@all-contributors please add @jhicken for code and ideas

[2020-07-21 20:21] agoldis commented on #92
@all-contributors please add @janineahn, @xtroncode, @TomaszG and @coreyshirk for code and documentation

[2020-07-21 20:21] agoldis commented on #92
@all-contributors please add @xtroncode, @TomaszG and @coreyshirk for code and documentation

[2020-07-21 20:22] agoldis commented on #92
@all-contributors please add @TomaszG for code and documentation

[2020-07-21 20:23] agoldis commented on #92
@all-contributors please add @janineahn for code and documentation

[2020-07-21 20:23] agoldis commented on #92
@all-contributors please add @xtroncode  for code and documentation

[2020-07-21 20:23] agoldis commented on #92
@all-contributors please add @hanicker  for code

[2020-07-21 20:23] agoldis commented on #92
@all-contributors please add @abhidp for documentation

[2020-07-21 20:24] agoldis commented on #92
@all-contributors please add @coreyshirk  for documentation

[2020-07-21 20:26] agoldis commented on #92
@all-contributors please add @TomaszG for code and documentation

[2020-07-21 20:28] agoldis commented on #92
@all-contributors please add @abhidp for documentation

[2020-07-21 20:30] agoldis commented on #92
@all-contributors please add @xtroncode for code and documentation

[2020-07-21 20:32] agoldis commented on #92
@all-contributors please add @janineahn for code and documentation

[2020-07-21 20:34] agoldis commented on #92
@all-contributors please add @nickcox for documentation

[2020-07-21 20:34] #92 closed

[2020-07-21 20:35] agoldis commented on #92
@all-contributors please add @nickcox for documentation

[2020-07-21 20:36] agoldis commented on #92
@all-contributors please add  @MeStrak for documentation and code

[2020-07-21 20:37] agoldis commented on #92
@all-contributors please add @mlsad3 for documentation and code

[2020-07-21 20:38] agoldis commented on #92
@all-contributors please add @KyleThenTR for documentation

[2020-07-21 20:39] agoldis commented on #92
@all-contributors please add @redaxmedia for ideas

[2020-07-21 20:40] agoldis commented on #92
@all-contributors please add @huskywhale for documentation

[2020-07-21 20:41] agoldis commented on #92
@all-contributors please add @adityatr for content

[2020-07-22 16:33] tallkid24 opened #110 "Turn off autorefresh by default"
The autorefresh is nice but every second its retrieving MBs of data which if you accidentally keep the dashboard up, will eat up your datacap. Would be nice if it was turned off by default and then you could switch it on.

![image](https://user-images.githubusercontent.com/52414395/88202681-d9912d00-cc0e-11ea-9534-c1a8df8b9615.png)

[2020-07-22 17:05] agoldis commented on #110
😃  @jhicken FYI

[2020-07-22 18:30] jhicken commented on #110
@agoldis should we add an env var for that? Or we could do a localstorrage setting in the UI.

Thoughs?

[2020-07-22 19:02] agoldis commented on #110
- env is too heavy - ppl will need to restart / redeploy the service
- local storage is a good option, but people will still need a UI control for that.

May be a toggle in the dashboard with `off` by default?

@tallkid24 @jhicken  how does that sound to you?

[2020-07-22 19:11] KyleThenTR commented on #110
Sounds good to me

[2020-07-22 19:16] jhicken commented on #110
Yup sounds good.

[2020-07-23 08:34] moderatemisbehaviour commented on #46
Yes indeed! Although I think there is still a layer of vendor-specific configuration required.

[2020-07-23 13:55] TomaszG opened #111 "Old runs loaded with Load More button disappear after 1 second"
**Repro steps:**

1. Open dashboard with more than 5 runs recorded
2. Click Load More button to see old runs
3. Wait a while, check if old runs are visible

**Current result:**
Old runs disappear after 1 second, probably due to the autorefresh feature

[2020-07-23 19:45] #111 closed

[2020-07-23 19:47] agoldis commented on #110
@jhicken I have temporary disabled polling for root view due #111

I will work later polling-friendly pagination and toggle as discussed on #110

[2020-07-23 19:57] agoldis commented on #46
Hey @moderatemisbehaviour, are you still using this project? I have seen the changes on your fork, it seems like you're only using the director service.

- Did you have any success with Cloud Run?
- Is the current solution working with App Engine?

I am thinking about creating a tutorial, guide based on your progress.

[2020-07-24 08:14] moderatemisbehaviour commented on #46
Hey @agoldis 👋

I was indeed just using the director service, this was for a POC to demonstrate parallelisation of Cypress tests to my employer so we're not using it right now but will be implementing it for real in the near future 🙂

Yep the current solution works fine on App Engine so please do create a guide for it and let me know if I can help. Unfortunately I've just not had time to write the

[2020-07-26 17:42] mbecca commented on #18
Hi, nice work! You can share the branch? I am interested !

Regards, M

[2020-08-02 09:32] StefanS-O commented on #18
@mbecca i will push the branch and write up the remaining kinks. Together we should figure it out :D

[2020-08-02 10:01] StefanS-O commented on #18
@agoldis @mbecca here it is: https://github.com/StefanS-O/sorry-cypress/tree/feature/minio-local-storage

[2020-08-03 11:56] hdiass opened #115 "Add support for Azure Storage"
Hello,

It would be lovely to add azure storage support too :)

[2020-08-04 03:05] mbecca commented on #18
Hi @StefanS-O , stefanso/sorry-cypress-director:latest is pushed in dockerhub or do I have to build it locally?

Thank you in advance!

M.

[2020-08-04 03:35] mbecca commented on #18
@StefanS-O i
It is giving me an error executing:  docker-compose -f docker-compose.full.minio.local.yml up

Error:

createbuckets_1  | mc: <ERROR> Unable to initialize new alias from the provided credentials. Get http://storage:9000/probe-bucket-sign-bpf6k2nt4jv1/?location=: dial tcp 172.23.0.2:9000: connect: connection refused.

Any idea?

Regards,

M

[2020-08-04 05:21] StefanS-O commented on #18
@mbecca did you add storage to your /etc/hosts file (on linux or osx) or c:\Windows\System32\Drivers\etc\hosts in Windows?

[2020-08-04 05:48] mbecca commented on #18
Forget it, it was a network problem in WSL (Windows Subsytem Linux). Thank you anyway!

M.

[2020-08-04 05:50] StefanS-O commented on #18
So it works? :D

[2020-08-05 06:58] agoldis commented on #115
@hdiass I personally don't use Azure, but I if you have an experience and few hours it shouldn't be too hard to write a storage driver for some kind of Azure storage.
There's already a pending enhancement request #74. Please upvote / comment on the existing issue. I am closing this one in favour of the other

[2020-08-05 06:58] #115 closed

[2020-08-05 07:07] agoldis opened #116 "Improve drivers"
- Changing specific drivers requires releasing the whole pack of the services.

- There's no need for a new release when a new driver is added and / or existing driver changes.

- Ideally - driver is a separate package that's somehow defined on a service level, using new / updated driver should be as easy as changing a config file w/o a new release

[2020-08-05 07:14] agoldis commented on #18
Thanks @StefanS-O, I have tested locally - it works! Amazing work! 🎉
Released as https://github.com/agoldis/sorry-cypress/releases/tag/v0.6.0

[2020-08-05 07:14] #18 closed

[2020-08-05 07:17] agoldis opened #117 "add @StefanS-O"
@all-contributors please add @StefanS-O for code, example, documentation and ideas

[2020-08-05 07:18] agoldis commented on #117
@all-contributors please add @StefanS-O for code, example, documentation and ideas

[2020-08-05 07:19] #117 closed

[2020-08-05 08:20] agoldis opened #119 "Migrate the documentation to sorry-cypress.dev"
The code is hosted at https://github.com/sorry-cypress/sorry-cypress.dev

This is the documentation structure I thought about. It greatly resembles what we already have at https://github.com/agoldis/sorry-cypress

- Introduction (features, badges, pitch gif)
- Demo (link to heroku)
- Quickstart
- Terminology
 - Director
    - Configuration
    - Execution Drivers
       - In-memory
       - MongoD

[2020-08-05 10:19] StefanS-O commented on #119
@agoldis i can help

[2020-08-05 13:30] coreyshirk commented on #119
@agoldis what are your thoughts on making a discord for the project?

[2020-08-05 13:36] StefanS-O commented on #119
@coreyshirk there is already a Slack channel with not many participants. Maybe you can join there, or is there a specific reason why you prefer Discord?

[2020-08-05 13:45] coreyshirk commented on #119
@StefanS-O didn't know there was a Slack channel, no need for Discord then

[2020-08-05 13:51] StefanS-O commented on #119
@coreyshirk : https://join.slack.com/t/sorry-cypress/shared_invite/zt-eis1h6jl-tJELaD7q9UGEhMP8WHJOaw seems rather new :)

[2020-08-05 21:32] gs-scooter opened #120 "Feature Request: Slack integration"
For starters, I would like to congratulate you for developing a really great product. Setup was straightforward and it worked like a charm.

One of the things I like about Cypress' dashboard is the Slack integration and the ability to push test failure notifications to a channel. Would something like that be possible for this project?

[2020-08-05 21:35] agoldis commented on #120
Thanks for suggesting that feature!
I like the idea! Let's see if more people want to have this kind of integration.

[2020-08-06 14:13] yannay000 opened #121 "Non root run for sorry-cypress-dashboard"
Could you add non root run for this image

### dashboard:
    image: agoldis/sorry-cypress-dashboard:latest
    environment:
      GRAPHQL_SCHEMA_URL: http://localhost:4000
    ports:
      - 8080:8080
    depends_on:
      - mongo
      - api

from docker-compose.full.yml, please?

[2020-08-07 06:33] agoldis commented on #74
FYI minio driver is now available https://github.com/agoldis/sorry-cypress/releases/tag/v0.6.0

[2020-08-07 23:32] jhicken commented on #87
I have a couple more things to add to my to-do list.

- [ ] `hide passing tests` should persist with local storage
- [ ] Live test results and stdout from test runner machines
- [ ] Add URL that assertions failed at to the spec results page (this might be debatable but I think its super useful)

Also I started on the heuristics.

[2020-08-10 22:04] coreyshirk opened #123 "100% unit test line coverage for director package"
Setup Jest style unit tests for the director service.

[2020-08-11 04:32] agoldis commented on #123
Jest is already configured. Just run `cd packages/director && yarn test`

[2020-08-11 07:04] agoldis commented on #110
Resolved by #122

[2020-08-11 07:04] #110 closed

[2020-08-11 07:09] agoldis opened #124 "Auto-refresh for runs list"
Today it is cursor-based pagination and it is incompatible with current auto-refresh implementation.

Possible solutions:

- Use simple offset-based pagination - the data doesn't change frequently, that should be enough
- Work around naive Apollo polling an merging https://github.com/apollographql/apollo-feature-requests/issues/92 https://github.com/apollographql/apollo-client/issues/4068
- Subscr

[2020-08-13 17:57] agoldis commented on #119
https://sorry-cypress.dev

[2020-08-13 17:57] #119 closed

[2020-08-20 14:26] bradyolson opened #125 "Update test instance view for Cypress 5.0"
With Cypress 5.0.0, the results API has been changed to include information about retries. https://docs.cypress.io/guides/references/migration-guide.html#Module-API-results

The test view still shows the test title, state badge, and screenshot. However, the error message and stack trace are missing. GraphQL models and the instance view should be updated to display this information.

[2020-09-02 13:12] KyleThenTR opened #128 "AWS S3 screenshot uploads not working"
Not sure if this is just something messed up with our configuration.. but all screenshot uploads to S3 suddenly stopped working a week ago or so. The console output just says "Failed uploading".

Our configuration is a little different, it's a private S3 bucket, but I've made sure to allow the Task role permissions to write to the S3 bucket (I even allowed the whole account and every single S3 act

[2020-09-02 14:32] lipt0n commented on #128
hi,
have the same error. my s3 bucket is public. error is:

<Error><Code>AuthorizationQueryParametersError</Code><Message>Error parsing the X-Amz-Credential parameter; the region 'us-east-1' is wrong; expecting 'us-west-2'</Message><Region>us-west-2</Region>

[2020-09-02 22:10] agoldis commented on #128
@KyleThenTR  @lipt0n  What cypress version are you using?

[2020-09-03 04:38] agoldis commented on #128
I have just checked the master branch and it all works fine. Same for the demo version  at https://sorry-cypress-demo.herokuapp.com/, which runs the most recent sorry-cypress version also works.

@KyleThenTR When you say "private" do you mean it has no public read? That shouldn't affect the write operations. Can you please run cypress in debug mode `DEBUG=cypress:*` to see the error details?

@lip

[2020-09-03 10:36] lipt0n commented on #128
i did try setting S3_REGION and S3_READ_URL_PREFIX , but error is the same:
cypress:server:api request to url: PUT http://flipper-cypress-1182330490.us-west-2.elb.amazonaws.com:8080/instances/a82a594a-d7cb-44e9-ac95-2d3994841537 with params: {"body ....
.....
cypress:server:record failed to upload artifact { file:
....

<Code>AuthorizationQueryParametersError</Code><Message>Error parsing the X-Amz

[2020-09-03 10:43] lipt0n commented on #128
or is this something to setup in sorry cypress director ?  setting this up in cypress doesn't change a thing

[2020-09-03 11:21] lipt0n commented on #128
ok, I.ve got it
after setting S3_REGION env in director it starts working.
thx for help!

[2020-09-08 20:20] KyleThenTR commented on #128
@agoldis looks like they are uploading now, it's just not showing up on sorry cypress. We are on Cypress v5.0.0. Could that be the reason the screenshots stopped showing?

[2020-09-09 04:24] agoldis commented on #128
@KyleThenTR Are you able to access the S3 image by just typing the uploaded image URL? I believe it has something to do with the way you set permissions on S3.

[2020-09-09 12:35] KyleThenTR commented on #128
@agoldis no I can't. I think it does have to do with the fact the the bucket is private and I can't set the bucket policy to be allowed for *. Now that I think about it, the bucket got changed to private the other week and that's when it stopped working. Don't think I can change that though since it's policy now

[2020-09-09 12:57] KyleThenTR commented on #128
I suppose I could setup a cloudfront distribution to be able to access those images and then set that S3_READ_URL_PREFIX param

[2020-09-10 15:15] joe-carpenter opened #133 "'Aggregation project operator not supported' error from API component (when using AWS DocumentDB)"
NB this deployment is currently configured using AWS DocumentDB (MongoDB 3.6 'api compatibility') - we have been running on-cluster Mongo up until now, but would like to make it a bit more stable and scalable as we are using `sorry-cypress` quite heavily.

All `sorry-cypress` components are latest versions.

When the frontend loads the main `All Runs` page, it sends a call to the API component wit

[2020-09-10 15:28] joe-carpenter commented on #133
Guessing its here: https://github.com/agoldis/sorry-cypress/blob/master/packages/api/src/datasources/runs.ts#L66 (NB I am not a JS dev either!!) this does not appear to work with supported aggregations in DocumentDB (see https://docs.aws.amazon.com/documentdb/latest/developerguide/mongo-apis.html#mongo-apis-dababase-aggregation) ... is there some other way of doing it that would work?

[2020-09-10 16:14] joe-carpenter commented on #133
NB @agoldis... If I just delete [these lines](https://github.com/agoldis/sorry-cypress/blob/master/packages/api/src/datasources/runs.ts#L65-L71) and build and push the image locally, I can then see stuff on the dashboard, and the API error goes away... not sure what implications this really has though..

[2020-09-10 17:32] agoldis commented on #133
@joe-carpenter glad you were able to resolve it!
According to
https://docs.aws.amazon.com/documentdb/latest/developerguide/mongo-apis.html#mongo-apis-aggregation-pipeline DocumentDB doesn't support `$map` aggregation stage.

Some UI info might be missing. That can be fixed by modifying the query and avoid using $map. Alternatively you can switch to Atlas and use the original Mongo

[2020-09-10 21:04] KyleThenTR commented on #128
@agoldis I fixed this. I had to set the S3_ACL env var to private and then add a cloudfront distribution in front of the S3 bucket, and then updated the S3_READ_URL_PREFIX to the cloudfront distribution URL. This can be closed.

[2020-09-10 21:10] #128 closed

[2020-09-11 14:59] joe-carpenter commented on #133
@agoldis could you comment on how the query could be modified?... I've tried a few things, but my problem is that I don't really understand what that bit of the query is trying to do, and I am also a complete Mongo noob :'(

[2020-09-14 11:58] gmkumar08 opened #134 "Test execution timer never stops for manually terminated runs"
@agoldis excellent work.

I just started using this dashboard (minio version) and noticed that the test execution timer never stops for manually terminated runs. Could you kindly take a look.

![image](https://user-images.githubusercontent.com/46545923/93082984-77552580-f6af-11ea-9bc2-f04a997c6ef0.png)

[2020-09-14 15:04] jhicken commented on #134
@gmkumar08 What would be your desired outcome? Right now the cypress test runner clients (can be in parallel) pick up spec files and when they finish they report the results to sorry-cypress. That report is what dictates that a spec file is complete. If cypress is shut down on the client, the report is never generated. So sorry-cypress thinks the spec file is still running.

Sorry-Cypress defines

[2020-09-14 16:46] gmkumar08 commented on #134
@jhicken Thank you for your response and for your efforts in building this app.

Yes, a "Cancel" button sounds good. I was also wondering if it should be labelled just as "Cancel" or may be something like "Mark as Cancelled" or "Mark as Terminated". Selecting this should essentially stop the timer and mark the entire run as either "Cancelled" or "Terminated".  How does this sound?

If this is not

[2020-09-15 02:37] jhicken commented on #134
Cool yeah this sounds like 2 new features. I think I see the use case for both individually.

On the cancel button. I think its pretty clear to just call it "Cancel" or "Stop". Im not sure the extra wording is needed.

1. Introduce Run timeouts
2. Add cancel button to the Run and Spec views

@agoldis Does this sound good to you?

@gmkumar08 I would love to see a PR for this :)

[2020-09-15 05:36] agoldis commented on #134
Nice analysis, @jhicken!

Indeed it seems like 2 separate issues.  The original cypress dashboard implements the timeout strategy for each run BTW.

[2020-09-15 05:47] agoldis commented on #133
Sorry for delayed response. This query generates and formats data for "Runs" that's used by the dashboard. It is well described [here](https://docs.mongodb.com/manual/reference/operator/aggregation/map/).

[code]

Those two stages are applied one after another:
- `projectAggregation` extracts instance ids as a list field called `fullSpec`
- `lookupAggregation` replaces each member of the list with

[2020-09-15 12:21] Ahton89 opened #135 "cypress 5 new error field"
In last cypress package (5.1.0) error field named is displayError and dashboard not show error message in failed tests.
Need support this for latest versions dashboard.
`"tests" : [
			{
				"testId" : "r4",
				"title" : [
					"All Tools",
					"Есть данные",
					"Видим элементов = 20"
				],
				"state" : "failed",
				"body" : "function () {\n      cy.get('[data-cy^=all_tools__item--]').shoul

[2020-09-15 16:56] agoldis commented on #135
Sure! This has been already reported at #125. Closing this one as a duplicate.

[2020-09-15 16:56] #135 closed

[2020-09-15 17:30] mwren-mshanken commented on #120
Hey there, this would certainly be useful!

I'm currently using the slack-api to roll my own integration. I run my tests via AWS codeBuild using the Cypress API:

This line triggers my cypress tests in codeBuild:

`- node cypress/scripts/deploy.js --configFile deploy-cypress.json --record --ciBuildId WS-${IMAGE_TAG}-${CODEBUILD_BUILD_NUMBER}-${CODEBUILD_START_TIME} --group ws-${IMAGE_TAG} --slackT

[2020-09-16 13:08] gauravguptagit commented on #125
Hi @agoldis & Team,
First of all, congratulation on building such a good product alternative to the official cypress dashboard. Setup and configuration work like a charm, Thank you so much. :heart:

I would like to know the timeline for this issue, By when we could see the test view compatible with cypress 5 runs?

[2020-09-16 14:33] jhicken commented on #120
@mwren-mshanken I have been working on the projects interface. Specifically, for enabling something related to this. I would like on the project edit screen for you to be able to define hook urls. I was thinking we could implement hooks for run completions and spec completions.

I have tried to do something similar to what your doing for reporting (not with slack) and the parallelization was painf

[2020-09-16 17:04] agoldis commented on #125
I hope to have some time for that issue this weekend.

[2020-09-17 11:53] gauravguptagit commented on #125
Great :relaxed:

[2020-09-18 17:23] mwren-mshanken commented on #120
That sounds like a promising approach! I was wondering what service you were using for your hooks.

[2020-09-18 19:40] jhicken commented on #120
I worked on it a bit yesterday. Right now you will configure your project to have 1 or many hooks. Each generic hook will allow you to define a url, headers, and hook events.

When the hook event happens. An http "post" call using axios is performed using the hook url and headers. The body that is provided to that url will contain the full "run" object, "instance" object, and run url.

The events

[2020-09-21 06:58] agoldis commented on #133
Closing this, please reopen if you need further assistance

[2020-09-21 06:58] #133 closed

[2020-09-21 07:29] #58 closed

[2020-09-21 07:42] agoldis commented on #87
@jhicken What should we do with that issue?
- break down to smaller issues?
- close altogether?
- turn into a project?

[2020-09-21 15:02] jhicken commented on #87
Yeah good question. I think depends on where we want the prioritised backlog of work to live. I think projects is a great place to put this stuff. Then we can show our work in progress as well. And If we find that we need to break them down further we can do in on the project board.

Thoughts?

[2020-09-22 03:31] agoldis commented on #87
Great, works for me

[2020-09-22 03:48] agoldis opened #139 "Persist "hide passing tests" in local storage"
Extracting from https://github.com/sorry-cypress/sorry-cypress/issues/87

[2020-09-22 03:48] agoldis opened #140 "Live test results and stdout from test runner machines"
Extracted from https://github.com/sorry-cypress/sorry-cypress/issues/87

[2020-09-22 03:49] agoldis opened #141 "Add URL that assertions failed at to the spec results page"
Extracted from https://github.com/sorry-cypress/sorry-cypress/issues/87
@jhicken can you elaborate pls, what's the idea?

[2020-09-22 03:50] agoldis opened #142 "Expire timed out runs / instances"
Remove claimed status on a spec after 20min? of inactivity.
Extracted from https://github.com/sorry-cypress/sorry-cypress/issues/87

[2020-09-22 03:51] agoldis commented on #14
@jhicken is you what you're trying to achieve with projects and hooks?

[2020-09-22 03:52] agoldis opened #143 "Hooks"
@jhicken I need your help here. Should it be a separate issue or bound to Github / slack ticket?

Extracted from https://github.com/sorry-cypress/sorry-cypress/issues/87

[2020-09-22 03:54] agoldis opened #144 "Projects"
@jhicken That's a ticket to track your effort on projects. From what I remember there're few leftovers:

- [x] ~Fully functional project edit~
- [x] ~[Suggestion] Project human-friendly name~

[2020-09-22 03:56] agoldis commented on #87
@jhicken I have create individual issues for the items / ideas you listed. I've mentioned you in a few that weren't clear to me. Let's try to close this issue when and  create smaller issues if I missed something.

[2020-09-22 05:35] agoldis commented on #144
Thinking more about projects - this might be quite a big change for existing users.
One use case I am worried about is users running tests  that assign random projectIds.... it will be a mess.

Another example is the demo deployment on Heroku - random people run tests on it, every test has a different projectId.

Do you think we can create some kind of project-less setup?

[2020-09-22 06:17] jhicken commented on #144
Yeah I'm glad your bringing this stuff up.

"One use case I am worried about is users running tests that assign random projectIds.... it will be a mess."

My question would be us this a realistic thing? It might be and my use cases just don't match it. Since your projectId is in your cypress.json it seems pretty static most of the time. Is cypress dashboard allowing for a dynamic projecteId?

The

[2020-09-22 06:20] agoldis commented on #125
I have released V5+ compatible docker images:

[code]

The source code is also available https://github.com/sorry-cypress/sorry-cypress/pull/137

Will make an actual release after some testing. You can grab the image today for your trial. It also supports multi-projects setup, thanks to @jhicken

[2020-09-22 06:24] jhicken commented on #144
A couple other things.

With project edit I was not planning on allowing users to rename projects. Seems like an edge case where that would be helpful. And it might be a pain to implement.

However the hooks stuff that I'm currently working on should be editable on a project at anytime.

Is there something else you were thinking of with "Fully functional project edit"?

Can you explain what you ar

[2020-09-22 06:29] jhicken commented on #141
Yeah totally. So when an assertion fails. I would like to have a link to the place the cypress test failed. I use this all the time when I manually run the headed test suit on my machine. Its nice to just be able to click the url in the url bar and do some manual exploration at the exact url the test failed at.

[2020-09-22 06:37] jhicken commented on #14
Yarp.

I'm pretty close aswell. I'm introducing a couple kinds of hooks that you will define on you project. One of them is a github status set of hooks that will post the status of your tests to your github prs on run start, run finish, instance start, and instance finish.

[2020-09-22 06:37] agoldis commented on #144
Yeah, I am not sure if users are actually use as many different projects. It might be a super-edge case.

No, it jus wasn't clear what's the purpose of project edit if there's just project id and it's not editable. I didn't know you're planning to add more stuff in there. May be changing the icon / button to "configure" would be it more clear.

Yeah, I see "yc4ci4" for my project - it's been used

[2020-09-22 06:43] jhicken commented on #143
Good question. The hooks feature could be considered completely separate from github and slack. However its certainly a prerequisite for them.

And im kinda doing the generic hooks in tandem with the github status hooks right now. So its kinda connected to the github issue.

[2020-09-22 06:48] jhicken commented on #87
@agoldis I think you got it all.

 I would love to do the design work to spuce the ui up and i have a lot of cool thoughts around it but actual functionality features are just going to win out for now.

I'm going to close this.

Thanks for keeping us organized.

[2020-09-22 06:48] #87 closed

[2020-09-22 08:42] tellyo-patryk opened #145 "Can't reach sorry-cypress from a docker container running on the same host with --net=host"
Hello, I've contacted the project team on slack yesterday and I was told to open an issue so here it is.

I'm running sorry-cypress on a host together with jenkins that runs the job that fires up a container that's compliant with the build environment with added cypress dependencies and cypress.

I've added this to the docker-compose.minio.yml, because otherwise my network would get broken:
[code]

[2020-09-23 05:59] gauravguptagit commented on #125
Awesome @agoldis & @jhicken, I'll try these images.

[2020-09-23 07:48] jhicken commented on #144
Cool thanks for the clarifications.

I can totally modify the edit icon ill put that in with my next pr.

The "yc4ci4" projectId you have is probably defined in your applications cypress.json file. Let me know if thats not the case. If that's the case you can literally put whatever you want as your projectId. I think that's neato.

[2020-09-29 17:41] jhicken commented on #144
@agoldis can I remove this `[Suggestion] Project human-friendly name` or is there more that we need to discuss on it?

[2020-09-30 04:14] agoldis commented on #144
done

[2020-10-02 06:47] agoldis opened #149 "Project and Hooks documentation"
For easier adoption...

[2020-10-02 06:50] #125 closed

[2020-10-02 06:50] #143 closed

[2020-10-02 06:50] #144 closed

[2020-10-05 20:31] dragon788 commented on #145
Have you defined any `ports` for the services in your file, those would define what ports would be listening on the host.

In your `cypress` container you also need to ensure you have changed the `api_url` to an appropriate value.

I use something like this as the `--entrypoint` for my `cypress/included` but it should work just as well with your custom container, with the bonus that you don't need

[2020-10-05 20:39] gmkumar08 opened #153 "Can we show the test run start time as per the local time zone?"
# What is this feature about? (1 sentence)
As of now, the test run start time is displayed in GMT. Can we show it as per the user's local time zone?

# Why is it needed? What is the value? For whom do we build it?
It helps to easily identify when was the run scheduled if it's displayed in their respective local time.

# High-level overview of the feature
- Display Test Run Start Time as per the lo

[2020-10-06 07:59] agoldis commented on #153
Absolutely!

[2020-10-06 09:33] webdevotion opened #154 "Successfully saved ( and uploaded ) screenshots are not shown in dashboard. Videos are."
### Context

Using the latest docker images ( `docker-compose.minio.yml` ).

[code]

### Cypress Output

[code]

### What actually happens
Videos are shown on the spec result page, but there is no sign of screenshots. The screenshots do get saved locally, cypress logs clearly state that the resulting files have been uploaded and the files are visible in my local Minio instance ( `docker-compose.mi

[2020-10-06 11:15] webdevotion commented on #154
The React state of the component seems to be fine. The `testId` of `test` and `screenshots[0]` are equal ( `r8` ).

<img width="636" alt="Screenshot 2020-10-06 at 11 54 08" src="https://user-images.githubusercontent.com/50583/95194259-588d0f00-07d5-11eb-856d-9757876ed309.png">

Just pulled the latest docker images and am seeing the same issue.
[code]

[2020-10-06 14:48] KyleThenTR opened #157 "Latest (1.0.0-beta.0) release tag not showing up on Docker hub"
It looks like the latest release didn't tag properly on Docker. Typically I would expect the docker images to be tagged with the same version as the github tags, but I don't see 1.0.0-beta.0 in Docker hub.

[2020-10-06 19:20] gespispace commented on #154
Hello, you need change config `docker-compose.minio.yml` on
Where `youIP` is external ip your virtual machine.
[code]

[2020-10-06 20:10] agoldis commented on #157
Fixed in #158

[2020-10-06 20:10] #157 closed

[2020-10-06 20:10] agoldis commented on #157
`docker pull agoldis/sorry-cypress-director:1.0.0-beta.1`

[2020-10-06 20:18] agoldis commented on #154
I think the issue is with the UI - the "attempts" are collapsed by default, and it "appears" like the screenshots are missing.

[2020-10-06 20:18] agoldis commented on #154
What @gespispace said is also true.

[2020-10-06 20:19] #154 closed

[2020-10-06 20:23] agoldis commented on #145
Hy, @tellyo-patryk Please tell me if what @dragon788 suggested helped

[2020-10-06 20:24] agoldis commented on #35
For reference: https://sorry-cypress.dev/ci/jenkins

[2020-10-08 06:25] #153 closed

[2020-10-08 08:46] gmkumar08 opened #161 "Error accessing run details page after pulling latest docker images"
Hi,

I just pulled latest docker images. When tried to access the run details page, I get the following error:

![image](https://user-images.githubusercontent.com/46545923/95435891-cae62680-0970-11eb-85e1-74139839bf59.png)

[2020-10-08 14:58] tellyo-patryk commented on #145
I didn't notice the comment above, I switched from my container to cypress/base:12 since mine had nodejs 10 and fired up a t3a.small for the sorry-cypress dashboard since our Jenkins was getting overcrowded. I then changed the api_url to that new machine and I found out that I need to add the machine hosting the dashboard to /etc/hosts since I couldn't figure out how to change uploadUrl, I then fa

[2020-10-08 15:03] jbarrus commented on #161
Looks like the Date react component is clashing with the native Date class.

[2020-10-08 17:33] agoldis opened #164 "Allow to create projects from the welcome screen"
Extracted from #136
https://github.com/sorry-cypress/sorry-cypress/pull/136#issuecomment-705404671

[2020-10-08 17:55] agoldis opened #165 "Quickstart guide doesn't show screenshots"
Quickstart instructions do not show snapshots properly. Need to update `docker-compose.minio.yml` to allow accessing containerized minio from the host machine

[2020-10-08 17:55] agoldis commented on #145
@tellyo-patryk good to know it worked. I have created  https://github.com/sorry-cypress/sorry-cypress/issues/165 to address your feedback

[2020-10-08 17:55] #145 closed

[2020-10-08 18:48] #161 closed

[2020-10-08 18:48] #164 closed

[2020-10-08 19:33] tellyo-patryk commented on #165
I can assist with creating documentation since I've overcome the issue so I can give back to the project in some way

[2020-10-08 19:40] tellyo-patryk commented on #165
But I don't know whether there's a way to change uploadUrl in the current state of the project and it's crucial if we don't want to edit /etc/hosts or create an A record in DNS for "storage" that the uploadUrl is by default, it's perfectly fine to use that kind of url but only inside the network that is created with docker-compose for sorry-cypress

[2020-10-08 22:13] #165 closed

[2020-10-08 22:15] agoldis commented on #165
Thanks @tellyo-patryk, that was just matter of configuration

[2020-10-10 18:08] balachandra opened #168 "Error: Your Record Key is not valid with this project"
Following instruction from here https://sorry-cypress.dev/quickstart, on cypress run i get following error. any idea whats happening please? thanks.

[code]

[2020-10-11 07:27] gmkumar08 commented on #168
@balachandra The api_url in app.yml might still be pointing to "https://api.cypress.io/" instead of "http://localhost:1234"

[2020-10-12 03:13] gespispace opened #169 "Delete video and screenshot in minIO and S3"
I deleted all runs, but i have very much video and screenshot.
![image](https://user-images.githubusercontent.com/37763089/95701214-6376f200-0c62-11eb-8e76-3b274b483742.png)

[2020-10-12 05:32] jhicken commented on #169
Yeah I knew about this one. I had the same issue on s3. I think durring upload of images and videos they should be  put in nested folders. "root/<projectid>/<runid>/filename"

At that point it should be trivial to clean up those resources on project deletion or on run deletion.

Right now clean up just isn't happening.

[2020-10-12 12:41] TomaszG opened #170 "Out of memory API errors after upgrading to 1.0.0-beta4"
With a relatively huge database (2.482GB, 2797 runs recorded) the API throws the following errors (which results in a crash) when browsing the dashboard after upgrading to 1.0.0-beta4:

[code]

This could be helpful for handling the issue manually: https://github.com/sorry-cypress/sorry-cypress/issues/60

In the meantime, I'm gonna clean-up old runs manually.

[2020-10-12 13:16] burtyish opened #171 "Participation in Hacktoberfest"
Hi!

Would you be interested in taking part in [Hacktoberfest](https://hacktoberfest.digitalocean.com/faq)?

My organization has just started trying out sorry-cypress. I see you have some open issues, some even marked as `good first issue`. This could be a good opportunity, since I prefer to contribute to projects I work with.

Thank you very much

[2020-10-12 17:27] agoldis commented on #171
Sure! That's a good idea!

[2020-10-13 16:36] Upgreydd opened #172 "Error while running tasks: Abstract type "InstanceTestUnion" must resolve to an Object"
After starting tasks in dashboard first I see nice running task, but after few minutes something like this:
[code]
Any ideas on how to fix this?

[2020-10-13 20:45] agoldis commented on #168
@balachandra
Please double-check what is  `api_url` in `app.yml` as @gmkumar08  suggested

[2020-10-13 20:52] agoldis commented on #171
I have added the topic to the project's description as appears at https://hacktoberfest.digitalocean.com/hacktoberfest-update

[code]

I think that should be enough to count the PR as valid for Hacktoberfest

[2020-10-13 20:52] #171 closed

[2020-10-14 04:51] zx86496790 opened #174 "unauthorized error when mongodb has auth"
## Summary

since the default sorry-cypress mongodb does not have username and password, it has been hacked twice within 2 weeks.
so I setup another server
but I got following errors:

`mongo_1      | 2020-10-14T04:48:33.229+0000 I NETWORK  [conn1] received client metadata from conn1: { driver: { name: "nodejs", version: "3.6.2" }, os: { type: "Linux", name: "linux", architecture: "x64", version:

[2020-10-14 04:52] agoldis commented on #170
Thanks for reporting that!
First, I am happy to see that sorry-cypress was able to handle 2797 tests.

Second, sure, will take a look!

[2020-10-14 04:53] agoldis commented on #168
@balachandra Please feel free to reopen once you've confirmed, I am cleaning the backlog meanwhile

[2020-10-14 04:53] #168 closed

[2020-10-14 05:00] #172 closed

[2020-10-14 05:14] agoldis commented on #174
Looking at the error message, it seems like the credentials are not sufficient for index creation.

Please try connecting to mongo using the same credentials and create an index.

[code]

https://docs.mongodb.com/manual/reference/method/db.collection.ensureIndex/

Please let me know what are you getting.

[2020-10-14 05:16] agoldis commented on #172
Released in https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-beta.5

[2020-10-14 08:14] Upgreydd commented on #172
Thank you @agoldis but have a question -  it's still not deployed to docker, am I right?

[2020-10-14 08:50] Upgreydd opened #176 "Custom link in run details."
## What is this feature about (1 sentence)
Adding custom link to `run` page - for example to link to CI process.
## Why is it needed? What is the value? For whom do we build it?
custom key/value parsing in `commit.tsx` passed by `environment` variable in docker-file.yml, for example:
[code]
where project_name and build_id would be injected. which will be parsed to:
[code]
## High-level feature ove

[2020-10-14 10:11] Upgreydd opened #177 "Problem with grouping tests"
Hello @agoldis,
Have a question related to grouping tests by `--ci-build-id`. I have a lot of tests grouped by directories and tests in directories depend on each other, so they are started in a specific order. I'll try to show you an example. Multiple runs are specified with one command:
[code]
As you can see each parallel run for a specific group of tests contains the same build id (which is goo

[2020-10-14 12:01] Upgreydd commented on #177
Checked cypress documentation and there's `--group` parameter for parallel builds, but `sorry-cypress` generates runId by a joined list of spec files.

[2020-10-14 12:45] zx86496790 commented on #174
thank you for your reply.
I have tried the command you posted and got this message:

{
        "createdCollectionAutomatically" : true,
        "numIndexesBefore" : 1,
        "numIndexesAfter" : 2,
        "ok" : 1
}

thank you

[2020-10-14 12:45] Upgreydd commented on #177
@agoldis created PR: https://github.com/sorry-cypress/sorry-cypress/pull/178

[2020-10-14 17:08] agoldis commented on #174
Well, the example I provided was a generic example. You need to make sure

1. you use the same credentials
2. you use the same collection
3. you create the same index

You can infer all the details from the error message

[2020-10-14 17:10] agoldis commented on #172
It is deployed automatically:
https://hub.docker.com/repository/docker/agoldis/sorry-cypress-api/tags?page=1

[2020-10-14 17:15] agoldis commented on #177
I think it is a duplication of #57. Definitely a good feature to support, I am closing this one if favour of #57, let's follow up there.
Please feel free to reopen if you think #57 is unrelated

[2020-10-14 17:15] #177 closed

[2020-10-14 20:20] dlavrenuek commented on #139
Great Project! I would like to contribute and have created a pull request that implements this feature: https://github.com/sorry-cypress/sorry-cypress/pull/179

[2020-10-14 20:39] zx86496790 commented on #174
Hi Andrew,

I am still not able to get it working. is there any sort of channel that people use to discuss  issues when they use sorry-cypress?

here are the steps I tried(username and password are replaced by xxxxxx but I double checked that they are same):

switched to db admin

1

switched to db sorry-cypress

1

mongo_1      | 2020-10-14T20:11:44.585+0000 I NETWORK  [listener] connection accep

[2020-10-15 03:49] #139 closed

[2020-10-15 10:36] Upgreydd commented on #177
@agoldis thanks. https://github.com/sorry-cypress/sorry-cypress/pull/181

[2020-10-15 10:36] Upgreydd commented on #57
https://github.com/sorry-cypress/sorry-cypress/pull/181 grouping by `--group` parameter.

[2020-10-15 12:50] Upgreydd commented on #176
https://github.com/sorry-cypress/sorry-cypress/pull/182

[2020-10-15 13:34] AndrewPopenko commented on #5
@agoldis I think it's very important feature for many users... I hope you will be able to deliver this feature ASAP :)

[2020-10-16 05:54] agoldis commented on #174
@zx86496790 Looking at the error `too many users are authenticated` I think you need to figure out if the credentials you've got for mongo are actually sufficient for sorry-cypress.

It's kind of out of scope for the project - there're plenty resource available for troubleshooting mongo auth problems. Sorry I know that it doesn't really help.

I'll leave this issue open for a week-two may be some

[2020-10-16 18:49] dlavrenuek opened #185 "Filter projects on dashboard view"
## What is this feature about (1 sentence)
There should be a way to search or filter projects on the dashboard.

## Why is it needed? What is the value? For whom do we build it?
The dashboard lists all available projects, which makes it hard to find for a specific project when  `Sorry Cypress` is used to manage multiple projects.

## High-level feature overview
- [x] The dashboard should include a

[2020-10-16 18:51] dlavrenuek commented on #59
I would like to work on this issue. When I started implementing it, I realized that the same feature should be implemented for projects, so I created a separate issue for it:  #185

[2020-10-16 19:09] dlavrenuek commented on #185
I created a PR that implements this feature #186 as well as some styling and reusable components that can be used for further features

[2020-10-16 19:22] jhicken commented on #14
@IvanBioRender
Have you tested this integration to see if it covers your use case?

[2020-10-17 04:57] #185 closed

[2020-10-18 20:06] dlavrenuek opened #190 "Reconsider docker-compose configuration"
The current docker-compose files expose all ports to the host machine, which seems very odd to me. Combined with no authentication configuration for Mongo DB [docker-compose.full.yml](https://github.com/sorry-cypress/sorry-cypress/blob/master/docker-compose.full.yml#L7), it is just exposed to the outside and anyone can access it. There are tons of bots constantly scanning for open databases and yo

[2020-10-18 20:09] dlavrenuek commented on #174
If you are using the `docker-compose.full.yml` provided and don't access the database from outside yourself, just remove lines 6+7, this will make mongoDB only accessible from the same docker network (only containers configured in the same docker-compose file).

[code]

[2020-10-19 05:11] agoldis commented on #190
Yeah, good point. I am not too concerned because it's just a matter of configuration and can easily be changed before deployment. I use docker-compose.yml for development and it's quite convenient to have all the ports open.

If you think people are just using docker-compose files as is, feel free to tighten the security. I wold leave the original docker-compose.yml for development though

[2020-10-19 05:32] #59 closed

[2020-10-21 03:17] danielvianna commented on #190
I agree that it should be more secure out of the box to be newbie friendly.

[2020-10-22 07:55] #57 closed

[2020-10-22 20:12] dlavrenuek commented on #190
I created a PR with a configuration that should be (hopefully) less prone to wrong usage and still provides full functionality of current docker-compose files: https://github.com/sorry-cypress/sorry-cypress/pull/192

[2020-10-23 16:59] #190 closed

[2020-10-23 17:00] agoldis commented on #176
Resolved in #182

[2020-10-23 17:00] #176 closed

[2020-10-23 20:46] bgupta commented on #5
All the documented deployment methods, deploy a public-facing, non-authenticated service. I am a little confused about why this is ok for most users unless it's only being used by open-source projects? Any guidance here would be appreciated.

[2020-10-23 22:00] agoldis commented on #5
It's not being used only by open-source project, that I can tell for sure.

Based on my observations:
- at the simplest level one can set up a list of [allowed keys](https://sorry-cypress.dev/director/configuration#configuration)
- people use all kind of a workarounds e.g. https://traefik.io/traefik (@Upgreydd ?)
- deploy on internal cloud so no access restrictions necessary

[2020-10-26 01:48] gespispace opened #193 "[Bug] Hooks don't work"
## Summary

Sorry cypress does not send hook, but should send hook

## How to reproduce
I don't know, but it is error
[code]
and hook
![image](https://user-images.githubusercontent.com/37763089/97125756-bec2dd00-1756-11eb-8264-24a2ee77cc1a.png)

## Environment

- sorry-cypress version: `latest`
- cypress version: `5.4.0`
- platform: `docker-compose.minio.yml`
- service: `director`

[2020-10-26 01:48] gespispace commented on #193
what other information is needed to solve the problem?

[2020-10-26 02:06] jhicken commented on #193
Odd Ill have a look at it in the morning.

[2020-10-26 13:20] zx86496790 commented on #174
Hi @agoldis @dlavrenuek  thank you for your reply. after I updated to the latest version of sorry-cypress, I kept getting failed to fetch error on dashboard. can you please let me know where to find the error log? thank you

[2020-10-26 13:24] CScharer opened #194 "Parallel tests all running on all Docker containers"
[Parallel tests all running on all Docker containers](https://github.com/cypress-io/cypress/issues/8912)
Sorry-Cypress: latest

[2020-10-26 14:55] Zibby opened #195 "Broken uploads when using cloudformation"
## Summary

Cloud formation has created the s3 bucket, but all the uploads to the bucket seem to fail and create broken image links in the UI.

From my jenkins stdout:
[code]

[2020-10-26 15:35] TomaszG commented on #170
Just an update - I reduced the size to 780MB, however, I'm still getting a few crashes each day. It seems that there's some kind of memory leak in API as its container memory usage goes up to 9GB before it crashes. Here are my current DB stats:
[code]

[code]

[2020-10-26 20:57] denis-domanskii commented on #18
@StefanS-O sorry for a newbie question, but what if I can't edit hosts file? I have tried to edit docker-compose.minio.yml, but can't get how to setup minio without hosts editing.

Now I get `Failed Uploading (1/1)` from Cypress, but there are no errors in docker-compose log. I have following output:

`
director_1       | << Sending assets upload URLs {
director_1       |   instanceId: '6012ca3v-b

[2020-10-26 21:32] StefanS-O commented on #18
@denis-domanskii  no need to be sorry :). You are correct in your assessment. I will have a look at it tomorrow and see if theres a better away. I had trouble trying it without the host edit, but i didn't take much time to investigate.

[2020-10-26 23:42] mathpaquette commented on #194
@CScharer what does it mean?

[2020-10-27 00:08] agoldis commented on #194
@CScharer If i read https://github.com/cypress-io/cypress/issues/8912 correctly there's no parallelization - every agent runs the same set of tests?

And you're cross-posting here because it happens on sorry-cypress and on cypress dashboard as well.

Is it correct?

[2020-10-27 00:28] agoldis commented on #195
I have just created a brand-new stack at http://sorry-cypress-195-532018670.us-east-1.elb.amazonaws.com/ using the default template at https://s3.amazonaws.com/agoldis.dev/sorry-cypress/sorry-cypress-stack.yml

It all works as expected. Can you please:
1. Share the S3 traces when running tests with  `DEBUG=cypress:*`
2. Your bucket configuration / policy

[2020-10-27 03:29] agoldis commented on #174
@zx86496790 For the dashboard - it just runs in your browser, open the dev panel and you'll see error details. For the api service - it depends on what environment is running the service

[2020-10-27 04:08] zx86496790 commented on #174
Hi Andrew, thank you for your reply. I got this error on localhost:4000 Failed to load resource: net::ERR_CONNECTION_REFUSED
is there a way to debug that? I did not see any error in console and saw this Apollo server is ready at http://localhost:4000/

thank you

[2020-10-27 05:22] CScharer commented on #194
Correct.  When I run there's no parallelization on both.  It also appears to loop on the first test.

[2020-10-27 08:32] agoldis commented on #194
I was able to run successfully with 5.5.0 (latest) and 5.4.0 http://sorry-cypress-195-532018670.us-east-1.elb.amazonaws.com/sorry-cypress/runs

I think cypress user would have reported a major issue if parallelization stopped working just like this. Looking at your example, I'd double-check that `"--ci-build-id", "${CI_BUILD_ID}"` and  `"--group", "${ENVIRONMENT}"` are similar for all runners

[2020-10-27 08:34] agoldis commented on #170
Still didn't get to it...

Running profiling on API's node process can help. If you can collect few samples - that would be helpful

[2020-10-27 09:46] CScharer commented on #194
The ci-build-id and group are the same as you can see, but ironically for some reason in Cypress Dashboard it appends a number to the second and third container that start?

cypress_1   | + cypress run --browser chrome --ci-build-id 643247 --group encappdevelopment --headless --key ******** --record --parallel --spec 'cypress/integration/SmokeTests/**/*.spec.ts' --tag 643247,chrome,encappdevelopme

[2020-10-27 09:49] CScharer commented on #194
I'm using the following command in my docker-compose.yml which would contain the same information for all three containers:
    command: [ "run",
               "--browser", "${BROWSER}",
               "--ci-build-id", "${CI_BUILD_ID}",
               "--group", "${ENVIRONMENT}",
               "--headless",
               "--key", "${CYPRESS_PROJECT_KEY}",
               "--record",

[2020-10-27 09:54] CScharer commented on #194
[docker-compose.txt](https://github.com/sorry-cypress/sorry-cypress/files/5444360/docker-compose.txt)
This is the full docker-compose.yml file renamed as .txt so I could attach it.

[2020-10-27 09:55] CScharer commented on #194
$CYPRESS_VERSION=5.4.0
$PARALLEL=3
$CI_BUILD_ID= 643247

[2020-10-27 09:58] CScharer commented on #194
The Cypress Dashboard ends up with this...
![Uploading image.png…]()

[2020-10-27 13:38] denis-domanskii commented on #18
@StefanS-O I have just tried to add following line to director config in docker-compose yml:

[code]

but without success, I got a different error on result upload:

[code]

Maybe I used extra_hosts parameter in a wrong place?

[2020-10-27 14:01] StefanS-O commented on #18
That won't work, maybe you can try this:
https://stackoverflow.com/questions/37242217/access-docker-container-from-host-using-containers-name

Modifying the hosts file seems to be the easiest option. Do yo not have the correct access rights?

[2020-10-27 14:34] denis-domanskii commented on #18
Yes, I'm hosting on shared VM with other services and have no admin rights. Moreover I am planning to move to K8s after proof-of-concept step, and need a stable and solid solution without adjustments like etc/hosts editing.

You right that extra_hosts won't work, but seems that I don't understand why. Director is trying to access http://storage:9000 , storage is hosted on the same box, on 9000 por

[2020-10-27 16:58] StefanS-O commented on #18
Then it would be easier to deploy a Minio instance with a normal URL pointing to it and pass the key, secret and URL to the director container. Then you wouldn't have the issues of local name resolution?

[2020-10-28 05:27] agoldis commented on #194
I see a small difference in the specs glob you've provided:
[code]
Does it resolve to the same list of specs?

[2020-10-28 05:27] agoldis commented on #195
Hey @Zibby I wasn't able to reproduce, feel free to reopen when you confirm the issue on your side.

[2020-10-28 05:27] #195 closed

[2020-10-28 06:23] #193 closed

[2020-10-28 08:15] denis-domanskii commented on #18
Probably, but how to pass minio URL to the director container in a correct way?

[2020-10-28 10:12] StefanS-O commented on #18
You have to pass SCREENSHOTS_DRIVER="../screenshots/minio.driver" and then those vars here:

https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/screenshots/minio/config.ts

[2020-10-28 10:37] denis-domanskii opened #196 "GitHub status reporter doesn't work"
## Summary

I have setup GitHub status hook, but it doesn't work. I don't see status in a GitHub, but see following error in logs:

[code]

## How to reproduce
Setup and trigger a GitHub hook?

## Environment

- sorry-cypress version: `latest`
- cypress version: `5.2.0`
- platform: `docker`
- service: `director`

[2020-10-28 11:58] CScharer commented on #194
Good catch and I'm not sure how that's different, but the only difference between each of them is actually just the cypress number.  I must have accidentally changed them when trying to remove the key which probably doesn't matter because I revoked it after realizing I included it in my post.

cypress_1   | + cypress run --browser chrome --ci-build-id 643247 --group encappdevelopment --headless --

[2020-10-28 12:00] CScharer commented on #194
I see in my previous post it's different too so it must be something with the way the post interprets the string.  They are all the same and are like this.

SPEC_FILTER_SMOKE='cypress/integration/SmokeTests/**/*.spec.ts'

[2020-10-28 13:42] denis-domanskii commented on #14
@jhicken I have faced an issue with a GitHub hook: #196

[2020-10-28 14:53] jhicken commented on #196
Any more info you can give would be super helpful.

I have a guess that it has something to do with this line.
https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/lib/hooksReporter.ts#L100

Which means it got here without the run getting created properly. If this if still happening It would be great to capture the json of the run at this point in time.

I never ran int

[2020-10-28 15:08] denis-domanskii commented on #18
omg, I was absolutely right when said that my question is newbie :)

I have looked into config.ts and undertand what I need to avoid etc/hosts adhusting. I just replaced MINIO_ENDPOINT value to my host name (blah.blah.mydomain.com). Also it could be an external IP. And it just works.

[2020-10-28 15:14] denis-domanskii commented on #196
I have a stable reproducion of this issue. But i don't know how to capture the json of the run at this point in time.

And how to provide a git sha info to the run? Because my run looks fine, all tests are shown, only hook doesn't work.

[2020-10-28 15:24] ChristianPe opened #197 "Retrying Jobs in CI leads to false positives"
Hello there,

first of all, thanks for all the great effort you put in this project. Its working great so far, I just have one question or maybe feature request.
We are running our tests in gitlab ci and calling them by cypress run --parallel --record --key xxx --ci-build-id=xxx on 4 ci runners. This works great and reduces the execution time greatly. If one of those tests fails, the process retur

[2020-10-28 17:35] agoldis commented on #197
Thanks for submitting this proposal.

Do you know if original cypress dashboard behaves differently? In general, I'd like to avoid having a different behavior from the original cypress (that would make easier to use the alternative)

When I deal with re-runs I just generate a new ci-build-id - that creates a new run.
Another alternative is to use cypress5 retries - it will retry individual specs m

[2020-10-28 17:37] agoldis commented on #196
@jhicken @denis-domanskii sorry guys, I did introduce this bug recently. it was reported in #193 and should have been fixed in https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-beta.9

[2020-10-28 18:03] gespispace commented on #193
@agoldis bug not fix.
![image](https://user-images.githubusercontent.com/37763089/97477676-ba264080-1971-11eb-9b26-7e65241d36b4.png)

[2020-10-28 18:05] gespispace commented on #193
latest images
![image](https://user-images.githubusercontent.com/37763089/97477938-12f5d900-1972-11eb-8eb7-22396139d0f4.png)

[2020-10-28 18:07] agoldis commented on #193
kk well fix later

[2020-10-28 18:46] denis-domanskii commented on #196
@agoldis I just pulled fresh docker images and problem has gone. Thank you for the fix.

@jhicken I have faced a new issue when trying to post status. I just got 403 response with data "Cookies must be enabled to use GitHub.". Google helped me to find following isssue: https://github.com/octokit/rest.js/issues/544 , which was resolved because:

Probably we should use this host too? I see that all

[2020-10-28 23:17] gespispace opened #199 "Add timeout for test execution."
## What is this feature about (1 sentence)
Add the ability to set a timeout to start a test, and if the tests have not ended after the timeout, then mark it as not passed.
## Why is it needed? What is the value? For whom do we build it?
In my case, cypress crashes at runtime and I want to know what the tests ran.
## High-level feature overview
I thinking it is should field in settings of project f

[2020-10-28 23:20] jhicken commented on #196
@denis-domanskii hmmm

So `sorry-cypress` is not using any special github packages. It simply assembles a url and makes a post with axios. So the code you referenced is maybe a little different.

My testing of this was all done on an enterprise instance of github. So that might be a little different.

That said if all we need to do is add header that shouldn't be a big deal.

We may need to change

[2020-10-28 23:23] jhicken commented on #199
https://github.com/sorry-cypress/sorry-cypress/issues/142

Its on the todo list. Thanks!

[2020-10-28 23:25] gespispace commented on #199
@jhicken Thanks you. Can you add in form for create feature request checkbox that user tried searching similar this feature request .

[2020-10-28 23:32] jhicken commented on #199
im going to close this for now. If you think it should be reopened just let me know.

[2020-10-28 23:32] #199 closed

[2020-10-29 10:11] ChristianPe commented on #197
Thanks for your quick reply! :) First of all I dont know how the original cypress dashboard behaves in this matter, sorry :/

The problem of the proposed solutions is, that i cannot prevent gitlab ci to offer to rerun the jobs manually. If someone in the team (accidentaly) clicks on retry, the failed job always succeeds, because the director says this pipeline-id was already tested. Therefore all

[2020-10-29 10:11] #197 closed

[2020-10-29 13:16] denis-domanskii commented on #196
@jhicken I have just checked localy this two URLs (via curl):

1) https://github.com/api/v3/repos/MyCompany/MyProject/statuses/commitsha123
2) https://api.github.com/repos/MyCompany/MyProject/statuses/commitsha123

Both links were used to access an a GitHub.com repo (not an enterprise). I think it can be reproduced with any public repo on this site.

Therefore I propose to create two flows: if ${g

[2020-10-29 20:51] CScharer commented on #194
Anything else I can provide or any luck reproducing this?

[2020-10-30 05:07] agoldis commented on #194
I couldn't reproduce I did run with two different versions of cypress and with / without groups - everything was fine.
As noted, if parallelization stopped working for cypress they would patch it there would be a major bug reported in their issues list.
May be there's a but that is only triggered by a specific combination of your specs and group.

I can suggest a few options:
1. Try to run with ju

[2020-10-30 05:48] agoldis opened #201 "Open Collective"
If you've actively and significantly contributed or plan to contribute, please consider creating an account and joining https://opencollective.com/sorry-cypress.

Not only coding is accepted - documentation, tutorials, videos also count.

Keep in mind that our budget is 0$ 😄 but who knows?

@jhicken @dlavrenuek @StefanS-O @xtroncode  @tico24 @coreyshirk

[2020-10-30 07:15] tico24 commented on #201
@agoldis - it's early here so forgive me! You're asking us to sign up to claim expenses? I realy don't think I've contributed enough to warrant that. Thanks though.

[2020-10-30 16:56] thomaswelton commented on #195
@agoldis I'm getting what I expected it the same issue. Looking through the debug logs I can see this under `cypress:server:record failed to upload artifact`
`Please re-send this request to the specified temporary endpoint. Continue to use the original request endpoint for future requests.`
And can see I'm getting a 307 status code back on that request

[2020-10-30 17:37] TomaszG opened #202 "Average duration shows "0 sec" for all specs"
## Summary

The average duration shows "0 sec" for all specs instead of the correct value. I wonder how it's calculated, what's the base for grouping? If it's grouped by spec name(path) then I believe it should be working? I couldn't find any docs on how it's calculated :(

## How to reproduce

??

## Environment

- sorry-cypress version: `1.0.0-beta7`, I will check it on the latest beta to make s

[2020-10-31 03:47] agoldis commented on #195
. Can you please:

1. Share the **full** S3 traces when running tests with `DEBUG=cypress:*`, there should be a specific trace with upload url and upload trace with an error
2. Your bucket configuration / policy

[2020-10-31 03:48] agoldis commented on #201
@tico24 it's more like - if you want to or plan to do something related to sorry-cypress, consider this

[2020-10-31 13:40] thomaswelton commented on #195
Hope you don't mind but I've sent you to full logs via email to your gmail address

[2020-10-31 14:30] phao5814 opened #203 "sorry-cypress director is unable to coordinate parallel tests across two different machines"
I'm currently running Jenkins across two different machines running two different OSs. Machine A is running MacOS and Machine B is running Ubuntu.

When I try to run my cypress tests in parallel mode across these two machines, the sorry-cypress director does not coordinate tests across these two machines. Instead, both machines run the full suite of my cypress test with no knowledge of each other,

[2020-10-31 19:30] CScharer commented on #203
I wonder if this is related to the issue that I'm having?
https://github.com/sorry-cypress/sorry-cypress/issues/194#issuecomment-719181711

[2020-10-31 22:56] jhicken commented on #203
@phao5814 Hey question. Do you see 2 different runs created in the sorry-cypress UI? Or is there just 1 when you start the tests?

The way unique runs are created is by this piece of code.

https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/lib/hash.ts#L9

[2020-11-01 05:35] agoldis commented on #203
Seems like a bug, when no explicit group specified, we generate a "default" group https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/lib/hash.ts#L12

The default group is dependent on OS, have no idea why did I do that 🤷🏻‍♂️

@phao5814 as a workaround, just specify the same group name explicitly.

@jhicken do you think about having just `ci-build-id` as the default gr

[2020-11-01 05:55] jhicken commented on #203
Does group need a default? Like could we leave it null or undefined if group is not provided? I don't remember if there was anywhere that the group was being used in a different way that required us to have it.

Just looking at this for cypress-dashboard. https://docs.cypress.io/guides/guides/parallelization.html#Grouping-by-browser

[2020-11-01 06:26] agoldis commented on #195
No problem! It appears to be related to https://docs.aws.amazon.com/AmazonS3/latest/dev/Redirects.html#TemporaryRedirection
You're sending the results to https://justpark-cypress-test-results.s3.amazonaws.com but it gets redirected to justpark-cypress-test-results.s3.eu-west-2.amazonaws.com.

[code]

It is some kind of AWS issue. I can suggest to use "region-aware" bucket name `justpark-cypress-te

[2020-11-01 07:28] CScharer commented on #203
I see three different runs but I'm also running with three containers.  Everything being passed in is the same too, Group, CI-Build-ID, etc.

[2020-11-02 10:10] thomaswelton commented on #195
@agoldis Is it not possible for the sorry cypress agent to handle and follow the temporary redirect when uploading?

If not, could you also provide some more info on where and how the "region-aware" bucket name should be set or how to update the AWS region on the cypress agents generated with the cloudformation stack?

[2020-11-02 10:28] thomaswelton commented on #195
In the cloud formation stack it looks like the `S3_REGION` env variable is missing, so it's defaulting to
`us-east-1`

https://github.com/sorry-cypress/sorry-cypress/blob/aa1a1ecebb46191394a429df5155bc6295ba1376/packages/director/src/screenshots/s3/config.ts

https://github.com/sorry-cypress/sorry-cypress/blob/9735691bf9eccee7545023dbe10270591dc6b1d2/cloudfront/sorry-cypress.yml#L434

https://gith

[2020-11-03 05:23] agoldis commented on #194
@CScharer hey, were you able to try any of suggestions? 👆🏻

[2020-11-03 05:24] #201 closed

[2020-11-03 06:18] agoldis commented on #202
Tested with the latest build - works fine.

<img width="1451" alt="Screen Shot 2020-11-02 at 10 17 58 PM" src="https://user-images.githubusercontent.com/1637928/97954774-4ad99380-1d59-11eb-8c96-9ad5d97fd05c.png">

It is calculated on client side:

https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/dashboard/src/views/RunDetailsView.tsx#L97:L97
https://github.com/sorry-cypress/sorr

[2020-11-03 06:25] #203 closed

[2020-11-03 06:43] agoldis commented on #203
Sorry for delayed response, was busy with life.

I have recently added groups support and group name is been displayed on spec results list. Also, the parallelization happens on per-group level, so having a default group which isn't nil would simplify

[2020-11-03 07:24] TomaszG commented on #202
So the query runs for 36 seconds and returns 5.3MB JSON, the size and time of execution may be the issue here. Maybe the query should limit results to e.g. last X runs.

Also, I noticed that API call form dashboard to that query ends up with 502 :(

[2020-11-03 07:26] agoldis commented on #202
wow!! thanks for that new info, will see how to optimize it

[2020-11-03 07:32] agoldis commented on #170
Not much luck after collecting few profiles / snapshotting API service - I haven't been able to see any obvious problem. My memory leak troubleshooting powers and not great to be honest.

Probably it needs much bigger DB size or multiple clients connected... It would be great to collect a snapshot of API node process in the wild with a representative load.

I am kind of clueless at this stage. I s

[2020-11-03 07:37] agoldis commented on #170
May be https://github.com/sorry-cypress/sorry-cypress/issues/202 has something to do with the memory issue

[2020-11-03 14:37] pedrohyvo commented on #149
@agoldis I'd like to contribute and start working on this issue. Could you give me more details please

[2020-11-03 19:26] agoldis commented on #149
@pedrohyvo Hi and welcome!
We have the documentation website at https://github.com/sorry-cypress/sorry-cypress.dev.
It is currently lacking and information about projects and hooks.

It'd be cool to get some concise documentation about:
- how to create a new project
- when projects are created automatically

Same for hooks:
 - how to setup hooks
- what types of hooks are supported
- what is the pa

[2020-11-03 19:34] jhicken commented on #202
Wow yeah I think thats what we need to dig in on it.

[2020-11-03 20:38] CScharer commented on #194
I removed the tags altogether and they appear to be run separately.  I believe the issue may be in that the line that was adding the tags begins with a numeric character and did not have any quotes around the tag.
"--tag", "${CI_COMMIT_SHA},${CI_BUILD_ID},${BROWSER},${ENVIRONMENT},${AUTH_TYPE}"
Trying with a single quote around the tag value.
"--tag", "'${CI_COMMIT_SHA},${CI_BUILD_ID},${BROWSER},$

[2020-11-04 05:51] #202 closed

[2020-11-04 05:59] agoldis commented on #170
@TomaszG Can you please try https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-beta.10

[2020-11-04 14:34] CScharer commented on #194
I've tried several combinations and this is passing no ci-build-id or tag(s), but it still appears to create a separate Run URL for each container.

cypress_1   |   │ Cypress:        5.5.0                                                                          │
cypress_1   |   │ Browser:        Chrome 85 (headless)                                                           │
cypress_1   |   │ Nod

[2020-11-04 14:45] CScharer commented on #194
I'm not sure, but wondering if it could have anything to do with my cypress-entrypoint.sh

#!/bin/bash -x

# This entrypoint file is used/required if targeting local sorry-cypress or the cypress dashboard for master branch merges.
# Set api_url to desired host
sed -i -e 's|api_url:.*$|api_url: "'${CYPRESS_API_URL:-http://director:1234}'"|g' /*/.cache/Cypress/*/Cypress/resources/app/packages/server

[2020-11-04 18:43] agoldis commented on #194
- What version of sorry-cypress are you running?
- What's your sorry-cypress setup?

---

Please try running the following 2 commands in two separate containers, while both containers use the same director instance (based on your entry point it is `http://director:1234`, by the way, is it the same single instance of director?).

Before running the command, please make sure your have access to dire

[2020-11-04 22:11] sdickerson216 opened #206 "Results saved to our sorry-cypress dashboard but the CI run failed due to "We encountered an unexpected error talking to our servers.""
## Summary

This is a weird one because the error message seems to be coming from a Cypress server, but the api url is pointing to our own sorry-cypress-director service on Heroku. After CircleCI completes a test run, it will randomly report "We encountered an unexpected error talking to our servers." and fail the run. But, if I look at the results in our sorry-cypress dashboard, all of the result

[2020-11-04 22:29] sdickerson216 opened #207 "Requests are timing out after upgrading to v1.0.0-beta.9"
## Summary

I recently upgraded from an older version of sorry-cypress and now the page that shows all runs fails to load due to Heroku killing the request after 30 seconds. I can still view a single test run, but it is close to timing out at around 26 seconds because the run has 1362 tests. The Average Duration for each test also always displays as 0 seconds because it looks like those api calls

[2020-11-04 22:36] sdickerson216 commented on #206
I spoke too soon. Two out of the three parallel containers just reported this error in our last CI run.

![Screen Shot 2020-11-04 at 3 34 19 PM](https://user-images.githubusercontent.com/36859415/98175218-65278480-1eb3-11eb-95e7-46fe4e3b63c1.png)

[2020-11-05 01:33] agoldis commented on #207
@sdickerson216 it seems similar to  #202
Did you try the latest https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-beta.10 I hope it would solve the issue

[2020-11-05 01:37] agoldis commented on #206
Do you happen to have the full error message after `StatusCodeError: 503`? It looks like heroku error message - i.e. sorry-cypress response.

Interesting, I didn't know cypress agent tries to talk to the original servers.

[2020-11-05 23:15] sdickerson216 commented on #206
Hi Andrew, thanks for responding! You are correct -- the error is coming from my Heroku app and not from the Cypress servers like I thought. When I upgraded my sorry-cypress services I also moved the db from mLab to Atlas because mLab will not be supported on Heroku after 11/10/20.

It seems that the free tier of Atlas is painfully slow, which is causing this issue plus the other timeout issue I w

[2020-11-05 23:25] sdickerson216 commented on #207
Hi Andrew, I upgraded to beta.10 and that fixed the Average Duration calculation, but the overall issue was due to using the free tier of Atlas MongoDB. mLab will not be supported on Heroku after 11/10/20.

I stood up another version of the sorry-cypress dashboard with the ObjectRocket add-on and compared performance between the two. The dashboard connected to Atlas took 26 seconds to call "getRun

[2020-11-06 00:14] agoldis commented on #207
Hmm... I think it's worth to make the dashboard more performant. You've mentioned earlier that you have quite a lot of tests for each run.

In theory, `getRunsFeed` shouldn't be heavy at all, it's surprising to see such a poor performance.
May be just adding indexes to speed up some key queries would make the job.

I am curios to see how the performance really look like for you, would you mind sha

[2020-11-06 01:39] francescov1 commented on #46
Tried setting this up on a regular GCE VM, everything was pretty smooth and the director seems to be working, but uploads to S3 fail and the dashboard gives me "Error: Failed to fetch" after hanging with "Loading..." for a while (I made sure to change "localhost" to the VMs internal IP in the docker-compose file, still no luck). Any ideas?

[2020-11-06 18:02] francescov1 commented on #46
Ended up getting it working, there were a couple minor networking issues on my part.

[2020-11-06 18:42] sdickerson216 commented on #207
Hi Andrew, it looks like the easiest thing to do would be to invite you to the Atlas project. What email address should I send it to?

[2020-11-06 18:44] agoldis commented on #207
agoldis-at-gmail

[2020-11-06 20:41] sdickerson216 commented on #207
I sent you an email and an invitation to the project. You can reach me at susan.dickerson at travelershaven.com as well!

[2020-11-06 21:24] francescov1 commented on #46
Was able to also get this running nicely on Cloud Run. Essentially each of the three services gets their own Cloud Run Service, and a mongo instance can be spun up in Mongo Atlas with an IP whitelist of "0.0.0.0/0". Not sure if there's a trivial way to IP whitelist the cloud run services from Mongo Atlas (as per @moderatemisbehaviour's issue) but you can still implement one of Atlas' other forms o

[2020-11-07 06:43] agoldis commented on #46
Great to see your success! I am hoping to eventually write a guide / tutorial at https://sorry-cypress.dev and also enable gc storage in addition to S3. BTW, if you feel like writing a few paragraphs / sharing your setup - it might be a good start for documentation.

There's definitely a demand for better security and privacy, I have seen some people using reverse proxies, but no standard way / be

[2020-11-09 05:04] agoldis commented on #206
I am closing this one, let's follow up on the other issue

[2020-11-09 05:04] #206 closed

[2020-11-09 05:05] agoldis commented on #170
@TomaszG any luck?

[2020-11-09 05:10] agoldis commented on #207
Damn, cannot login to atlas - lost my 2FA registration 🤬

[2020-11-10 12:46] adrianchan12 opened #208 "Failed on uploading videos locally"
I followed the Quickstart guide and was able to get the dashboard running locally showing the tests but when the tests are trying to upload the videos, it just failed.  I tried going to http://localhost:9000/minio/sorry-cypress/ but cannot see any screenshots or videos uploaded from the tests.

Am I missing a step or do I need additional configuration?
Any help is much appreciated.

Thanks

[2020-11-10 22:59] francescov1 commented on #46
Sure thing! I'll be happy to write that up in the next few days 😀

Ahh okay. Would love to help with this or at least give some suggestions. Not super familiar with this codebase but I'll poke around a bit!

[2020-11-11 05:37] agoldis commented on #170
Please check the latest version, it should improve memory situation. Feel free to reopen!

[2020-11-11 05:37] #170 closed

[2020-11-11 22:37] DeniDoman commented on #14
@agoldis I think we can close the issue.

[2020-11-12 07:08] agoldis commented on #196
Resolved by #209

[2020-11-12 07:08] #196 closed

[2020-11-12 07:08] agoldis commented on #149
@pedrohyvo FYI  #209

[2020-11-12 07:09] agoldis commented on #14
Resolved by #209

[2020-11-12 07:09] #14 closed

[2020-11-12 08:27] agoldis commented on #207
@sdickerson216 Accessing the dashboard from your free heroku instance was significantly slower, indeed.

I managed to connect to the DB from the local instance of sorry-cypress and to play with the UI. It was much more responsive (even with thcypress) - it takes 1-2 seconds to get the response.

That's weird because if mongo is the bottleneck, then the local instance should be slow as well.

I als

[2020-11-12 19:26] sdickerson216 commented on #207
@agoldis Hi Andrew, thanks for looking into this. It's strange because if I pointed my Heroku app to a different db it was faster.

We have moved our dashboard over to a paid Heroku account and it's very responsive now, so you can close this issue if you want. I'm keeping an eye on the db size to see if performance degrades as it grows. I will ping you if I see any issues!

[2020-11-13 11:59] ChristianIvicevic commented on #8
Btw for testing purposes I noticed that it's possible to set `CYPRESS_INTERNAL_ENV=development` on the command line that forces the server package to route automatically to `http://localhost:1234` without any hosts rules etc. as it is registered for development purposes:

https://github.com/cypress-io/cypress/blob/aa6470d349237234e551f83cb3abbac5bb0eda98/packages/server/config/app.yml#L8-9

This i

[2020-11-13 12:37] ChristianIvicevic commented on #208
I see you have closed this issue, has this issue been resolved for you? Personally I am running into the same issue right now with both failed screenshots and the videos of the test runs.

[2020-11-13 12:53] TomaszG commented on #170
Sorry, I was not able to check it before. It seems that the issue has been fixed, since 1.0.0-beta.10 I don't see any crashes in service logs anymore, I will reopen the issue if there are any. Thanks!

[2020-11-17 14:58] AshTappin opened #211 "Internal Server error on dashboard"
When I go to https://sorry-cypress-demo.herokuapp.com/ , a 500 response is returned. Our CI build which runs parallel cypress tests is returning a 503. Not sure if that is related.

[2020-11-17 18:10] agoldis commented on #211
Thanks for reporting that! mLab was EOLd and didn't have a chance to migrate to a different platform

[2020-11-20 16:08] hallowatcher commented on #208
I'm running into the same issue sadly, can you please reopen this?

[2020-11-23 08:59] adrianchan12 commented on #208
I had the issue on when runing the docker-compose.minio.yml. In order to solve this for me, I had to do an additional step mentioned [here]( https://sorry-cypress.dev/director/storage#minio-driver) to configure my local host file.

[2020-11-23 11:56] denis-domanskii opened #212 "Add a custom project name for a GitHub status"
## What is this feature about (1 sentence)
Add a custom project name for a GitHub status.

## Why is it needed? What is the value? For whom do we build it?
At now a GitHub status is always contains "Sorry-Cypress-Tests" which is not convenient in case when several test packs exist and user needs to differ them (e.g. E2E tests, Component Tests, Screenshot tests).

![image](https://user-images.githu

[2020-11-26 14:50] lucasltinoco commented on #208
@adrianchan12 I've followed that extra step that you mentioned and it worked! Thank you!

Just opened a PR to reference that in the quickstart section of the docs.

[2020-11-26 18:30] agoldis commented on #208
Thanks @lucasltinoco, https://github.com/sorry-cypress/sorry-cypress.dev/pull/7 should help with the setup

[2020-11-26 18:30] #208 closed

[2020-11-26 21:28] francescov1 commented on #46
Sorry for the delay! Here you go, let me know if you want any additional details:

- My setup runs on GCP Cloud Run, 1 cloud run service for each of the sorry-cypress services.
- Cypress framework runs in Github actions - ill explain how I set this up as well since there was a few gotchas
- Mongo hosted in Atlas, no IP whitelist since it would require a NAT on the GCP side, credential-based authen

[2020-11-27 10:08] tim-sendible opened #213 "Return Run URL from API call"
- [x] I have seached issues for similar feature requests

## What is this feature about (1 sentence)
Provide a way to save the autogenerated run URL as a Jenkins variable so that I can use it in internal reporting.

## Why is it needed? What is the value? For whom do we build it?
My Jenkins job outputs the results to slack. At the moment, all I can produce is a pass/fail result, but I'd like to be

[2020-11-27 14:28] lucasltinoco commented on #208
Happy to help this awesome project, @agoldis ! I'm currently trying to run on Heroku using MongoDB Atlas instead of the mLab add-on, since it's been discontinued. As soon as I can get it working, I plan to open a PR to update that section of the docs. Have you already tried something like that? Any tips?

[2020-11-27 17:58] agoldis commented on #208
@lucasltinoco I have a working heroku setup:
sorry-cypress-demo.herokuapp.com
sorry-cypress-demo-api.herokuapp.com
sorry-cypress-demo-director.herokuapp.com

it uses Atlas.

I can add you to the project, please send me you email on slack / agoldis at gmail

[2020-11-27 19:16] agoldis commented on #213
[code]

[2020-11-27 19:16] #213 closed

[2020-11-29 09:01] okuuraw opened #214 "sorry-cypress is available on `cypress:included` docker image?"
I have a question.
Is sorry-cypress also available when using the 'cypress: included' docker image?
I don't know how to set api_url ... 🤔

[2020-11-30 17:53] agoldis commented on #214
@okuuraw nope, it is not part of the image.
Please refer to https://sorry-cypress.dev/cypress-agent for cypress agent configuration

[2020-11-30 17:53] #214 closed

[2020-11-30 17:53] agoldis commented on #211
Migrated to Atlas

[2020-11-30 17:53] #211 closed

[2020-11-30 17:54] agoldis commented on #46
@francescov1 that's awesome! I'll update the documentation site with those instructions

[2020-12-02 00:23] denis-domanskii opened #215 ""Finished" run changing its state to "started" when new machine is joined after finish"
## How to reproduce

1) Start parallel run on the first machine
2) Wait until run is finished
3) Start parallel run with same build-id on the second machine. It is is real-life case because second machine was busy by other task for a long time and started Cypress task only when the run was already finished.

## Expected
Second machine doesn't trigger "RUN_START" event for already finished run.

##

[2020-12-03 00:49] agoldis commented on #215
Somewhat related:

- https://github.com/sorry-cypress/sorry-cypress/issues/134
- https://github.com/sorry-cypress/sorry-cypress/issues/142

Ideally, we'd love to have a 'grace period' for runs, when expired, new machines won't be allowed and non-finished instances would time out.

From the original cypress:
https://github.com/cypress-io/cypress/issues/1891

[2020-12-04 15:41] vjoomens opened #216 "On premise?"
Hi,

Would it be possible to run sorry-cypress on premise, without docker? We have a Windows server and would like to run sorry-cypress on this server. Only thing installed is npm. Its not possible to install docker.

Kind regards

[2020-12-04 17:49] agoldis commented on #216
Hi!
You can just checkout the source code from the git, no need for docker

[2020-12-07 20:35] mnovich opened #217 "Is mongodb the only supported DB?"
Was looking to leverage this but the org doesnt support mongo - postgres, couchbase or anything OOB from amazon.
would  any of those work or is there a driver to drop in to use something else similar to the minio driver for storage? (we will likely use s3)

[2020-12-08 00:12] guidiego opened #218 "Problems in save runs in AWS"
## Summary
I have deployed a AWS Cloudformation today, I change the API from Cypress to hit my dashboard. When I run this command:

`yarn cypress run --record --key test1` I have no saves at the end

When I run this command:

`yarn cypress run --parallel --record --key test1 --ci-build-id test-run-001`

I get this error:

<img width="888" alt="Screenshot 2020-12-07 at 21 11 47" src="https://user-i

[2020-12-08 05:06] agoldis commented on #217
Only mongo is supported at this time. Check out https://github.com/sorry-cypress/sorry-cypress/issues/133 as well

[2020-12-08 05:06] #217 closed

[2020-12-08 05:09] agoldis commented on #218
Seems like the some service returns 302.
Please make sure you're using director service url when configuring cypress agents.
You can also run the agents with `DEBUG=cypress:*` to see what specific request is triggering that error 302.

Please share your results, we'll follow up with next steps

[2020-12-08 12:04] guidiego commented on #218
@agoldis In case I need to add Director URL in some place? Docs ask only to add API url in app.yml

[2020-12-08 15:04] lucasltinoco opened #219 "wiki(s3-setup): update CORS config from XML to JSON"
[In the new S3 console, the CORS configuration must be JSON.](https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html)

Here's the configuration I have working in JSON, just need to update [this page](https://github.com/sorry-cypress/sorry-cypress/wiki/S3-screenshot-bucket-setup-instructions):

[code]

[2020-12-08 18:15] agoldis commented on #218
Right, updated the docs

[2020-12-08 18:15] #218 closed

[2020-12-08 18:16] #216 closed

[2020-12-08 18:28] agoldis commented on #219
Awesome! https://sorry-cypress.dev/installation/aws#manually-setup-s3-bucket-for-screenshots-and-videos

[2020-12-08 18:28] #219 closed

[2020-12-08 18:28] agoldis commented on #219
@all-contributors please add @lucasltinoco for documentation

[2020-12-10 09:51] denis-domanskii commented on #215
@agoldis probably we just shouldn't create a new run if a run with the same id is already finished? If new run will not be created - RUN_START hook will not be raised. A machine which trying to connect with finished run id - should receive "All tasks claimed" response.

[2020-12-10 11:29] denis-domanskii opened #221 "Incorrect pending/skipped number of tests is shown in a GitHub status"
## Summary

Pending label shows skipped tests, skipped label shows zero tests. It can confuse user because run is ended but several tests are shown in a pending state.

GitHub:
![image](https://user-images.githubusercontent.com/61494460/101766158-70de1a80-3af3-11eb-8ba9-04385a12e42e.png)

Dashboard:
![image](https://user-images.githubusercontent.com/61494460/101766590-0d082180-3af4-11eb-85b1-6c6e8

[2020-12-10 13:21] #221 closed

[2020-12-10 13:22] denis-domanskii commented on #221
During investigation I have found that it's a Cypress issue. Sorry for inconvenience.

[2020-12-10 14:32] denis-domanskii commented on #221
During investigation I have found that it's a Cypress issue. Sorry for inconvenience.

[2020-12-13 10:44] preetibellad opened #224 "Sorry cypress Dashboard is defaulted to 8080, I want to change it to something else such as 5000."
## Summary
@agoldis
Sorry cypress Dashboard is defaulted to 8080, I want to change it to something else such as 5000.
How can I do it?

- platform: `docker r`
- service: `dashboard`

[2020-12-14 03:37] khoathanglong opened #225 "Delete hook type causes error"
## Summary

Delete "Hook Type" causes error.

## How to reproduce
1. go to https://sorry-cypress-demo.herokuapp.com/
2. Edit (pencil icon) any project (or create a new one) (I selected project 'zzz' in my case)
3. Click 'Add Hook' then expand a new hook
4. in Hook Type, delete Generic hook
5. Page is redicted to show this information
[code]

[2020-12-14 06:04] agoldis commented on #224
Sure! Just make sure to provide `PORT` environment variable when starting the dashboard:
https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/dashboard/server/config.js#L3:L3

[2020-12-14 06:04] #224 closed

[2020-12-14 17:35] preetibellad commented on #224
![image](https://user-images.githubusercontent.com/72126464/102114719-8ee3ac00-3e60-11eb-8e49-ae9b2c6b7d93.png)

When I do the same, below are the port exposed and dashboard listens on 8080 instead of 5000 and th dasboard does not open on localhost:5000
![image](https://user-images.githubusercontent.com/72126464/102114868-bcc8f080-3e60-11eb-8dbb-1c23775725ec.png)

[2020-12-14 17:35] preetibellad opened #227 "Continuing from issue#224"
https://github.com/sorry-cypress/sorry-cypress/issues/224#issue-765268413

![image](https://user-images.githubusercontent.com/72126464/102114719-8ee3ac00-3e60-11eb-8e49-ae9b2c6b7d93.png)

@agoldis When I do the same, below are the port exposed and dashboard listens on 8080 instead of 5000 and th dasboard does not open on localhost:5000
![image](https://user-images.githubusercontent.com/72126464/10

[2020-12-14 18:02] agoldis commented on #227
What service are you setting the port for?
It's supposed to be `dashboard` service https://github.com/sorry-cypress/sorry-cypress/blob/master/docker-compose.full.yml#L36

[2020-12-14 18:59] agoldis commented on #215
Yes! The challenge is to detect when the run is finished.

[2020-12-15 04:25] preetibellad commented on #227
@agoldis I am setting 5000 for dashboard service
![image](https://user-images.githubusercontent.com/72126464/102170902-65a43980-3ebb-11eb-975b-4b2e6f27c9fa.png)
and I am executing docker-compose.mini.yml
![image](https://user-images.githubusercontent.com/72126464/102170999-8f5d6080-3ebb-11eb-9384-af339e93e507.png)

[2020-12-15 06:57] agoldis commented on #227
@preetibellad you need to define `PORT` environment variable, like this:

[code]

[2020-12-15 10:35] denis-domanskii commented on #215
Probably I'm not familiar enough with a cypress/sorry-cypress protocol, but as I understand - sorry-cypress knows total specs count, sorry-cypress knows each spec status (and shows it in a report), therefore run is finished when all specs are finished. In this moment we can set flag "finished" for specific run and don't try to start it again when a new machine is joined.

[2020-12-15 14:37] preetibellad commented on #227
@agoldis Previously I was running `Run docker-compose -f docker-compose.minio.yml` up now updated the `port `value as per your suggestion and ran `Run docker-compose -f docker-compose.full.yml` up. This worked, thanks.
Does mini and full version of the docker file make any difference?

[2020-12-15 18:07] agoldis commented on #215
TL;DR We don't really know all the specs upfront, we dynamically add specs when a new machine joins. The only solution I can see it some kind of deadline for adding new specs to a run.

---

E.g. given two groups of specs and 4 machines:

[code]

1. machine 1 runs groupA and creates a run populates specs for group A, gets spec A1
2. machine 2 runs groupA, gets spec A2

3. 3 minutes later, machine

[2020-12-15 22:16] agoldis commented on #227
This is not `mini`, it is `minio`, please refer https://min.io/ for details, those are different in terms of storage being used.

[2020-12-15 22:16] #227 closed

[2020-12-17 22:28] slinstaedt opened #228 "Projects names with slashes will break UI"
## Summary

I tried to use my git's fully-qualified repo names (namespace/owner included) as project names for cypress, to be able to generate some link to the CI links (CI_URL), which is also using the fully-qualified names in URLs. Unfortunately though one is able to create such a project, the UI will "break" at some point (it neither requests the api for data, nor throw any exception).

## How

[2020-12-19 14:48] slinstaedt opened #229 "Reduce dasboard memory usage"
Just for curiosity i monitored the memory usage of the cypress docker setup and was a little bit surprised, seeing the dashboard using around 200-250MB, while all the other are fine with 50-60MB. From my understanding the dashboard is only serving the client application (aka static files) to the browsers. Normally one would expect this is a job, a simple nginx with 5MB usage can handle. As infrast

[2020-12-19 14:48] slinstaedt opened #230 "Reduce dashboard memory usage"
Just for curiosity i monitored the memory usage of the cypress docker setup and was a little bit surprised, seeing the dashboard using around 200-250MB, while all the other are fine with 50-60MB. From my understanding the dashboard is only serving the client application (aka static files) to the browsers. Normally one would expect this is a job, a simple nginx with 5MB usage can handle. As infrast

[2020-12-19 14:48] #229 closed

[2020-12-19 14:49] slinstaedt commented on #230
Sorry, had a duplicate post due to browser timeout.

[2020-12-20 09:19] agoldis commented on #225
Hey @khoathanglong it seems working fine - I am able to delete hooks w/o any problem. There're also a bunch of refactoring in the latest release that should have resolved the issue

![Kapture 2020-12-20 at 01 13 20](https://user-images.githubusercontent.com/1637928/102709675-56c5da00-4261-11eb-8337-e07200db9b4d.gif)

[2020-12-20 09:19] #225 closed

[2020-12-20 09:40] #120 closed

[2020-12-20 09:44] agoldis commented on #212
Resolved in https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-beta.11 via #222

[2020-12-20 09:44] #212 closed

[2020-12-20 09:44] #174 closed

[2020-12-20 09:45] #194 closed

[2020-12-20 09:49] agoldis commented on #230
You're right, the service is very simple - it's just a node server that server pre-compiled assets.
How are you measuring the memory? One random idea is that the docker image is bigger than needed because of node modules or leftovers from the build process.

[2020-12-20 20:17] slinstaedt commented on #230
Though I was talking about the runtime memory consumption, having a smaller image is also almost a nice idea ;)

for the runtime memory I was using both classical `top`, and `docker stats`. Even though they might not be accurate, they will give you an idea especially in comparison to other processes.

Have you thought about using a multi-stage build for your images? They can potentially dramatical

[2020-12-21 10:59] denis-domanskii opened #238 "Projects settings are wiped after docker-compose images update"
## Summary

Projects settings are wiped after docker-compose restart. The reason is: proposed in Quickstart section docker-compose config named docker-compose.minio.yml doesn't contain persistent storage for mongo-db image. Therefore, we loose all database data after image update.

In the same time, storage image in the same config have a persistent volume in config:
[code]

Moreover, k8s config i

[2020-12-21 11:00] denis-domanskii commented on #238
@agoldis I'll update yaml files if you fine with it. Updated setup will be look like:

[code]

[2020-12-21 15:50] denis-domanskii commented on #215
Ok, got it. But probably, to be consistent, we should trigger RUN_FINISH event when last known spec is finished?

Because now the flow is:
- ...
- _[run in progress]_
- last spec is executed
- INSTANCE_FINISH hook called
- RUN_FINISH hook called
- _[run is finished]_
- new machine is joined with the same specs set and same ci-build-id
- RUN_START hook called
- _[run in progress]_
- "All tasks clai

[2020-12-21 16:33] agoldis commented on #238
@DeniDoman sure! go ahead!

[2020-12-22 17:01] guidiego opened #239 "[Question] Your Record Key is not valid with this project"
## Summary
When I try to exec my code I have problems in run this key fixedstring.fixedstring.fixedstring.GITHUB_SHA.

`Your Record Key project...acb72 is not valid with this project: glados`

## How to reproduce
I only execute the same code from Sorry Cypress example with the key in previous format

## Environment

- sorry-cypress version: latest
- cypress version: latest
- platform: AWS
- servic

[2020-12-22 18:15] agoldis commented on #239
Are you sure you're not using the original cypress dashboard? sorry-cypress doesn't check record keys

[2020-12-22 18:21] #35 closed

[2020-12-22 18:23] agoldis commented on #215
You're right that's quite important. I will try to resolve this and #134 altogether.

[2020-12-22 19:55] guidiego commented on #239
Yeah @agoldis actually I run local and sometimes they pass, sometimes they give an error. I see that usually works when I add something with `-`.

[2020-12-22 20:26] guidiego commented on #239
[code]

[2020-12-23 04:38] fsmaia opened #240 "Create a helm chart"
- [x] I have seached issues for similar feature requests

## What is this feature about (1 sentence)

This feature is about having a helm chart to automate deployment using [Helm](https://github.com/helm/helm)

## Why is it needed? What is the value? For whom do we build it?

In one of the main guides listed in the docs, the writer used a tool to create a Helm chart:
https://medium.com/@adityahbk/

[2020-12-23 05:52] tico24 commented on #240
I'll take this. It'll probably be in its own repo (at least initially) due to how the Helm releases work.

[2020-12-23 08:51] tico24 commented on #240
I've had a first stab at it. It's currently in my own repo [here](https://github.com/tico24/sorry-cypress-helm/tree/main/sorry-cypress-helm) because I'm nowhere near ready to taint this repo with it!

It's very opinionated, but seems to work with the minimal testing I've done. Would appreciate your feedback.

[2020-12-23 13:00] tico24 commented on #240
I've now spent a few hours on it and its reasonably robust. I believe it's probably "good enough" for an initial release, and then we can grow/tweak it as requirements come through. I'd still appreciate some real-world usage so let me know your thoughts @agoldis @fsmaia.

The default deployment is a non-persistent affair. This should make it easier for new people to deploy. However, persistent mon

[2020-12-23 14:30] fsmaia commented on #240
Wow, can't thank you enough! It looks amazing!

We could configure [helm/chart-releaser-action](https://github.com/helm/chart-releaser-action), it seems simple and takes a few steps to be ready to go.

Bringing in some examples and the relevant config files:

1. https://github.com/cowboysysop/charts
   - [.github/workflows/release.yml](https://github.com/cowboysysop/charts/blob/master/.github/work

[2020-12-23 20:05] tico24 commented on #240
Sounds like a plan. Feel feee to do a PR to my repo if you want to try that... or maybe I'll get a decision on where this code should go and I'll pull my stuff in and you can merge there.

[2020-12-24 00:19] fsmaia commented on #240
Just opened the pull-requests:
* https://github.com/tico24/sorry-cypress-helm/pull/1 (helm/chart-releaser-action)
* https://github.com/tico24/sorry-cypress-helm/pull/2 (gh-pages)

IMHO the final repository could live in https://github.com/sorry-cypress/charts, so the repository would be hosted in https://sorry-cypress.github.io/charts.

[2020-12-24 05:49] agoldis commented on #239
There was another similar issue: https://github.com/sorry-cypress/sorry-cypress/issues/168.
Did you try using a different record key. The point is that sorry-cypress make no use of record key at all.
https://github.com/sorry-cypress/sorry-cypress/search?q=is+not+valid

If the cypress agent receives 401 response, it will throw this message https://github.com/cypress-io/cypress/blob/c12347dc9c4f9dc0

[2020-12-24 06:23] agoldis commented on #240
@tico24 @fsmaia Wow, that's awesome! I am a complete newbie to this quantum technology (help charts), just started reading and grasping the wisdom of greater minds.

At glance:
 - I imagine it would be easier to run a "full" working example with `minio` screenshots support - it allows running the whole bundle w/o any external dependencies. May be it's worth to have some kind of minio in "charts"?

[2020-12-24 06:56] tico24 commented on #240
I'm on mobile so please forgive brevity... I wanted to catch you before the end of your day.

Minio would be a dependency because the right way to do it would be to pull in their helm chart. It can be done, but I wanted you to be aware.  I have a couple of hours today so I will look to include that.

The same goes for mongo, although I've not yet managed to get sorry-cypress working with the mongo

[2020-12-24 07:04] agoldis commented on #240
@tico24 no problem at all!

If there's something that seems unnecessary / too complex, let's skip it for now and release something simple that works. We can iterate later and handle release / external charts... may be more people will contribute and make it better.

As a simple alternative I can just release manually or write a simple script...

[2020-12-24 07:36] tico24 commented on #240
I tried to pop a PR in, but have spectacularly failed! https://github.com/sorry-cypress/sorry-cypress/pull/242

[2020-12-24 08:12] tico24 commented on #240
I think some of the issue is that I can't create a "gh-pages" branch on your repo @agoldis. Once that's done, I can do a PR for that piece of the puzzle. I'm not great at github, sorry!

[2020-12-24 09:47] jpike88 opened #243 "Log errors"
- [x] I have seached issues for similar feature requests

## What is this feature about (1 sentence)
https://github.com/flotwig/cypress-log-to-output
https://github.com/bahmutov/cypress-failed-log
https://github.com/archfz/cypress-terminal-report

## Why is it needed? What is the value? For whom do we build it?
https://github.com/cypress-io/cypress/issues/448

This thread has been open forever abo

[2020-12-24 11:46] tico24 opened #244 "Expose Prometheus metrics"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Optionally expose Prometheus metrics to facilitate devops process improvement

## Why is it needed? What is the value? For whom do we build it?
As a devops engineer, I would like to analyse metrics from my CI test runs to pinpoint common failure points and to improve internal processes over time.

[2020-12-24 19:00] Donaab opened #245 "Test duration time continuous to count"
## Summary

Sorry cypress does X, but should do Y

## How to reproduce

- Go to https://sorry-cypress-demo.herokuapp.com/sorry-cypress/runs
- Confirm for several runs like for example cypress-test-0055
- Test duration is Duration: 6475 min, 7 sec
-
<img width="1417" alt="Sorry-cypress dashboard 2020-12-24 19-56-28" src="https://user-images.githubusercontent.com/18293528/103103622-98b89c80-4622-11e

[2020-12-25 19:23] agoldis commented on #245
thanks for opening that, there're few related issues #215 #142 #134. Hope to fix that soon

[2020-12-26 18:04] fsmaia commented on #240
I also liked having this repository as the helm repository with a charts folder on it. As our docs are in another repository, we won't miss the GH pages in this one. But IMHO it is a personal preference after all. My favorite choice is still having a dedicated charts repository :smile:

In addition to #242, I tried to open a PR adding the `gh-pages` branch, but as @tico24 said, you need to create

[2020-12-28 12:53] pawel-zajac90 opened #246 "Installation issue"
Hi,
I've just installed sorry cypress, and I've got problem with recording my tests. (I'm totally new in cypress)
I added new project in Sorry Cypress and added string as projectID, then added the same string to cypress.json as value of projectID
But still:
"We encountered an unexpected error talking to our servers.

We will retry 3 more times in 30 seconds...

The server's response was:

RequestE

[2020-12-29 03:02] mnovich opened #247 "is there a way to turn off the webhook functionality?"
internal information security wants us to disable it so curious if there is an easy way to do that.

[2020-12-29 03:09] jhicken commented on #247
Yeah not right now. But it should be pretty easy to implement an env var that would turn them off or application setting.

[2020-12-30 06:03] agoldis commented on #247
@mnovich isn't removing all webhooks enough?

[2020-12-30 15:47] guidiego commented on #239
Aparentally was a problem in Docker Image!

[2020-12-30 15:47] #239 closed

[2020-12-30 15:58] guidiego opened #248 "Enhance Generic WebHook"
Related: #149

## What is this feature about (1 sentence)
Give to people who wants use Generic Hook more data.

## Why is it needed? What is the value? For whom do we build it?
Recently I started to research about how could I use Sorry Cypress hooks to enhance my reporters in company Google Chats. I didn't found a documentation for it so I started to take a code look and find it:

https://github.c

[2020-12-30 22:08] mnovich commented on #247
yes - that's what we plan to do in the easiest way possible.

On Wed, Dec 30, 2020 at 12:03 AM Andrew Goldis <notifications@github.com>
wrote:

[2021-01-02 08:01] agoldis commented on #248
thanks for opening this issue, webhooks as is are actually pretty useful, but of course there's a lot of space for improvement.

Please check out #215

I am planning to invest some time into hooks after the holidays.

[2021-01-02 08:03] agoldis commented on #230
@slinstaedt sorry about slow response, I have been afk a lot last few weeks.

[2021-01-02 08:08] agoldis commented on #243
Thanks a lot for reporting that @jpike88.

To make sure I understand properly, you are suggesting to capture console.logs from cypress runner and display it in the dashboard together with test results?

[2021-01-02 08:11] agoldis commented on #244
@tico24 interesting, that area is quite new to me.

It seems like it can be used as a generic metrics tools - not only to monitor infrastructure health and http responses. Am I right?

In that case that's super-cool because it can simplify implementing testing analytics (one of the major features people want based on my survey)

[2021-01-02 08:12] agoldis commented on #246
Hi @pawel-zajac90
It seems like cypress runners aren't able to reach sorry-cypress at `127.0.0.1:1234`. Most chances you've messed smth during the installation. What installation method are you using?

[2021-01-02 08:13] tico24 commented on #244
Yeah that's exactly right. Personally I care less about the infra metrics in this case, but test metrics would be brilliant.

[2021-01-02 08:15] jpike88 commented on #243
Correct

[2021-01-02 08:15] agoldis commented on #247
@mnovich so you want to hard-disable it and disallow the UI as well? That should be quite an easy task @jhicken thank for adding #firstissue label

[2021-01-02 08:18] agoldis commented on #31
@Postavshik thanks for sharing that script here, closing the issue as part of a cleanup

[2021-01-02 08:18] #31 closed

[2021-01-02 08:21] agoldis commented on #123
@coreyshirk I am doing some cleanup here, trying to fit all the issues on one page :)
If you still want to work on that, suggesting to pick a specific module and start small.

[2021-01-02 08:21] #123 closed

[2021-01-02 08:22] agoldis commented on #243
@jhicken is that somehow related to #140 and #141 ?

[2021-01-02 22:58] slinstaedt commented on #230
Used some spare time during lockdown... feedback is welcome #249

[2021-01-02 23:48] jhicken commented on #243
Yup #140 for sure. This was the type of thing I was wanting to do with this.

[2021-01-03 00:14] mnovich commented on #247
correct - disable UI and ability to have them altogether.

On Sat, Jan 2, 2021 at 2:16 AM Andrew Goldis <notifications@github.com>
wrote:

[2021-01-03 05:15] pawel-zajac90 commented on #246
I've installed sorry cypress with docker-compose.minio.yml
I'm using cypress with Docker image browsers:chrome67 and i've added into the Dockerfile
`RUN sed -i -e 's|api_url:.*$|api_url: "http://ip_address:1234/"|g' /*/.cache/Cypress/*/Cypress/resources/app/packages/server/config/app.yml`

[2021-01-03 15:12] pawel-zajac90 commented on #246
okey, so at first i created sorry cypress from docker-compose.minio.yml on my computer.
then i did cloned project repo on vm and started there....
now both instances can see the same tests...(two differend machines, two times cloned repository...what's going on?)
this second instance should get tests results from other VM....

[2021-01-04 15:04] guidiego commented on #248
@agoldis We are using SorryCypress here in my company and this enhances/RUN_END will be a great thing for us (we want to implement a bot that alert when switches fail). Let me know if I could help in something!

[2021-01-05 23:46] fsmaia commented on #240
Up :)

[2021-01-06 06:07] tim-sendible commented on #240
Please don't use my repo for the first tests. 2 reasons:
1. I have merged it into my fork of sorry-cypress already so it's out of date
2. It broke my website because I am using gh-pages for my blog :)

[2021-01-06 06:08] tim-sendible commented on #240
That said, the tests in my fork of this repo do pass, so I think simply creating the gh-pages branch and allowing us to do thos 2 PRs should be enough.

[2021-01-06 06:08] tico24 commented on #240
Please don't use my repo for the first tests. 2 reasons:
1. I have merged it into my fork of sorry-cypress already so it's out of date
2. It broke my website because I am using gh-pages for my blog :)

[2021-01-06 06:16] agoldis commented on #240
@tico24 @fsmaia I was sure that adding org members would grant sufficient permissions to create branches etc... apparently not. I have invited you to a team that has maintainer access to this repo, and admin for https://github.com/sorry-cypress/charts

Please tell me if that's sufficient

[2021-01-06 11:16] tico24 commented on #240
ok - after a fair bit of trial and error, here's where we are at:

1. The sorry-cypress repo no longer has helm things in it.
2. The charts repo does.
3. Lint on PR now works

[2021-01-06 12:23] fsmaia commented on #240
Amazing guys! I'm really sorry for not helping/interacting before, it was due to the Brazil timezone.

About the K8s version, count on me @tico24.

Yep, I agree with closing this issue and using the sorry-cypress/charts for further discussions o/

[2021-01-06 12:31] tico24 commented on #240
Nothing to apologise for. I think we're in 3 different countries, although I can never work out @agoldis because he seems to be up when I think he should be asleep!

[2021-01-06 13:50] vranky commented on #239
I have the same issue @guidiego how you fixed it? Thanks

[2021-01-06 14:58] guidiego commented on #239
@vranky Are you using Docker? In my case the Cypress version in docker and the Cypress version on my node_modules not match at all! Check if the cypress that you are running are with the correct setup into .yml

[2021-01-06 18:48] tico24 commented on #240
One more thing @agoldis. I would suggest we now remove the Kubernetes yaml examples that I added before.

If people are running kubernetes they can easily run helm and the helm chart is much more flexible than the original yaml.

[2021-01-06 19:02] agoldis commented on #240
@tico24 sure, that makes sense! https://sorry-cypress.dev/installation/kubernetes is the only documentation we have, I can just point to your blog post.

[2021-01-06 19:03] tico24 commented on #240
My blog post is up. It's admittedly very sparse though!

[2021-01-07 01:07] pawel-zajac90 commented on #246
Does anybody know why i can't see full dashboard?

[2021-01-07 11:07] bartekkustra commented on #246
I actually can't even spin up the `docker-compose`. Any idea why?

![image](https://user-images.githubusercontent.com/13950466/103885790-d5839980-50e0-11eb-8012-794b99d2fa6a.png)

[2021-01-07 18:45] agoldis commented on #246
that's weird... can you please capture the whole page? Also, what version are you using? Any error messages in console?

[2021-01-07 19:15] agoldis commented on #230
I guess this was resolved by #249

[2021-01-07 19:15] #230 closed

[2021-01-08 05:40] pawel-zajac90 commented on #246
![image](https://user-images.githubusercontent.com/52409917/103978396-af5f0780-517b-11eb-9303-cb87da13d1a2.png)
there is one error
![image](https://user-images.githubusercontent.com/52409917/103978479-d4537a80-517b-11eb-9c72-efb306b70da0.png)
I've got now additional problem...
when I'm running on VM with Jenkins, and dahboard stays on another, there is a lot of errors like this: RequestError: Erro

[2021-01-08 06:10] agoldis commented on #246
looking at the screenshot, the build id is empty - what command are you running? `--ci-build-id` should be a valid string.
I can't say a lot about the error, there's not enough info. Try to make sure all the containers are accessible and ports are open.

[2021-01-08 06:16] pawel-zajac90 commented on #246
I'm using docker container:
https://hub.docker.com/r/cypress/browsers
but the point is: it works well locally, the problem is only when dashboard is on other VM then tests
I did started dashboard with docker-compose-minio.yml, so all ports are opened

[2021-01-08 06:35] agoldis commented on #246
did you change all the env variables? e.g.
https://github.com/sorry-cypress/sorry-cypress/blob/master/docker-compose.minio.yml#L46
has `MINIO_ENDPOINT` which should be accessible from your browser and director

[2021-01-08 06:46] pawel-zajac90 commented on #246
My MINIO_URL is IP of VM accessible in my network
MINIO_ENDPOINT is 'storage' as default so maybe there is the problem? Can i set it also as ip:port to by accessible for cypress on other VM?

[2021-01-08 07:51] agoldis commented on #246
you can tweak /etc/host to make `storage` point to the right IP address as appears at https://sorry-cypress.dev/director/storage#minio-driver

[2021-01-08 08:29] pawel-zajac90 commented on #246
on host1 i've got container with cypress
on host2 i've host containers with sorry-cypress
I should edit /etc/hosts on host1, am i right?

[2021-01-11 07:42] tico24 commented on #240
I think we can probably close this.

[2021-01-11 07:42] #240 closed

[2021-01-11 13:09] michaelpistrang-vetro commented on #176
I'm having some issues running the recent sorry-cypress code via cloudformation, and I believe it may be related to this change.  (see stack trace below).

In my case it looks like CI_URL is a non-empty value since it makes it passed the validation but isn't in a tuple format so calling split() on it yields `undefined` for the `url` part.

Where do you expect CI_URL to be set in the scenario where

[2021-01-13 04:05] agoldis commented on #176
@michaelpistrang-vetro totally a bug, will take a look

[2021-01-13 04:06] agoldis opened #261 "Reported by @michaelpistrang-vetro CI_URL on cloudformation"
I'm having some issues running the recent sorry-cypress code via cloudformation, and I believe it may be related to this change. (see stack trace below).

In my case it looks like CI_URL is a non-empty value since it makes it passed the validation but isn't in a tuple format so calling split() on it yields undefined for the url part.

Where do you expect CI_URL to be set in the scenario where sorr

[2021-01-13 06:15] agoldis commented on #261
@michaelpistrang-vetro I have updated the template, it's an env var for dashboard https://github.com/sorry-cypress/sorry-cypress/blob/master/cloudformation/sorry-cypress.yml#L476

[2021-01-13 06:15] #261 closed

[2021-01-13 09:06] agoldis commented on #8
One idea I've been tossing around is to have some kind of automation that forks the original cypress on every release, applies some patch that allows overriding `api_url` by an env variable from CLI and builds / releases a new binary, i.e. `not-cypress` npm package that's complete clone of `cypress` but with this small extra feature

[2021-01-13 09:30] agoldis opened #262 "add fsmaia"
@all-contributors please add @fsmaia for code and infrastucture

[2021-01-13 18:29] agoldis commented on #262
@all-contributors please add @fsmaia for code and infrastucture

[2021-01-13 18:30] #262 closed

[2021-01-13 20:36] michaelpistrang-vetro commented on #261
Thank you!

[2021-01-18 10:47] tico24 opened #264 "Error when viewing a project"
## Summary

When trying to view a project or runs, I just get noise.

## How to reproduce
Install a brand new sorry-cypress stack (using the docker:latest images). Run a test.
Go to view the run.

## Environment

- sorry-cypress version: `latest`
- cypress version: `6.1.0`
- platform: `docker (k8s)`
- service: `all`

Here is the error (I have obfuscated our sorry-cypress url)

Error:
kr@https://my

[2021-01-18 11:29] tico24 commented on #264
Turns out this is caused by the CI_URL environment variable.
If I set it to anything other than "" then the above occurs.

[2021-01-18 11:51] tico24 commented on #264
Even with the CI_URL set to "", if I go to edit a project and click "add hooks", I get the error as above.

[2021-01-18 20:16] agoldis commented on #264
@tico24 should have been resolved by https://github.com/sorry-cypress/sorry-cypress/commit/d8c577593d43819072d44743ebc7dd915effa49c

[2021-01-19 03:32] pawel-zajac90 commented on #246
Hi again
I've got tests on my dashboard but i can't see screenshots.
i'm using docker-compose.minio.yml as follow:
[code]

my director container output is:
[code]
But when i visit 192.168.60.1:9000 there is only empty bucket
also logs from minio container are empty
[code]
When i run sorry-cypress locally it works.
Does anybody know how to fix it? I was looking for an answer in other issues but wit

[2021-01-19 08:08] tico24 commented on #264
@agoldis  Tested again by pulling down the latest docker images. This has now resolved both issues (valid and blank CI URL). Thanks

[2021-01-19 08:08] #264 closed

[2021-01-20 05:06] gauravguptagit opened #268 "Slack web-hook post 'Started Run' multiple time, equals to the number of parallel executors for a single run"
## Summary

Slack web-hook post 'Started Run' multiple time, equals to the number of parallel executors for a single run.

## How to reproduce

1. Keep 2 parallel executor for parallel run.
2. Integrate to Slack web-hook via project setting in sorry-cypress dashboard to notify for 'Run start' & 'Run finish' events to a slack channel.
3. Run the cypress tests with 2 parallel executor.
4. Observe th

[2021-01-21 12:41] bartekkustra commented on #246
I actually couldn't get `sorry-cypress` to run locally at all. I wish it had a detailed step-by-step video tutorial on installation on a fresh machine.

[2021-01-21 13:32] iamkhalidbashir commented on #5
I thought the same, why is it ok for everyone?

Doesn't matter if it is used for open-sourced project or not, a simple login-register based access is always better than [allowed keys](https://sorry-cypress.dev/director/configuration#configuration)

[2021-01-21 18:17] agoldis commented on #246
@pawel-zajac90 @bartekkustra

Hey guys, we have:
- https://sorry-cypress.dev documentation
- AWS Cloudformation templates
- Docker images
- Ready-to-use `docker-compose`
- Helm charts to easily deploy k8s cluster https://github.com/sorry-cypress/charts

Each and every configuration might be unique and obviously we aren't able to provide personal support with installation to everyone, even though w

[2021-01-21 18:18] agoldis commented on #246
@pawel-zajac90 you can try running cypress with `DEBUG=cypress:*` to see if cypress agents are able to reach minio to upload the screenshots

[2021-01-21 21:42] pawel-zajac90 commented on #246
It works for me now ;) i've added some informations which in my opinion should be available in documentation here:
https://github.com/sorry-cypress/sorry-cypress.dev/issues/12
@bartekkustra what's the problem? i think i could help You :)

[2021-01-22 04:24] #268 closed

[2021-01-22 05:31] agoldis commented on #246
@pawel-zajac90 Thanks for summarizing your issue! I am closing this issue meanwhile.

[2021-01-22 05:31] #246 closed

[2021-01-22 19:12] agoldis opened #270 "Mongo indexes validation for director"
Director should be more strict with indexes validation / creation because it's a critical part in assigning machines to a run.

[2021-01-26 16:25] kubakrzempek commented on #60
Recently I had to remove older runs in a script file and had to look through a source code of sorry cypress on how to implement this.
So if someone wants to delete older runs in a time range here's a snippet (it's JS; should be self-explanatory I hope) -- maybe it will come in handy:

[code]

[2021-01-31 08:21] agoldis commented on #46
@francescov1 thanks a lot for this guide. Recently I've got a chance to work more on documentation and used your instructions to compile this guide [https://agoldis.gitbook.io/sorry-cypress/cloud-setup/google-cloud](https://agoldis.gitbook.io/sorry-cypress/cloud-setup/google-cloud)

It also includes instruction for enabling screenshots and videos upload. Would appreciate any feedback.

I will also

[2021-01-31 08:21] #46 closed

[2021-02-02 12:15] mnovich opened #274 "alternative for runners"
im strongly considering using kubernetes jobs to actually be my "agents" - one thing i thought was possible and is - you can override host files entries for a specific pod, https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/so thinking to simply  do that for pointing api.cypress.io to my sorry cypress https endpoint - that is slightly annoying on

[2021-02-02 18:14] agoldis commented on #274
I think you can absolutely do that! I did try to do that Google Cloud, but didn't have time to actually complete the experiment.

Maybe @tico24 and @fsmaia can comment on this approach?

[2021-02-02 18:16] tico24 commented on #274
You should be able to do that, yes. It might be easier to add a rewrite rule to your coredns configmap that points that url to your relevant kubernetes service.  This would then work across your whole cluster.

[2021-02-02 18:47] agoldis opened #275 "Health check for API service"
https://www.apollographql.com/docs/apollo-server/monitoring/health-checks/

[2021-02-02 18:56] #275 closed

[2021-02-04 20:41] ThomasPause commented on #90
Hi, anything new with that issue? having the same challenge with that and restarting the director is not the best way in everydays usage ;)
Btw: very very nice app, i love it!!!

Also running on K8S with mongoDB and Minio

[2021-02-09 08:14] ThomasPause commented on #90
Problem is gone when using dummy driver for screenshots. Seems to be Minio connection issue. I´m going to dive deeper into it and report it here.
Also have problems with showing images/videos, but I think that´s my fault. ;)

[2021-02-15 09:40] xwchris commented on #248
Is this in progress?

[2021-02-15 09:41] agoldis commented on #248
@xwchris yes, still working on that

[2021-02-15 18:19] agoldis commented on #274
@mnovich I am closing this one as it doesn't imply any action at the time. If you want to explore that further please consider joining our slack channel.