[2021-02-15 18:19] #274 closed

[2021-02-16 04:39] stobias123 opened #277 "Unable to upload"
## Summary
Getting timeouts trying to upload in k8s.

s3 driver per the docs, minio backend.

Cypress returns 504. and seeing the below error in director logs.

[code]

[2021-02-16 06:59] stobias123 commented on #121
@yannay000  - what is your use case, are you on openshift?

[2021-02-16 10:50] E7ranger opened #278 "Parallelization stopped working after update to CY 6.3.0 or higher"
Sorry cypress stopped working after update to 6.3.0 or higher. Still working on 6.2.1.

I'm using cypress with docker using cypress included images and one liner for re-routing to sorry cypress director service
`sed -i -e 's|api_url:.*$|api_url: "http://10.11.12.13:1234/"|g' /*/.cache/Cypress/*/Cypress/resources/app/packages/server/config/app.yml`

Then after run started in jenkins with `docker ru

[2021-02-16 18:03] agoldis commented on #278
I was able to run with 6.3.0 - 6.5.0. Please double check your configuration.

[2021-02-16 19:14] #278 closed

[2021-02-16 19:45] agoldis commented on #277
To make sure, you're using minio as a gateway to S3?
If that's the case, you'd use minio driver https://docs.sorry-cypress.dev/configuration/director-configuration#remote-storage-configuration

I will update helm charts to reflect that

[2021-02-16 19:47] agoldis commented on #277
Oh, it's actually already in-progress: https://github.com/sorry-cypress/charts/pull/41/files

[2021-02-16 22:42] stobias123 commented on #277
I'm not using minio as an s3 gateway.

Minio is my object store.

[2021-02-17 13:53] muhkuh2005 opened #280 "Received Instance result: UnhandledPromiseRejectionWarning: Error: Non-plain object detected"
## Summary

When cypress finishes a suite and it uploads the result it ends up with a sockettimeout.
Console log from the director reads:
[code]

I thought it would be the minio connection failing but I can't seem to find anything wrong with it.

## How to reproduce
* Start sorry-cpress ( `docker-compose -f ./docker-compose.minio.yml up -d` )
* Start a test

## Environment

- sorry-cypress version

[2021-02-18 05:47] stobias123 opened #281 "Add bitbucket hooks"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Send build status hooks to bitbucket
## Why is it needed? What is the value? For whom do we build it?
For me and other bitbucket users.
## Other
Already implemented in #279  - just creating the issue for tracking, discussion and others to see.

[2021-02-18 07:43] agoldis commented on #248
Wow, seems like the hook information was completely wiped out during a merge... fixing that and adding tests to avoid embarrassment

[2021-02-18 15:24] kirtangajjar opened #282 "Changing name might improve adoption"
Hey there :wave:

Absolutely love the work done here. Just had a small suggestion, the current name sometimes scares people a little bit(happened today with my manager), gives a hacky-side-project feel and seems a little risky as cypress.io could jinx this project because of trademark/copyright violations, especially since there is also a cloud based paid service.

So just thought to put it out he

[2021-02-18 18:56] agoldis commented on #282
Good point. It is indeed a provocative name that was picked at random just when the project started. Having a more conventional term would help.

I am moving this issue to a discussion board. Mid / long term we'll probably change the name. I am also looking for legal advice on that manner.

[2021-02-18 18:57] #282 closed

[2021-02-18 19:45] agoldis commented on #277
@stobias123 Fixed Slack link. Thanks for pointing out!

[2021-02-18 19:45] agoldis commented on #277
Did you manage with minio setup?

[2021-02-18 20:45] stobias123 commented on #277
@agoldis  - Yes but using minio driver.

We can close this issue, I misunderstood, thinking the above might be an issue with s3 driver, but I should've been using minio driver. I made some tweaks to my deployment to match docker compose and things worked out.

FWIW - I'm running cypress outside of cluster, and had to use `kubefwd` to get uploads to work, since the `MINIO_ENDPOINT` is an in-cluster

[2021-02-18 20:45] #277 closed

[2021-02-18 20:57] agoldis commented on #277
@stobias123 I was trying to resolve this issue. The challenge is that signed urls for image uploads have the hostname encoded in signature. Director get signed URL from minio using internal hostname - and cypress agents are forced to use the same hostname.

[2021-02-19 12:25] debbiehawkes opened #284 "Director service is ready at http://0.0.0.0:1234"
I'm testing out sorry-cypress on my local machine and when I try to run it, is saying that the Director server is ready at http://0.0.0.0:1234/.

[code]

**How to reproduce**
Execute the following command: docker run agoldis/sorry-cypress-director

**Environment**
sorry-cypress version: latest version
cypress version: 6.5.0
platform: docker
service: director

[2021-02-19 14:51] muhkuh2005 commented on #284
I am not affiliated to the dev's but I must admit that I don't see anything wrong with that.
0.0.0.0 is pretty common and defines that it is running on "all interfaces". So any ip/domain that points to your server.

The Director itself is only where your cypress runner asks for jobs to do.
It does not offer the API nor Webinterface. If you'd like to run the entire "standalone ecosystem" you'll hav

[2021-02-19 15:39] darko711 commented on #121
@stobias123 i tried to get it running on OpenShift today, but have no chance due to some permission denied issues with /etc/nginx/* and /var/cache/nginx/*.

do you have any infos if there is a way to get it running on OpenShift?

[2021-02-19 18:44] agoldis commented on #280
Thanks @muhkuh2005 does it always reproduce?
The code tries to remove invalid values before saving to mongo, but it's quite hard to debug without knowing the input. Would be great if you can capture and share the input somehow

[2021-02-19 18:45] agoldis commented on #284
@debbiehawkes yeah, what's the actual problem :) ?

[2021-02-19 18:50] agoldis commented on #121
@tico24 do you have any experience with Open Shift?

[2021-02-19 18:52] tico24 commented on #121
None I'm afraid @agoldis, but rootless would be nice 😄

[2021-02-19 19:23] debbiehawkes commented on #284
Human error here! Thanks for replying!

[2021-02-19 19:25] #284 closed

[2021-02-19 20:59] stobias123 commented on #121
Yes I'm running on open shift. I'll see if I can add some docs.

On Fri, Feb 19, 2021, 10:52 AM Tim Collins <notifications@github.com> wrote:

[2021-02-21 15:33] #238 closed

[2021-02-22 13:20] darko711 commented on #121
@agoldis Could you provide containers which run non-root for OpenShift, please? Or too much hassle?

[2021-02-22 18:17] agoldis commented on #121
@darko711 awesome, I'll merge your work with mine later this week

[2021-02-22 18:55] darko711 commented on #121
@agoldis i cloned your repo and rebuilt the dashboard. The Installation now fetches the Dashboard Image from my private OpenShift Registry. I replaced the FROM: nginx with ->

FROM nginxinc/nginx-unprivileged

I got the container now up and running in OpenShift, but still something is missing as as i get an CORS Error when the Dashboard calls the API Server. "MissingAllowOriginHeader". Any ideas?

[2021-02-22 19:05] agoldis commented on #121
@darko711 actually my previous comment was intended for a different issue :)

I think CORS is missing on the dashboard side, it'd be added nginx configuration as described here https://enable-cors.org/server_nginx.html

[2021-02-22 19:06] agoldis opened #286 "Enable CORS configuration on api"
A follow up from https://github.com/sorry-cypress/sorry-cypress/issues/121

[2021-02-22 19:29] darko711 commented on #121
@agoldis doesn't CORS rules need to be set on the apiServer to allow Requests from the Dashboard?

[2021-02-22 19:39] agoldis commented on #121
@darko711 absolutely, you are right :) I was dreaming

[2021-02-23 14:05] darko711 commented on #286
@agoldis actually i don't have issues with CORS in OpenShift anymore. It was an issue with a wrong configured mongodb container, which then throw an error with the CORS errorMsg. For me this issue can be closed.

[2021-03-02 12:29] olup commented on #248
Any progress on reverting the wipe ? I'd love webhooks with some data - right now it's just empty

[2021-03-02 21:50] muhkuh2005 commented on #280
Sorry for the late reply.
Yes I can always reproduce it with the test I am using.
The cypress api request to upload the results:
[code]
token undefined... did I miss something?

I tried it this time with cypress v6.6.0 to see if maybe something changed meanwhile

[2021-03-03 08:29] #280 closed

[2021-03-03 22:27] muhkuh2005 opened #289 "UnhandledPromiseRejectionWarning: MongoError: input to $map must be an array not object"
## Summary

Sorry cypress does not delegate test specifications to runners.
The Dashboard shows an error in project view.

## How to reproduce
* Start sorry-cpress ( docker-compose -f ./docker-compose.minio.yml up -d )
* Start a test

## Environment

- sorry-cypress version: `v1.0.0-beta.15`
- sorry-cypress commit: `3f62835a92592bac4afeebda2d3938f10e07efc4`
- cypress version: `6.6.0`
- platform: `

[2021-03-04 04:17] #289 closed

[2021-03-04 14:36] KyleThenTR opened #290 "AWS ECS tasks not starting up on beta 16"
## Summary

Tried to upgrade to beta 16 this morning and none of the AWS ECS tasks are starting up. They get stuck in pending and then end up stopping. Attached are the logs in cloudwatch for the tasks.

[log-mongo-task.xlsx](https://github.com/sorry-cypress/sorry-cypress/files/6084376/log-mongo-task.xlsx)
[log-dashboard-task.xlsx](https://github.com/sorry-cypress/sorry-cypress/files/6084377/log-d

[2021-03-04 18:26] agoldis commented on #290
@KyleThenTR  I was able to run it on my AWS account: http://sc-0304-676789617.us-east-1.elb.amazonaws.com/
What do ECS events log say? Cloudwatch logs are all normal

[2021-03-05 07:59] #142 closed

[2021-03-05 13:19] KyleThenTR commented on #290
@agoldis got it working today, it was because I was missing these environment variables for the dashboard https://github.com/sorry-cypress/sorry-cypress/commit/f6a9beadd75962fef474abaf8b5c85e1ccdeae36#diff-41f75e90b625dfc507e373eb71520efa754fbfcc6524df70b8fb8002ce1d0419R474-R477 (I was upgrading from beta 10). Wonder if there should be a changelog to track these types of changes that are required

[2021-03-05 18:04] agoldis commented on #290
Yeah, good point, I am not disciplined enough to keep organized commits, but changelog would be useful for sure!

[2021-03-05 18:04] #290 closed

[2021-03-12 07:19] agoldis commented on #281
Resolved in https://github.com/sorry-cypress/sorry-cypress/pull/292

[2021-03-12 07:19] #281 closed

[2021-03-12 07:20] agoldis commented on #248
Resolved in https://github.com/sorry-cypress/sorry-cypress/pull/292

[2021-03-12 07:20] #248 closed

[2021-03-12 07:20] agoldis commented on #245
Resolved in https://github.com/sorry-cypress/sorry-cypress/pull/292

[2021-03-12 07:20] #245 closed

[2021-03-12 07:20] agoldis commented on #215
Resolved in https://github.com/sorry-cypress/sorry-cypress/pull/292

[2021-03-12 07:20] #215 closed

[2021-03-12 07:22] agoldis commented on #134
Resolved by https://github.com/sorry-cypress/sorry-cypress/pull/292

[2021-03-12 07:22] #134 closed

[2021-03-12 07:23] agoldis commented on #149
Updated https://doc.sorry-cypress.dev

[2021-03-12 07:23] #149 closed

[2021-03-12 08:09] pnilesh10 opened #293 "Getting MongoNetworkError: failed to connect to server [localhost:27017] on latest image of sorry-cypress director"
## Summary

With the latest release, when I start director image and do cypress run

23:46:44 (node:1) DeprecationWarning: current Server Discovery and Monitoring engine is deprecated, and will be removed in a future version. To use the new Server Discover and Monitoring engine, pass option { useUnifiedTopology: true } to the MongoClient constructor.
23:46:44 (Use `node --trace-deprecation ...` to

[2021-03-12 08:36] agoldis commented on #293
@pnilesh10 sorry I was messing with the release, should be fixed now

[2021-03-12 08:36] #293 closed

[2021-03-14 09:59] agoldis opened #294 "rc.0 tries to fire hooks for in-memory driver"

[2021-03-14 10:06] #294 closed

[2021-03-17 07:59] agoldis opened #296 "Cypress 6.7.0+ support"
cypress@6.7.0 introduced a new API endpoints
- `/instances/:instanceId/results`
- `/instances/:instanceId/tests`

Tests aren't running on 6.7.0+

[2021-03-17 17:01] agoldis commented on #296
Will be fixed in rc.2 today / tomorrow

[2021-03-18 18:45] dinuemani opened #298 "After cypress upgrade to 6.6.0 version, it is not taking key values"
## Summary

After cypress upgrade to 6.6.0 version, it is not taking key values
error message:
_**

**_

## How to reproduce

1. upgrade cypress to 6.6.0 version and run the parallel command
## Environment

- sorry-cypress version: `1.0.0-rc.1`
- cypress version: `6.6.0`
- platform: `docker `
- service: `api | director | dashboard | all`

[2021-03-19 19:44] agoldis commented on #296
Integrate mongo driver with cypress 6.7.0 #297

[2021-03-19 19:44] #296 closed

[2021-03-20 00:23] agoldis commented on #298
@dinuemani we have users running cypress 6.8.0 and up, it must be something with how you're running cypress. e.g.
[code]
works

[2021-03-20 00:23] #298 closed

[2021-03-22 18:14] dinuemani commented on #298
i tried to start the director from sorry-cypress and it shows this.. am i doing anything wrong in starting the server?
this with sorry-cypress rcbuild("version": "1.0.0-rc.1"):
$ docker run -p 1234:1234 agoldis/sorry-cypress-director
🚀 Director service is ready at http://0.0.0.0:1234/...

but when i run with beta version("version": "1.0.0-beta.16"):
when i run this command, it works (docker-compos

[2021-03-22 18:25] egramens opened #299 "Jobs never timing out, timing out too soon"
## Summary

A lot of the runs reporting into sorry-cypress are finished but are in the state of "waiting for inactivity timeout" for days while another job that is actually still running has reportedly timed out after 3 minutes of inactivity.

 ## Timed out too soon:
<img width="459" alt="Screen Shot 2021-03-22 at 2 23 08 PM" src="https://user-images.githubusercontent.com/65231753/112039314-4e0fc9

[2021-03-22 18:33] agoldis commented on #298
@dinuemani

It's really up to you to decide how do you want to run the service. When running docker-compose you start all the services together. Running only `docker run -p 1234:1234 agoldis/sorry-cypress-director` only starts the director service - without the dashboard, persistence etc...

[2021-03-22 18:40] agoldis commented on #299
Thanks @egramens!

Do you have any specs running for more than 3 minutes? If yes, I would recommend either splitting those specs or increasing the inactivity timeout for the project.

I will take care of the stage runs, issue.

[2021-03-22 19:04] egramens commented on #299
@agoldis So we have 2 types of tests, regular CICD tests that generally take between 1 and 3 mins per spec, though some are around 3m30s per spec. The other type are e2e tests that run serially and can take 15m per spec to several hours sometimes if there are errors.

[2021-03-22 19:07] agoldis commented on #299
Hmm... seems like the [inactivity timeout](https://docs.sorry-cypress.dev/concepts/inactivity-timeout) concept wouldn't work well for 15 minutes case...

Are you using hooks for integrating with GH / Bitbucket?

[2021-03-22 19:24] egramens commented on #299
We are using Gitlab CI and running cypress tests via a handful of pipeline jobs. I'm reconfiguring the cypress agent to point to our sorry-cypress endpoint in our AWS environment.

The cypress runs use these flags:
`cypress run --parallel --record --key "$CI_COMMIT_SHA" --ci-build-id "$CI_COMMIT_SHA" --group "$TEST_SUITE"`

where `$CI_COMMIT_SHA` is the build-in CI commit short SHA value, and `$TE

[2021-03-24 13:17] tpott519 opened #300 "Build the uploadUrl without port specification"
- [x ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Allow the uploadUrl to be built without specifying a port.

## Why is it needed? What is the value? For whom do we build it?
Currently, it appears that the uploadUrl is built using the MINIO_PORT value. If a MINIO_PORT value is not provided then it appears to be defaulted to 9000. Unlike the read

[2021-03-24 18:35] agoldis commented on #300
Thanks for reporting that issue @tpott519

I am wondering if setting the port to `443` or `80` would be a quick workaround? I can remove the port from the configuration of course.

---

Also, does `traefik` allows generating signed upload URL with `storage.mydomian.com` hostname?

The upload URL signature embodies `minio` the hostname, so cypress agents and director should be using the same hostna

[2021-03-24 18:48] agoldis opened #302 "Is there a way to set the `uploadUrl` for S3? I might be missing something, but since there is `S3_READ_URL_PREFIX`, I would expect there to be one for upload URL as well."
Is there a way to set the `uploadUrl` for S3? I might be missing something, but since there is `S3_READ_URL_PREFIX`, I would expect there to be one for upload URL as well.

https://github.com/sorry-cypress/sorry-cypress/blob/97f69d3b4ff0a31e75ef016496027a6210bd0017/packages/director/src/screenshots/s3/s3.ts#L51-L52

However, it looks like that is not the case, and `uploadUrl` is hardcoded

https:/

[2021-03-24 18:56] tpott519 commented on #300
Hmmmm - not sure. Good question. I can look into and ask the gurus I know :)

I currently have traefik setup to not accept any ports - so for me 80 and 443 won't work. I am sure there is a way to have it stripped off or ignored via traefik and this can be a work-around (I already have a work-around that is doing great - running the gitlab-runners in the same docker network as minio).

[2021-03-24 19:12] agoldis commented on #300
Interesting... traefik should have **some** port open to be able to accept connections

[2021-03-24 23:05] tpott519 commented on #300
I apologize @agoldis  80 and 443 do accept traffic. Sorry for the confusion. I tried with 80 and it worked fine.

[2021-03-25 05:35] agoldis commented on #300
@tpott519 np! Can I close the issue?

[2021-03-25 11:57] tpott519 commented on #300
Absolutely - I'll close it myself :)

Thanks for your help @agoldis !

[2021-03-25 11:57] #300 closed

[2021-03-27 09:23] agoldis commented on #8
Here we go: https://www.npmjs.com/package/cy2

[2021-03-27 09:23] #8 closed

[2021-03-29 03:38] agoldis commented on #296
Supported in RC.2

[2021-03-29 14:16] eric-hc commented on #121
Has anybody built & published a non-root image yet?

[2021-03-30 04:06] agoldis commented on #121
I don't think so, probably @darko711 had had some success. Would be happy to help with a PR!

[2021-04-02 05:54] agoldis commented on #286
Closing in favor of https://github.com/sorry-cypress/sorry-cypress/discussions/306

[2021-04-02 05:54] #286 closed

[2021-04-03 08:05] kirtangajjar opened #307 "Roadmap for project"
It would be really cool to see a roadmap of the project which would list out the upcoming features/bugfixes of the project.

[2021-04-04 05:06] #307 closed

[2021-04-04 05:08] agoldis commented on #270
Resolved in rc-2 https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/lib/mongo.ts#L32

[2021-04-04 05:08] #270 closed

[2021-04-06 17:18] CScharer commented on #194
I was never able to figure out what the issue was with this, but while trying to upgrade to Cypress 6.8.0 I found other issues and now have it successfully working with Cypress 6.6.0.  I plan to work on upgrading to Cypress 6.8.0 next, but need to figure out the changes with SorryCypress.

[2021-04-07 00:28] lpanger commented on #208
I'm having trouble getting local uploading working. I'm running on Windows and I've updated my host file at c:\windows\system32\drivers\etc

From the command line I can resolve localhost -> 127.0.0.1

No error messages in the docker-compose terminal. Any tips on how to debug this?

[2021-04-07 03:05] agoldis commented on #208
Run cypress with `DEBUG=cypress:*` to see upload error details

[2021-04-07 03:47] bagedevimo opened #310 "Missing data for runs in dashboard"
## Summary

Sorry cypress dashboard showing "No run found" when viewing the list of runs, despite me creating a run (the project was just created)

## How to reproduce

I just updated to 1.0.0rc2 and nuked my MongoDB database (and recreated)

## Environment

- sorry-cypress version: `1.0.0rc2`
- cypress version: `7.0.0`
- platform: `docker via heroku`
- service: `dashboard`
-
![image](https://user

[2021-04-07 03:48] bagedevimo commented on #310
<img width="974" alt="image" src="https://user-images.githubusercontent.com/1319813/113807676-b3211b00-97b8-11eb-9971-b94cc6ec03dd.png">

Just found this in the console - investigating if I've got a version mismatch.

[2021-04-07 06:15] agoldis commented on #310
@bagedevimo thanks for reporting that! Please let me know what you've found.
- Is `run.meta.ciBuildId` present?
- Confirmed cypress 7.0.0 works as usual https://sorry-cypress-demo.herokuapp.com/run/bc3a8ba7fd7307f408d73623c773612a
- Please make sure that the you have indexes recreated properly as in https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/lib/mongo.ts

[2021-04-07 16:32] lpanger commented on #208
Ah, found it! Cypress process couldn't resolve `storage`. I'm assuming this is pulled from `MINIO_ENDPOINT` in the yaml. Should this be configured to be an address resolvable outside of docker or should it be added to the hosts file? I tested the hosts file method and it worked.

[2021-04-07 19:20] agoldis commented on #208
@lpanger  please take a look at https://docs.sorry-cypress.dev/configuration/director-configuration#minio-configuration `MINIO_ENDPOINT` section

[2021-04-07 21:54] bagedevimo commented on #310
Huh - the indexes are missing! Is there a simple way I have the director recreate these?

[2021-04-07 21:58] bagedevimo commented on #310
![image](https://user-images.githubusercontent.com/1319813/113940033-f038ec00-9850-11eb-9d6b-47e3c8a2eaa7.png)

We are indeed missing run.meta.ciBuildId! I'm invoking via cy2, could this be the cause?

[2021-04-07 22:21] agoldis commented on #310
Restarting the director should trigger indexes recreation

Shouldn't be, it just passes down all the arguments to `cypress`, also it's been used by quite a few orgs already - they'd file an issue.
For some reason `ciBuildId` wasn't populated while creating a run.

Let me ask a few more questions:
- Is it reproducible?
- What exact command are you using to create a run?
- Are other `meta` props mis

[2021-04-07 22:26] bagedevimo commented on #310
* It's happening on every new build

* Here are the commands we use to create builds, run via GitLab CI
```CYPRESS_API_URL=https://de-sorry-cypress.herokuapp.com/ yarn cy2 run --browser chromium --headless -c numTestsKeptInMemory=0,retries=3 --record --key <censor> --parallel ````

Note that before this step, I do the following:

[code]

* Other meta values seem to be present

![image](https://use

[2021-04-07 22:33] agoldis commented on #310
@bagedevimo when you look at director logs on heroku, you'd see something like:

[code]

Would be helpful to see this output

[2021-04-07 22:35] bagedevimo commented on #310
[code]

[2021-04-07 22:36] agoldis commented on #310
ok, so probably it is `cy2` :) looking into

[2021-04-07 22:42] bagedevimo commented on #310
Where is the ciBuildId derived from? I am nuking my .git dir, but I can't see how that'd be derived from that.

[2021-04-07 22:45] agoldis commented on #310
`cypress` agent derives it from the environment, unless it is set explicitly https://github.com/cypress-io/cypress/blob/56234e52d6d1cbd292acdfd5f5d547f0c4706b51/packages/server/lib/util/ci_provider.js#L643

[2021-04-07 22:52] bagedevimo commented on #310
I can probably just set it manually as a workaround for now, then. Weird tho! It's like cy2 isn't letting cypress inherit the env var.

[2021-04-07 22:57] agoldis commented on #310
If you can confirm that it works without cy2, it'd be awesome. You can use this command to rewrite cypress config:

[code]

[2021-04-07 23:27] bagedevimo commented on #310
This is odd - even with a manually specified ci-build-id I still got no ciBuildIn.

![image](https://user-images.githubusercontent.com/1319813/113946799-5a578e00-985d-11eb-8a83-64c394c20ba7.png)

[2021-04-07 23:29] bagedevimo commented on #310
Huh! Cancel that, it seems to be working with a manually specified ci-build-id - the URL in GitLab is weirdly broken up.

Checking without the manual specification and without cy2 now.

[2021-04-07 23:49] bagedevimo commented on #310
![image](https://user-images.githubusercontent.com/1319813/113948144-55480e00-9860-11eb-9b52-9fc31b6aa94f.png)

[code]

![image](https://user-images.githubusercontent.com/1319813/113948218-7e689e80-9860-11eb-9e55-d63203c8c0e4.png)

[2021-04-07 23:54] agoldis commented on #310
That's weird.
[code]

Is the first log entry - it logs `ciBuildId` as is, as soon as the request received. That means that cypress sends the request with `ciBuildId=null`.

One thing you can do it to run cypress with `DEBUG=cypress:*` - that generates tons of data, but among the first few dozen lines should be the request as being sent by cypress.

[2021-04-08 00:19] bagedevimo commented on #310
Sorry for the delay:

[code]

[2021-04-08 00:22] bagedevimo commented on #310
Pretty sure this is the relevant record from Mongo

![image](https://user-images.githubusercontent.com/1319813/113950303-136d9680-9865-11eb-843b-32e42d93f633.png)

[2021-04-08 06:31] agoldis commented on #310
@bagedevimo confirmed - it's a bug, just use explicit `ciBuildId`, I am working on a fix..

[2021-04-08 07:39] #310 closed

[2021-04-08 07:41] agoldis commented on #310
https://github.com/sorry-cypress/sorry-cypress/releases/tag/v1.0.0-rc.3

[2021-04-10 05:38] jradom opened #314 "Parallel execution of Cypress Cucumber scenarios"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
We are using Cypress cucumber preprocessor and having only a few dozen scenarios take a lot of time
## Why is it needed? What is the value? For whom do we build it?
Is it a way to make the above toll work and run scenarios in parallel?
## High-level feature overview

## Other

[2021-04-10 06:26] #314 closed

[2021-04-12 06:05] agoldis commented on #310
@bagedevimo did you have a chance to use rc-3?

[2021-04-13 16:34] BHunter2889 commented on #299
We're also having similar issues. We're using a series of data hydrations within several specs that may have 100+ unique hydrations, thus running a test for each in what is typically a "small spec" of just two base tests.

Unfortunately. We're also unable to set the timeout ourselves either because the UI doesn't load with project settings or the home page. It only loads the "All runs" page for th

[2021-04-13 16:39] BHunter2889 commented on #169
What is the status of this? Presently not a huge issue though as the helm chart suggested configuration requires us to delete the PVC each time we redeploy so it cleans itself up in that regard anyway... 😄

[2021-04-13 16:42] BHunter2889 commented on #90
@ThomasPause any updates? Also having similar issues.

[2021-04-13 17:41] agoldis commented on #299
@egramens sorry for the delayed response.

Your setup looks good.

@egramens @BHunter2889
The problem is with the recent implementation of inactivity timeout. See the [discussion here](https://github.com/sorry-cypress/sorry-cypress/discussions/287).

We were trying to reliably detect when runs complete, but it's not trivial and doesn't work well with long-running specs - it marks the runs as timed

[2021-04-13 17:45] agoldis commented on #299
@BHunter2889
Seems like you're not seeing the most recent version. I was sure that providing the `latest` tag pulls the most recent docker image, am I right @tico24?

What's the version you're seeing in the footer? E.g. https://sorry-cypress-demo.herokuapp.com runs `v1.0.0-rc.5`

[2021-04-13 17:46] agoldis commented on #169
Still no progress :) I have been focusing on other issues meanwhile

[2021-04-13 17:47] tim-sendible commented on #299
The helm chart doesn't pull latest by default. It's pinned to the last stable version.

You can set latest in the values.yml. Be sure to set the imagePullPolicy to always too.

[2021-04-14 06:50] natumkur opened #316 "Requesting a way to prioritize the test cases assigned to each thread"
In order to achieve minimum time required to run complete test suite, it would be great to have a feature which helps us to specify the order in which test cases are assigned to the spawned threads.

[2021-04-14 15:32] samirmajen opened #317 "TypeError: Cannot read property 'stats' of undefined"
## Summary

The director throws the following error when running with 3 workers:

TypeError: Cannot read property 'stats' of undefined
    at /app/packages/common/dist/run/runSummary.js:56:70
    at Array.filter (<anonymous>)
    at isAllRunSpecsCompleted (/app/packages/common/dist/run/runSummary.js:56:46)
    at checkRunCompletionOnInactivity (/app/packages/director/dist/lib/scheduler/runCompleti

[2021-04-15 08:13] Zaista opened #318 "Cannot run parallel tests with cypress version above 6.6.0"
## Summary

Running parallel tests with cypress version 7.1.0 ends with the following error:

We encountered an unexpected error talking to our servers.
Because you passed the --parallel flag, this run cannot proceed because it requires a valid response from our servers.
The --ciBuildId flag you passed was: test-1
The server's response was:
**StatusCodeError: 404** - `"<!DOCTYPE html>\n<html lang=

[2021-04-15 08:42] agoldis commented on #318
@Zaista most likely you're not running the most recent version of sorry-cypress. Support for cypress 6.7.0+ was added in [1.0.0-rc.2](https://docs.sorry-cypress.dev/development/changelog#1-0-0-rc-2)

Here's an example run with cypress 7.1.0:
https://sorry-cypress-demo.herokuapp.com/run/82a054a91158b9837fff9d6159b32009

[2021-04-15 08:42] #318 closed

[2021-04-15 09:49] Zaista commented on #318
I'm using the latest docker-compose.minio.yml file (ver 3.6) to spawn all the image: sorry-cypress:latest services.
I'm fairly certain it's up to date.
Could there be something else that I'm missing?

[2021-04-15 09:56] CScharer commented on #318
I would suggest installing the cy2 (https://www.npmjs.com/package/cy2) package and using that rather than the sed command.  That's what I believe resolved my issue with this.

[2021-04-15 10:21] Zaista commented on #318
Thanks for the suggestion. I tried it, tho I get the same error.

[2021-04-15 16:21] agoldis commented on #318
Would you mind double checking the dashboard version - it's it the bottom left corner.

Also may be sharing the logs from director service

[2021-04-16 08:47] Zaista commented on #318
You were right, I was running an older version. After I removed the built sorry-cypress images explicitly, it worked without issues.
Thanks a lot for the support.

[2021-04-19 14:10] anishkargaonkar opened #319 "Mongo error when querying project details"
## Summary
Not able to query project details. Failing after running 10-12 spec files (total 40).
Error:  Mongo error `BSONObjectTooLarge` or `Location4568`

Upon investigating, looks like this could be caused because of `$lookup` query in getRun API.

curl
[code]

response:
[code]

Sorry cypress shows **No runs found** but should show the run details.

![image](https://user-images.githubuserconten

[2021-04-20 10:20] anishkargaonkar commented on #319
@agoldis I can pick this up. Can you point me in some direction to get started?

[2021-04-20 15:14] agoldis commented on #319
@anishkargaonkar Sure! Start with https://docs.sorry-cypress.dev/development/development-guide
and the problematic query is [here](https://github.com/sorry-cypress/sorry-cypress/blob/635d71750f9453e5193534938fb77e36416db120/packages/api/src/datasources/runs.ts#L143)

One solution might be using GraphQL fields resolver  (or explicit query) to avoid using lookups.

[2021-04-20 15:16] agoldis commented on #317
@samirmajen are you still seeing the issue?

[2021-04-20 15:34] ponienchen commented on #317
Of over hundreds of tests I have run, I saw this same issue only once, but
I have not been able to reproduce it again since.

On Tue, Apr 20, 2021 at 8:17 AM Andrew Goldis ***@***.***>
wrote:

--
Peter

[2021-04-21 09:01] samirmajen commented on #317
Yes it happens occasionally, it appears to occur if the worker is terminated unexpectedly - you might be able to recreate this by running the director and a couple of workers in docker then kill one of the workers whilst its processing a task

[2021-04-21 22:12] kevinmstephens opened #321 "Dashboard index.mjs MIME Type Blocked by Chrome"
## Summary

- Sorry cypress dashboard returns `index.mjs` with `Content-Type: application/octet-stream`.
- This file should be set as `Content-Type: application/javascript` so that browser MIME type checking doesn't block it.

Error seen in browser console:

"Refused to execute script from 'https://{hostname}/index.mjs?ABC123}' because its MIME type ('application/octet-stream') is not executable,

[2021-04-22 04:51] agoldis commented on #321
Related https://semisignal.com/serving-mjs-files-with-nginx/

[2021-04-22 05:03] agoldis commented on #321
Closed in #322

[2021-04-22 05:03] #321 closed

[2021-04-22 05:15] #317 closed

[2021-04-22 13:42] dinuemani opened #323 "tests failing on cypress 7.1.0 while running parallel"
## Summary

our tests are failing when we upgraded to cypress 7.1.0 with below error. it was working fine with 6.6.0 while running them parallel using sorry-cypress

## How to reproduce

1. upgraded to cypress 7.1.0
2. changed the production url in app.yml under 7.1.0 version too
3. Ran this command locally "docker-compose -f docker-compose.minio.yml up"
4. ran this command to run cypress tests ""

[2021-04-22 15:04] kevinmstephens commented on #321
@agoldis Thanks!!!!

[2021-04-22 20:25] dinuemani commented on #323
is there anything iam missing in the steps? i was running them locally.. i tried with rc-7 too

[2021-04-22 20:29] agoldis commented on #323
What's your cypress configuration? Are you using the correct endpoint?

Check out cy2 npm package - it might help

On Thu., Apr. 22, 2021, 1:25 p.m. dinuemani, ***@***.***>
wrote:

[2021-04-22 21:07] dinuemani commented on #323
i tried with cy2 package, still seeing same error. below are steps and configurations

here is my configuration:
~/Library/Caches/Cypress/7.1.0/Cypress.app/Contents/Resources/app/packages/server/config
cat app.yml
default:
  cdn_url: https://cdn.cypress.io
  desktop_url: https://download.cypress.io/desktop
  desktop_manifest_url: https://download.cypress.io/desktop.json
  chromium_url: https://dow

[2021-04-23 16:07] testingJava2 opened #326 "Flakiness/#of Attempts report in dashboard"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Adding a report that will show the total number of attempts for a test before its final status (for passed & failed tests)

## Why is it needed? What is the value? For whom do we build it?
With test retires in Cy this help ensure flaky tests are not being passed by fluke and that these are highlig

[2021-04-23 17:54] agoldis commented on #326
Good call, that's a good addition. The current data structure makes detecting flakiness quite hard, but a small refactor (planned) would enable proper flakiness detection.

As for "total # of retries":
- is it for "test" or "spec" level?
- what is a "retry" in that context?

[2021-04-23 18:30] agoldis commented on #323
Please try running cypress in debug mode, e.g.:
[code]

And look for strings like:
[code]

`http://<sorry-cypress>` should be your server running sorry-cypress, it should be rc-2 or newer to support 7.1.0

[2021-04-24 13:04] dinuemani commented on #323
thanks for quick replies, i was able to fix the issue.. looks like i had docker images with rc1 and when i updated it to rc7, for some reason it was taking rc1 images(mongo was taking 4.1 version instead of 4.2). when i deleted all the images(minio/mc, minio/minio, agoldis/sorry-cypress-dashboard, agoldis/sorry-cypress-api, agoldis/sorry-cypress-director, redis, mongo) and rerun the "**docker-comp

[2021-04-24 16:16] agoldis commented on #323
Awesome

[2021-04-24 16:16] #323 closed

[2021-04-24 22:58] testingJava2 commented on #326
Andrew, happy to see your comment!
- for **# of retries**, correct, it would actually be **# of attempts** (e.g. 1st attempt + 2 retires = 3 attempts)
- would be nice to see this both at spec and test level
  - at spec level would be great to maybe show # of attempts for **failed tests** and # of attempts for **passed tests**, making it easy to point flakes
  - might be nice to have something simi

[2021-04-24 23:17] agoldis commented on #326
Thanks for those details, @testingJava2!

It seems like figuring out a good mongo data structure can help extracting this data effectively. Funny thing that I happened to talk recently to one such "boss" that wanted this kind of report.

Let me ask a bit different question. I was convinced (so far) that organizations prefer to get test reports from CI and look at those alltogether - unit tests, in

[2021-04-24 23:34] testingJava2 commented on #326
@agoldis, maybe a slight misunderstanding due to my formulation above 😆

Indeed, this report, in our case, would be used to make sure we’re not abusing reties and to correct tests that are passing because they are poorly constructed.
Then it would be great to be able to track such tests over a period of time to easily identify flaky frequency, causes and/or prioritize rework.

When I wrote ‘boss l

[2021-04-26 19:27] mwren-mshanken opened #329 "Slack Hook is failing with a null commit message"
## Summary

I am seeing an error during my Slack Hook execution.

From AWS Cloudwatch:

[code]

I don’t have a branch defined in my slack hook
My codebuild also pulls in a secondary git source. Wondering if this is an issue?
The codePipeline I am running Cypress from pulls in two sources, builds both separately, deploys both separately, then executes Cypress codeBuilds in parallel after the deploy

[2021-04-26 19:58] mwren-mshanken commented on #329
Looks like #328 probably addresses this!

[2021-04-27 08:34] #329 closed

[2021-04-27 08:56] agoldis opened #332 "Automate release documentation"
- enforce conventional commits via eslint / gh actions
- build release notes from commits / PRs
- sync gitbook releases with GH releases

[2021-04-28 04:45] vishnuprabhu-95 opened #333 "Regression run is getting stuck in between after sometime"
## Summary
Regression run is getting stuck in between after sometime

## How to reproduce
I have spec files which run more than 2hour and some spec files which run less than 1 hour.
It's getting stopped inbetween the run.
Can you please help with the same

- sorry-cypress version: R7
- cypress version: 7.1.0
- platform: `docker | cloud provider`
- service: `api | director | dashboard | all`

[2021-04-28 04:46] vishnuprabhu-95 commented on #333
![image](https://user-images.githubusercontent.com/63766633/116347943-c862f580-a80a-11eb-9e7d-11566b80c52f.png)

[2021-04-29 20:05] vishnuprabhu-95 commented on #333
Please provide solution.

[2021-04-30 11:36] ThomasPause commented on #90
@BHunter2889 no updates until now.

[2021-04-30 17:28] testn commented on #302
So this can be closed now?

[2021-04-30 21:41] #302 closed

[2021-04-30 21:44] agoldis commented on #333
@vishnuprabhu-95
The run being marked as timedout has been tracked in https://github.com/sorry-cypress/sorry-cypress/issues/299.

[2021-04-30 21:44] #333 closed

[2021-04-30 21:44] agoldis commented on #319
@anishkargaonkar any progress on that?

[2021-04-30 21:46] agoldis commented on #299
FYI, I am planning to deprecate inactivity timeout alltogether and report completion per-group. That's planned to be implemented in the upcoming weeks.

[2021-05-01 01:50] mathpaquette opened #335 "Cant easily docker run sorry-cypress-dashboard under unprivileged user"
## Summary

Should easily run nginx under unprivileged user
[code]

## How to reproduce

docker run --user `<unprivileged user>` --name dashboard sorry-cypress-dashboard

## Environment

- sorry-cypress version: `1.0.0.0-rc9`
- cypress version: `6.9`
- platform: `docker`
- service: `dashboard`

[2021-05-01 01:51] mathpaquette commented on #335
@agoldis if you agree. Ill investigate and create a PR

[2021-05-01 03:47] anishkargaonkar commented on #319
@agoldis I've started working on graphQL query resolver, taking some time since I've never worked with graphQL.

Schema for full specs is already there, working on adding a query [here](https://github.com/sorry-cypress/sorry-cypress/blob/5cee075e7a951e1cf11b06f453334e2d3fcef015/packages/api/src/resolvers/index.ts#L98)

[2021-05-01 05:46] agoldis commented on #335
@mathpaquette of course :) Feel free to reach for any help!

[2021-05-01 06:06] agoldis commented on #319
@anishkargaonkar awesome! please let me know if you need any help

[2021-05-01 08:56] anishkargaonkar commented on #319
Thank you @agoldis, do let me know if there are any issues with PR #336. One thing I noticed, the query is a bit slow, for 136 specs in one run it took around ~7 seconds for the response (mongodb instance was running on a remote host). I think it'll be an issue when there are more runs in a project. Is there any way we can optimize it?

[2021-05-01 10:44] vishnuprabhu-95 commented on #299
Awesome @agoldis . I will be eagerly waiting for the same. It will help our team to run each spec files for long run (2hr - 3hr).
Thanks in advance.

[2021-05-01 12:15] mathpaquette commented on #335
well, this is a bit more tricky than I initially thought... basically if I remove the user directive from /etc/nginx/nginx.conf, it will become insecure for those not running the container using unprivileged user. I dont want to force that in docker run, it looks like a bad decision. I might just end up providing a way for others to manage that in a README file or something. Any thoughts?

[2021-05-01 18:16] alexniculae opened #337 "Dashboard option to filter runs by date"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Adding an option in the dashboard to filter runs by start date.

## Why is it needed? What is the value? For whom do we build it?
In case of multiple runs (over night, at deploys etc.) the dashboard can end up having multiple runs for 1 day, that are not separated from yesterday's.

## High-level

[2021-05-01 20:46] agoldis commented on #335
Hmm... Why would it become insecure?

Seems like using https://hub.docker.com/r/nginxinc/nginx-unprivileged and changing the ports is the most discoverable solution. May be just documenting the process would be enough.

P.S.
I am not too familiar with best security practices for docker images, but why are is there a need for non-priveleged setup?  I mean, nginx starts as root and then switches to

[2021-05-01 20:56] mathpaquette commented on #335
@agoldis yes in theory there's no problem. The default implementation is fine. The problem happens when your docker daemon doesn't run as root and you need to run docker image unprivileged like in my case. Only root can listen on ports < 1024 and other security issues. Anyway, I dont really want change your setup I think its fine in 95% of cases. I have a workaround. Ill document it for others fac

[2021-05-02 10:41] vaibhavi-jas opened #338 "After the run on the pipeline log dashboard url is wrong. If i will take out port number 80 than it will run fine."
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

## Why is it needed? What is the value? For whom do we build it?

## High-level feature overview

## Other

[2021-05-02 10:44] vaibhavi-jas commented on #338
On pipeline log it says u can find the result of the run on this link..when we click that link it will not take u to dashboard.
But from that link if i will remove the port number than it will take to the dashboard

[2021-05-04 04:34] vishnuprabhu-95 opened #339 "Jenkins stop without waiting for other commands to finish"
## Summary

I am running parallel run for about 400+ tests. I am initiating two cypress command lines in parallel using npm-run-all package.
When a command line completes with failure, it doesn't waits for other command line to complete. Its happening intermittent. Same issue occurs, when I try using parallel in jenkins pipeline. Fast fail = false is not working as expected.

## How to reproduce

[2021-05-04 19:09] vishnuprabhu-95 commented on #339
Please provide solution.

[2021-05-07 00:04] fsmaia commented on #228
It seems to be broken on 1.0.0-rc.9. Could you confirm?

[2021-05-09 13:40] boxofcrates commented on #5
Is there interest in an OIDC integration? Dashboard would do OIDC auth, and the API would require a signed token. Director would stay the same with the allowed keys whitelist. The use-case for this would be exposing the dashboard/API (+ Minio/S3) publicly, but keeping director/Mongo private.

I would be interested in working on this.

[2021-05-10 19:46] agoldis commented on #335
@mathpaquette hey, did you have any chance to write down your discoveries?

[2021-05-10 19:47] #338 closed

[2021-05-10 19:50] agoldis commented on #228
Fixed in #340

[2021-05-12 14:57] onimougwo commented on #74
Still no plan for Azure support ? My company uses Azure Devops for CI, does that mean I can't use sorry-cypress ?

[2021-05-13 16:30] vaibhavi-jas opened #346 "Dashboard run url"
Once cypress test runs on the pipeline it gives a cypress run if we click on that link it gives false result..
If we take out the port number 8080 than its correct.
I have attach the screenshort ..Please have a look
<img width="1041" alt="Screenshot 2021-05-13 at 17 28 23" src="https://user-images.githubusercontent.com/79643177/118155983-bbe8ba80-b410-11eb-9494-546e5144879f.png">

[2021-05-13 19:38] agoldis commented on #346
Please refer to https://docs.sorry-cypress.dev/configuration/director-configuration#common-configuration `DASHBOARD_URL` configuration

[2021-05-13 19:38] #346 closed

[2021-05-14 08:09] agoldis commented on #74
@onimougwo of course you can. It's just a docker images that you can deploy on any cloud provider. Unfortunately I don't  use Azure personally so I didn't write documentation. May be @weyert can help?

[2021-05-14 11:35] tico24 opened #347 "Minor typo"
## Summary

Line 53 of sorry-cypress/packages/dashboard/src/project/projectList.tsx should be "will appear here".

I'm on mobile so can't actually correct it, raising the bug while I remember.

[2021-05-16 08:03] #347 closed

[2021-05-17 12:29] xtroncode commented on #319
I am getting the following error with rc.9  in the getRunSummary operation : `Total size of documents in instances matching pipeline { $match: { $and: [ { instanceId: { $in: [ \"eb163273-a9c4-4c7c-af0f-1453e7da7cfe\", \"557c98d4-0..... \"5880b448-2505-4363-ae31-f5ff8b568346\" ] } }, {} ] } } exceeds maximum document size"`  does this seem related or should I file a separate issue ?

[2021-05-17 12:36] anishkargaonkar commented on #319
@xtroncode this is the same error. Due to the aggregation query, the document size is more than mongo's allowed maximum document size (~16 MB) and that's why it's failing.

@agoldis any update on this?

[2021-05-17 12:39] xtroncode commented on #319
Thanks @anishkargaonkar ! Will #336 fix this as well ? or is there any other way to fix this (may be by increasing the allowed document size for now) ?

[2021-05-19 18:58] agoldis commented on #121
please check out  https://docs.sorry-cypress.dev/cloud-setup/docker-images/running-sorry-cypress-dashboard-as-non-root-user  and https://github.com/sorry-cypress/sorry-cypress/pull/348.
Thanks @mathpaquette for the documentation

[2021-05-19 18:58] #121 closed

[2021-05-19 19:12] #335 closed

[2021-05-19 19:13] mathpaquette commented on #335
Documentation added here: https://docs.sorry-cypress.dev/cloud-setup/docker-images/running-sorry-cypress-dashboard-as-non-root-user

[2021-05-20 23:52] amalhotragannett opened #352 "Dashboard unable to load video and images"
## When the dashboard is configured with minio integrated with GCS. The dashboard is unable to load videos and images in the png format.

## Steps to reproduce:
- Create a bucket inside Google Cloud Storage
- Start the sorry-cypress instance using docker compose

[code]

## Environment

- sorry-cypress version: `1.0.0-rc.10`
- cypress version: `7.3.0`
- platform: `docker`
- director: `1.0.0-rc.10`

[2021-05-21 02:18] amalhotragannett commented on #352
Issue resolved by running by the below command:

[code]

[2021-05-21 02:19] #352 closed

[2021-05-21 03:47] agoldis commented on #319
Sorry @anishkargaonkar, will try to merge those today

[2021-05-22 07:42] agoldis opened #353 "Get rid of legacy cypress versions"
- Remove old schema and typedefs
- Check cypress version on create run
- Reject with 422 for older cypress versions

[2021-05-22 07:43] agoldis opened #354 "Replace bold-ui"
...seems like abandoned
- use popular well maintained alternative
-

[2021-05-22 07:47] agoldis opened #355 "Refactor storage drivers"
- A lot of code duplication for storage drivers, lift the logic into a controller and leave only bare vendor-dependant functionality

[2021-05-22 07:50] #354 closed

[2021-05-22 07:50] #355 closed

[2021-05-22 07:50] #353 closed

[2021-05-22 08:33] agoldis commented on #326
@testingJava2 FYI https://github.com/sorry-cypress/sorry-cypress/pull/350

[2021-05-22 08:48] agoldis commented on #319
Resolved in #319

[2021-05-22 08:48] #319 closed

[2021-05-22 18:01] ioana-gln opened #357 "Cannot browse spec result on dashboard: Uncaught Invariant Violation: 3"
## Summary
When trying to open a spec result it hangs in the "Loading..." state.

![image](https://user-images.githubusercontent.com/50579445/119236452-2f40a980-bb40-11eb-893f-2911e03aae52.png)

## How to reproduce
Run Docker compose with:  https://raw.githubusercontent.com/sorry-cypress/sorry-cypress/master/docker-compose.minio.yml on the local machine running docker.
## Environment

- sorry-cypr

[2021-05-22 18:35] ioana-gln commented on #357
Downgrading api and dashboard to 1.0.0-rc9 works fine.

[2021-05-23 05:34] #357 closed

[2021-05-23 05:38] agoldis commented on #357
@ioana-gln apologizes, my bad. Fixed in rc.12

[2021-05-24 10:28] vaibhavi-jas commented on #338
Good Evening
Still my problem is not solved.
On the pipeline log we have dashboard run url and the dynamic generating
number that is incorrect..how to make it correct?
Many tx
Kind regards
B V

On Mon, 10 May 2021, 20:47 Andrew Goldis, ***@***.***> wrote:

[2021-05-24 16:50] vaibhavi-jas commented on #338
Good Evening ,
This recorded run url when we click this url ..It will not take us to the
dashboard url.
We have so many developers working which leads us to confusion. If u have
any way please let me know.

Many thanks

On Mon, May 10, 2021 at 8:47 PM Andrew Goldis ***@***.***>
wrote:

[2021-05-24 19:50] agoldis commented on #338
@vaibhavi-jas hey, I have shared a few resources with you earlier. Please consider add more details if you want to get an assistance:
- what url are you using to access the dashboard currently
- what happens if you try to use the url as `DASHBOARD_URL` director env variable

[2021-05-25 16:06] testingJava2 commented on #326
@agoldis, it looks great. I will update to the latest version and give it a go in the following days.
Thank you 🙂

[2021-05-26 05:15] #299 closed

[2021-05-26 06:45] mivanov1989 opened #360 "After the test run complete, get "Error: Cannot return null for non-nullable field InstanceResults.tests." on the dashboard"
## Summary

After the test run complete, get "Error: Cannot return null for non-nullable field InstanceResults.tests." on the dashboard.
During the run is in progress, everything goes well.

## How to reproduce

1. Run tests as usual on test hosts
2. Wait until test run information comes up on the dashboard - everything's well at this point
3. Wait until the run completes
4. Refresh the dashboard

[2021-05-26 06:49] mivanov1989 commented on #360
Information on available test runs:
![image](https://user-images.githubusercontent.com/39117346/119614667-3ea54880-be07-11eb-857d-69df1e14d52c.png)
When access the specific run (e.g. #260)
![image](https://user-images.githubusercontent.com/39117346/119614755-57156300-be07-11eb-89b6-f812e1fda9a6.png)
POST request from the dashboard to the GraphQL has the following body:
{"operationName":"getRun","v

[2021-05-26 07:08] agoldis commented on #360
Interesting, one of the entries in "instances" collection doesn't have "tests" field. That's quite uncommon.
Any chance you identify this item in the DB and share with me?

[2021-05-26 07:23] mivanov1989 commented on #360
@agoldis sure I can try :) Is it in the mongo?

[2021-05-26 07:25] agoldis commented on #360
Yes. To fix, just remove the invalid entry.

On Wed., May 26, 2021, 12:24 a.m. mivanov1989, ***@***.***>
wrote:

[2021-05-26 07:29] mivanov1989 commented on #360
@agoldis , okay, will give it a try and let you know. Also, today I am going to install the latest 1.0.0 release.

[2021-05-26 07:45] mivanov1989 commented on #360
@agoldis , in the meantime, maybe there should be a handler for such cases? For example, in case an entry does not have the test field, do not allow to store it in the database. Or, if it's already there, handle the exception and display all "good" entries.

[2021-05-26 09:22] mivanov1989 opened #361 "Screenshots and videos are not uploaded to the local minio storage"
## Summary

Screenshots and videos are not uploaded to the local minio storage. We use docker-compose.minio.yml.
Minio storage is empty:

![image](https://user-images.githubusercontent.com/39117346/119629342-9dbe8980-be16-11eb-9603-621b62469a5e.png)

Here's the docker-compose content:

version: '3.6'

services:
  mongo:
    image: mongo:4.2
    volumes:
      - ./data/data-mongo-cypress:/data/db

[2021-05-26 09:24] mivanov1989 commented on #360
@agoldis , removed all the runs and started the new run, got the error again upon its completion.

[2021-05-26 10:58] vaibhavi-jas commented on #338
Good Evening
Team
For accessing the dashboard I am using dashboard url.
If I use dashboard url with director variable than I am not able to access
the dashboard.
Many tx
Vaibhavi

On Mon, 24 May 2021, 20:50 Andrew Goldis, ***@***.***> wrote:

[2021-05-26 11:07] mivanov1989 commented on #360
It seems like I found the reason for the issue - one of the spec has a "setup" nature, it has only before function declaration and has not tests inside ("it" functions), we import that spec in other tests to have a common before function for them. Running of such spec with sorry cypress results in the following entry:

{
               "instanceId":"352392b6-c27d-428a-975f-094ae389356d",

[2021-05-26 15:43] testingJava2 commented on #326
@agoldis, this works great - adds a lot of value and speed for us when analyzing results 🙂

It would have been great though to also see the # of Retries on the Run, in the list of runs for the project as well; assuming it's possible, as I saw that we already have Total/Passed/Failed/Skipped Tests there already.
Is this something we could consider too?

It would help to know as, if all tests for a

[2021-05-26 18:48] agoldis commented on #326
It was @boxofcrates's work

[2021-05-26 18:59] agoldis commented on #361
Please attach logs from cypress agent and director.
Director should print snapshots URL and running cypress agent with `DEBUG=cypress:*` would show you errors for upload attempts

[2021-05-27 05:55] mivanov1989 commented on #361
@agoldis , director's log in the portainer shows nothing but only "[run-timeout] Checking run timeouts...". Here's cypress artifacts upload log for a test case in the attached file.
[ArtifactsUploading.txt](https://github.com/sorry-cypress/sorry-cypress/files/6551420/ArtifactsUploading.txt)

[2021-05-27 06:21] mivanov1989 commented on #361
I am trying with changed the storage hostname from "storage" to actual one:

![image](https://user-images.githubusercontent.com/39117346/119775878-e2a4f780-becc-11eb-9fcc-b1b95cf4a9f0.png)

[2021-05-27 07:28] testingJava2 commented on #326
Yes, true, great job on this @boxofcrates, we are really enjoying it 🙂

Would it be possible to have this extra addition of the Retries, on the run card, in the list of runs?
Also, would be great if we could always display the Retries icon, even if the count is 0 (like we do for the skips) - it would make it a bit more clear and safe to make sure there are no Retries on a run.

What do you thing a

[2021-05-27 09:04] mivanov1989 commented on #360
@agoldis , we have added a dummy skipped test to the spec so it has an it function inside, but it has not resolved the issue.

[2021-05-27 13:57] vaibhavi-jas commented on #338
Good Evening,
Andrew
I have tried all the way but seems not working..is there any way u or your
team can saw me please?
Many tx
Kind regards
Vai

On Wed, 26 May 2021, 11:58 vaibhavi Jasolia, ***@***.***>
wrote:

[2021-05-27 14:20] boxofcrates commented on #326
@testingJava2 thanks :)

1) I'd also like to see the Retries on the run card in the list of runs, but I'm not sure it's possible with the current data structure without causing a performance impact.

We'd need to update the `RunSummarySpec` fragment to include `results.tests.attempts`. Basically adding lines 7-18 from https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/dashboard/sr

[2021-05-27 15:04] mathpaquette opened #362 "Dashboard overview by build id"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
As a monorepo developer,
I want to have an overview of all affected projects by looking for a specific build id.

## Why is it needed? What is the value? For whom do we build it?
Especially when you deal with a monorepo, you have many applications getting tested in the same CI run,
you need to kno

[2021-05-27 16:01] agoldis commented on #338
@vaibhavi-jas hey, I tried to help you buy you are not providing details of your setup and the description of actions you have taken. Please see the previous messages and try to provide more data

[2021-05-27 18:35] michaelocomer opened #363 "Docker Image version that can be used in an isolated environment"
- [x ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Need to be able to run sorry-cypress tests in an environment that has no outside internet access.

## Why is it needed? What is the value? For whom do we build it?
Some UI elements (fonts, css, etc.) are not accessible within an isolated environment and cause issues with setting up sorry-cypress

[2021-05-27 19:16] agoldis commented on #326
@boxofcrates
That's a valid performance concern.

We have already taken the less performant path [here](https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/api/src/resolvers/index.ts#L70). We are fetching the whole `Instance` object from the DB into memory, do just sending more fields to the client isn't a big issue.

---

As an alternative approach, we can update specs and runs "o

[2021-05-27 19:20] agoldis commented on #360
@mivanov1989 hm... the entry you've found does have `results.tests` field. The error states there's an entry that doesn't have it or it's `null`.

If you can give me an access to your setup I can take a look. Please contact me on [slack](https://sorry-cypress.slack.com/join/shared_invite/zt-eis1h6jl-tJELaD7q9UGEhMP8WHJOaw#/).

[2021-05-27 19:21] agoldis commented on #363
@michaelocomer can you please elaborate on what issues are you seeing? AFAIK only fonts are being pulled externally. What else is missing?

[2021-05-27 19:31] agoldis commented on #361
@mivanov1989
I took a look at the logs, there're those lines:
[code]

a. You'd be able to review the log file and reproduce the network call, then figuring out why cypress agents are not able to reach your minio instance
b. Please read carefully `MINIO_ENDPOINT` configuration documentation at https://docs.sorry-cypress.dev/configuration/director-configuration#minio-configuration. Specifically

[2021-05-27 19:44] michaelocomer commented on #363
As I understand, there are google fonts, normalize.min.css (used in the dashboard), and someone that looked at it thought that they saw some javascript file being pull.  I did not see it but I'm not a UI developer so it's very possible I'm just not seeing it.

[2021-05-27 20:47] vaibhavi-jas commented on #338
Good Evening,
Andrew
we have gitlab as a continuous integration tool.
I  have used the cloudformation template from sorry cyress documentation.
As soon as I launch the cloudformation stack on aws I have 3 url.
1) Director 2) Dashboard 3) Api url
Dashboard url I use to view the dashboard.
Director-url I am using it in the Gitlab-ci-cd configuration.
Gitlab configuration

phases:
build:
commands:
-

[2021-05-28 09:30] #361 closed

[2021-05-28 12:48] testingJava2 commented on #326
Great thoughts on this guys, thanks for sharing!

@boxofcrates, I confirm, I was thinking about **always showing the retries icon in the run details header box** (where skipped tests always shows), and also on the run card, in the list or runs (if we can work around the possible performance issues and get this there to start with).
There is indeed no valid point in displaying this on the spec resu

[2021-05-28 13:06] mathpaquette commented on #362
@agoldis do you agree on this one? any guidance ?

[2021-05-28 18:39] agoldis opened #365 "Director crashes when no `--parallel --ciBuildId` flag provided"
Sorry cypress crashes when no `--parallel --ciBuildId` flag provided

[2021-05-28 18:41] agoldis commented on #363
Verified it is google fonts and normalize.css

[2021-05-28 18:53] #365 closed

[2021-05-28 18:53] #363 closed

[2021-05-28 19:19] agoldis commented on #362
Let's make sure I got it right. You have a monorepo, each package in the monorepo users a different project id. CI assigns the same `ciBuildId` for each package, so you have the same `ciBuildId` across multiple projects.
[code]

You want to have an aggregated cross-project view for runs with the same `ciBuildId`. If that's the case:

- it'd be a bit hard to discover - how do one gets to that page?

[2021-05-28 19:27] agoldis commented on #338
@vaibhavi-jas Please try updating the `DASHBOARD_URL` variable in ECS config:

1. Go to AWS ECS dashboard
2. Task definitions
3. Find sorry-cypress task
4. Click "Create new revision"
5. Click on "director" container definition
6. Scroll down to "environment variables"
7. Find `DASHBOARD_URL` variable, set the value to the correct dashboard URL that is accessible in your environment
8. Save the ne

[2021-05-28 19:28] boxofcrates commented on #5
Just an update here, I had some priority shifts at work and won't be able to take on such an OIDC integration anytime soon. However I did a little poking around, so writing up some thoughts here in case they prove useful to anyone else in the future.

--

I think you're absolutely right about a 'wapping' implementation.

One important consideration is whether the API with GraphQL client credential

[2021-05-28 19:41] boxofcrates opened #368 "Configurable behavior for workers with a completed ciBuildId"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Configurable behavior when a worker passes the director a ciBuildId corresponding to a run that has already completed. This will close a 'loophole' allowing CI pipelines to pass even when Cypress tests fail.

## Why is it needed? What is the value? For whom do we build it?
I'll explain the issue w

[2021-05-28 19:59] boxofcrates commented on #326
Okay great, I can put up a PR to always show the retry icons in the run details header box, and to show on the run card in the list of runs. Although it won't be until some time next week.

And yes, agreed that an on-write refactor like that would be super helpful for things like this!

I'll take a look at the Slack hook as well.

[2021-05-28 20:12] agoldis commented on #368
@boxofcrates thanks for opening that issue!

I tend to try using native cypress "retries" instead of complex rerun logic, see https://github.com/sorry-cypress/sorry-cypress/issues/197

So basically it's all about re-running the failed specs. Specifically, re-running *only* the failed specs. Let's try to break it down:

## Rerunning all the specs
If you manage to generate a new ciBuildId when rerun

[2021-05-30 11:00] vaibhavi-jas commented on #338
Good Evening,
Andrew
I have tried the suggested method as well. it seems it's not working.
What other thing I can try ?
Please give me  suggestions ..
Many tx
vai

\

On Fri, May 28, 2021 at 8:28 PM Andrew Goldis ***@***.***>
wrote:

[2021-05-30 15:46] agoldis commented on #338
Can you please share the screenshots of:
- the URL of the dashboard that works
- the URL that is printed in CLI when running the tests
- the DASHBOARD_URL that is configured in ECS task definition
- the task definition version configured for ECS task

Let's make sure evth is configured wrong before proceeding

[2021-05-31 21:49] jdileonardo commented on #362
Tabulating the top nav to have an "All Projects" and an "All Builds" could be sufficient?

I'm in the same boat as well. I leverage a mono-repo structure using NX and based on a dep graph build certain projects ; navigating sorry-cypress based on CI-Build-ID vs individual project is more natural for my setup.

re: your suggestion, Group var appears to only be able to be set on the cmd line, which

[2021-05-31 22:19] agoldis commented on #362
Yeah, good idea!

Ok, if you find it useful, I am not one to stop you :)

---

@jdileonardo

Is it working well for you? I am struggling to maintain a good devex for sorry-cypress project. In particular
- build dependencies
- dev / watch with dependenies
- TS and VSCode navigation

Currently looking at Rush and NX, but wanted to hear what's your experience so far?

[2021-06-01 12:36] mathpaquette commented on #362
@agoldis I'm also using Nx. pretty darn good TBH. It uses cache and dependency tree to detect affected apps/libs. I like that. I got about 30 different apps within the same repo that's why the Builds view is very important for me as well.

[2021-06-01 22:12] vaibhavi-jas commented on #338
Good Evening,
For the proof of concept I have taken a new Cloudformation template from
the sorry cypress website.
Now I can see the exact dashboard url without port number 8080. Thats the
good sign
But when i click on he run url...its not take me to the dashboard..
I have attached screenshot saying run does not exit.
Many Thanks
Kind Regards,
vai

On Sun, May 30, 2021 at 4:46 PM Andrew Goldis ***@

[2021-06-03 06:44] #360 closed

[2021-06-03 15:11] mathpaquette commented on #169
yes I agree this one is an important one. Could we flag it as important or critical ? We need an automated way to purge old runs and related videos and screenshots.

[2021-06-03 15:12] mathpaquette commented on #169
@agoldis what are your thoughts ?

[2021-06-03 16:59] agoldis commented on #169
@mathpaquette Yeah, seems like a reasonable request!

[2021-06-04 11:02] jpike88 opened #370 "cy2@1.2.1 + cypress@7.4.0 + sorry-cypress@1.0.1 aws cloudformation"
## Summary

This command should work according to my understanding:

```CYPRESS_API_URL="http://THIS-IS-PRIVATE.ap-northeast-1.elb.amazonaws.com" $(npm bin)/cy2 run --browser chrome --record --key whatever --group general --ci-build-id wat```

I see this error:

[code]
I also tried API url ```http://THIS-IS-PRIVATE.ap-northeast-1.elb.amazonaws.com/api``` for the hell of it, didn't work either.

Pl

[2021-06-04 11:40] jpike88 commented on #370
im an idiot. director URL did it

[2021-06-04 11:40] #370 closed

[2021-06-04 13:24] Roemer opened #371 "Parallel Runs are added twice to mongodb (and shown in the dashboard)"
## Summary

Runing tests in parallel creates multiple runs with the same runId.

## How to reproduce

Run cypress tests with --parallel.
Open the dashboard
-> You see the same run multiple times, even in mongodb the run is in there twice.

## Environment

- sorry-cypress version: `1.0.2`
- cypress version: `6.6.0`
- platform: `docker / kubernetes`
- service: `all`

[2021-06-06 12:03] mathpaquette commented on #169
personally, I'd like to keep the data in mongodb for generating statistics though.

[2021-06-07 11:14] mivanov1989 opened #372 "Spec duration time is not valid"
## Summary

Spec duration time is not valid - with the latest release 1.0.2 we see spec duration equals hours and days, whereas the whole run time is about an hour (valid). Also, the average spec run time looks valid as well. (please see attached screenshot and MongoDB dump).

![image](https://user-images.githubusercontent.com/39117346/121007265-811d3c80-c79a-11eb-8f76-4d46423b6624.png)

We also t

[2021-06-07 11:15] mivanov1989 commented on #372
[](url)

[2021-06-07 16:25] carlos0202 opened #373 "Stateless sorry-cypress deploy on heroku not working"
## Summary
Deployed basic director service using Wiki document [here](https://github.com/sorry-cypress/sorry-cypress/wiki/Heroku-Tutorial), but when browsing deployed app I'm getting the following error:
![image](https://user-images.githubusercontent.com/8674703/121055112-f8e36b00-c78a-11eb-8376-babf981d0a4a.png)

Going to Heroku logs I get the following messages:
![image](https://user-images.gith

[2021-06-07 16:54] carlos0202 commented on #373
Additional information found on logs:
![image](https://user-images.githubusercontent.com/8674703/121059505-8b860900-c78f-11eb-8c7f-4cc517630317.png)

[2021-06-07 17:25] #373 closed

[2021-06-07 17:32] agoldis opened #374 "Move stateless director to a different repo"
The build process and code maintenance have diverged a lot.

[2021-06-07 17:37] carlos0202 commented on #373
Thanks for the hard work @agoldis!

Sadly, I'm still facing errors while deploying the stateless director:
![image](https://user-images.githubusercontent.com/8674703/121064415-8e83f800-c795-11eb-8242-37acaa7e28c9.png)

[2021-06-07 17:49] agoldis commented on #373
On it :) hold tight

On Mon., Jun. 7, 2021, 10:38 a.m. Carlos González, ***@***.***>
wrote:

[2021-06-07 17:58] carlos0202 commented on #374
@agoldis can you help me out to run stateless director or the steps to use example dashboard service until a valid solution for stateless director is found?

I'm currently trying to run it but got an unexpected error while testing using the example sorry-cypress Heroku app:
![image](https://user-images.githubusercontent.com/8674703/121066951-7792d500-c798-11eb-97f7-7d17528ff692.png)

[2021-06-07 18:00] carlos0202 commented on #373
Thanks!!!!!
I'll be waiting (with fingers crossed included haha)

[2021-06-07 18:01] agoldis commented on #373
https://github.com/sorry-cypress/sorry-cypress/commit/df4d2a62385a17ebd3d28ab75b647e5c0634529e didn't actually solve the build issues
But https://github.com/sorry-cypress/sorry-cypress/commit/a658d3f34dd988a9b281dfbe659626473e47f665 did!
Please try deploying the most recent version of master

[2021-06-07 18:18] agoldis commented on #371
@Roemer Can you please share your indexes from mongo - seems like indexes are missing thus duplicated entries are being created

[2021-06-07 18:30] agoldis commented on #326
Thanks @boxofcrates  for implementing that! Having `Retries` gt 0 mean run / spec have flaky tests.

Please open follow-up features in a separate tickets. Closing this one

[2021-06-07 18:30] #326 closed

[2021-06-07 18:43] agoldis commented on #372
Resolved in https://github.com/sorry-cypress/sorry-cypress/pull/375

[2021-06-07 18:43] #372 closed

[2021-06-07 18:44] agoldis commented on #373
Updated https://docs.sorry-cypress.dev/guide/get-started

[2021-06-07 19:58] vaibhavi-jas commented on #338
Hello
Andrew
Any updates on this?
Many tx
Kind regards
Vaibhavi

On Mon, 24 May 2021, 20:50 Andrew Goldis, ***@***.***> wrote:

[2021-06-07 19:59] agoldis commented on #338
@vaibhavi-jas from my previous message:

Can you please share the screenshots of:

    the URL of the dashboard that works
    the URL that is printed in CLI when running the tests
    the DASHBOARD_URL that is configured in ECS task definition
    the task definition version configured for ECS service

Let's make sure evth is configured wrong before proceeding

[2021-06-07 20:02] vaibhavi-jas commented on #338
I did share on 1st of june email.
U didn't receive it?
Many thanks and regards
Vaibhavi

On Mon, 7 Jun 2021, 20:59 Andrew Goldis, ***@***.***> wrote:

[2021-06-07 20:04] agoldis commented on #338
@vaibhavi-jas GH does not attach screenshots via email

[2021-06-08 06:24] Roemer commented on #371
In the runs collection I see the following indexes:
![image](https://user-images.githubusercontent.com/393641/121133619-dc027280-c832-11eb-9b3b-17082f6acb2e.png)

[2021-06-08 07:51] agoldis commented on #371
hm... not sure how the rest of indexes got removed. Please make sure you have those indexes in place

https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/mongo/src/db.ts#L51

[2021-06-08 08:32] vaibhavi-jas commented on #338
Good Morning
How u want me to send screenshot?

Many thanks
Kind regards
Vaibhavi

On Mon, 7 Jun 2021, 21:04 Andrew Goldis, ***@***.***> wrote:

[2021-06-08 08:43] Ryuno-Ki commented on #338
If you log into GitHub's Web UI, you can drag and drop an image into a comment to upload it.

[2021-06-08 08:59] Roemer commented on #371
I deleted the sorry-cypress collection in mongodb, run the test again (parallel) and it recreated the collection but it only created the `_id_` index.

[2021-06-08 09:22] Roemer commented on #371
I now stopped the director completely (scaled down to 0), deleted the database and restarted the director (scaled up to 1) and now it recreated the database correctly with the all indexes (4 of them in the run collection). So I think there is some combination of configuring / restarting the director that does not create the database initially and therefore the database is created implicitly when a

[2021-06-08 10:25] vaibhavi-jas opened #376 "Dashboard run url when we click leads to empty page instead of dashbord"
<img width="1008" alt="Screenshot 2021-06-08 at 11 31 01" src="https://user-images.githubusercontent.com/79643177/121170457-25f85200-c84d-11eb-8f41-65fcc09c9f2b.png">
When cypress test run it gives dashboard run url. When we click that url than it lead to empty page instead of dashboard.
I have share the screen shot below.
can u please help me with this.

Sorry cypress does X, but should do Y

##

[2021-06-08 10:33] vaibhavi-jas commented on #376
<img width="1008" alt="Screenshot 2021-06-08 at 11 31 01" src="https://user-images.githubusercontent.com/79643177/121170557-4a542e80-c84d-11eb-9da2-80cfdda79fb5.png">
This is the dashboard run url

[2021-06-08 11:51] vaibhavi-jas commented on #338
Good Evening,
I did upload to github. Do let me know if u need more information or the
screenshot.
Many thanks

On Tue, Jun 8, 2021 at 9:43 AM André Jaenisch ***@***.***>
wrote:

[2021-06-08 12:43] mivanov1989 opened #377 "Test run keeps counting it duration time after it's actually completed on CI"
## Summary

Test run and individual specs keep counting their duration time after it's actually completed on CI:

![u1djKXSlCh](https://user-images.githubusercontent.com/39117346/121186564-e8f18700-c86f-11eb-9b74-7cd534fd3f76.gif)

Then the run reaches its set timeout and is displayed as timed out:

![image](https://user-images.githubusercontent.com/39117346/121187236-864cbb00-c870-11eb-930b-f4922

[2021-06-08 15:20] Roemer commented on #371
Ok i did play around with it more, I think the issue is that when director starts and mongodb is not available, it will not create the database but start anyway. In that case, I had to stop the director, wait until mongodb is ready, then start director and then director would create the database. So maybe director should not start if mongodb is not available?

[2021-06-08 17:11] testingJava2 opened #378 "Flakiness/#of Attempts report in dashboard - upgrade"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
- Add count of the Retries, on the run card, in the list of runs.
- Always display the Retries icon, even if the count is 0 (like we do for the skips)
  - both on the run card inside the run and
  - on the run card in the list of runs
- Include the Retires stats in the Slack integration report mes

[2021-06-08 17:11] testingJava2 commented on #326
@agoldis, @boxofcrates - [#378](https://github.com/sorry-cypress/sorry-cypress/issues/378)
Thank you 🙂

[2021-06-08 19:05] Ryuno-Ki commented on #338
Sadly, it still does not show up on https://github.com/sorry-cypress/sorry-cypress/issues/338 (please open that link in a web browser and log in).

Read https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/attaching-files if it is still confusing.

[2021-06-08 21:52] vaibhavi-jas commented on #338
<img width="1792" alt="Screenshot 2021-06-01 at 22 59 29 (3)" src="https://user-images.githubusercontent.com/79643177/121262513-3390f480-c8ac-11eb-8e39-db3b69c6fa0c.png">
<img width="1792" alt="Screenshot 2021-06-01 at 22 59 29 (2)" src="https://user-images.githubusercontent.com/79643177/121262516-35f34e80-c8ac-11eb-9009-814ee2b23a21.png">
<img width="1792" alt="Screenshot 2021-06-01 at 23 02 48 (

[2021-06-09 15:09] vaibhavi-jas commented on #338
Now it's ok..?

On Tue, 8 Jun 2021, 20:05 André Jaenisch, ***@***.***> wrote:

[2021-06-09 18:09] rbduff184 opened #379 "Add Comments Section to the Side Failed Tests"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Add a comments section so the user can add a note explaining why a Cypress test failed

## Why is it needed? What is the value? For whom do we build it?
If this is added we will be able to notate whether a failure is due to the Cypress script or due to an actual defect on our program.
## High-leve

[2021-06-09 19:01] Ryuno-Ki commented on #338
Yay, that worked!
(I'm not part of the staff, so I can only look at it in my spare time).

@agoldis Can you take a look?

[2021-06-09 19:15] agoldis commented on #338
@vaibhavi-jas thanks! I can see the screenshots.  To proceed, we'll need to make sure that the system is configured properly, i.e.

1. Dashboard is connected to the correct API - for that please share the environment variables of `dashboard` ECS container
2. API is connected to the same DB as the director - please share `api` and `director` ECS container env variables
3. If you can connect to the

[2021-06-10 11:06] tico24 opened #380 "API container now requires mongo env vars otherwise it fails"
## Summary

Using `:latest`, the API deployment fails to load properly if you don't provide the mongodb information in the environment variables. Logs looks like this:
[code]
If I repeat the same using `:0.6.1`, I don't get an error.

The documentation implies that these should not be mandatory, and we wrote the sorry-cypress helm chart tests with this in mind. The tests now fail due to this. So I

[2021-06-11 00:12] agoldis commented on #338
@vaibhavi-jas
So I installed a fresh new setup of sorry-cypress using cloud formation template, no tweaks or config changes:

<img width="1069" alt="Screen Shot 2021-06-10 at 4 27 12 PM" src="https://user-images.githubusercontent.com/1637928/121612080-8d113480-ca0e-11eb-8548-f888e2a09d11.png">

I sending the tests to the director with this command:

[code]

And I see this output from cypress agent

[2021-06-11 07:10] tico24 commented on #380
After discussion with @agoldis, this is intentional. In fact the previous way it worked was a bug.
We are updating our helm chart tests to accommodate now.

I wonder if it's worth updating the sorry-cypress documentation to make this clear though? So I'm not closing this issue yet.

[2021-06-11 18:40] agoldis commented on #380
Updated the documentation, thanks @tico24

[2021-06-11 18:40] #380 closed

[2021-06-14 20:10] egramens opened #381 "Specs claimed multiple times during run"
## Summary

During runs with parallel runners, Sorry cypress is allowing spec files to be claimed more than once, but should only allow them to be claimed once.

## How to reproduce

## Environment

- sorry-cypress version: `1.0.3`
- cypress version: `6.2.0`
- platform: `aws`
- service: `director`

[2021-06-14 20:11] egramens commented on #381
director logs showing same spec claimed twice by different CI instances:

first claim:
[code]

second claim:
[code]

[2021-06-14 20:12] egramens commented on #381
records from db showing the same as above:

first:
[code]

second:
[code]

[2021-06-14 20:14] egramens commented on #381
Screenshot from SC interface showing same spec claimed twice:

<img width="1387" alt="Screen Shot 2021-06-14 at 3 14 14 PM" src="https://user-images.githubusercontent.com/65231753/121953465-96aadd00-cd2b-11eb-9a05-2e0f3a2ff402.png">

[2021-06-16 17:56] carlos0202 commented on #368
Hi guys,

Sorry for jumping into this discussion with my own request or help. In my case, I would like to be able to rerun all the specs from circleci no matter if they all passed or failed. I was trying to create a dynamic environment variable on circle-ci (holding current date-time) to add that variable to ci-build-id to produce different build ids per run with no success :'(.

Can anybody help

[2021-06-17 07:54] zuzana-m opened #383 "Slack notification with run finish event is not sent"
## Summary

Hello, I have configured a slack webhook in our sorry cypress dashboard. I have chosen **run finish** event for obtaining test results. I expect it to sent me a notification with summary of passed and failed tests after tests are finished. Unfortunately I have not received any.
When I select different event for sending notification like **run start** or **instance finished** I receive

[2021-06-17 08:11] testingJava2 opened #384 "results displayed in the Run Summary & Slack report are inconsistent, due to counting retries"
## Summary

The results displayed in the Run Summary are inconsistent, probably due to the program counting the number of retires in the Total Tests count.

This also seems to affect the Slack integration report, where a failed test is counted each time a retry is executed, and the total number of tests will be artificially increased.

In the below example image, we can see that the number of pass

[2021-06-17 09:03] agoldis commented on #383
Thanks @zuzana-m. Can you please share try to examine the associated run and see if https://github.com/sorry-cypress/sorry-cypress/blob/0ff44646fe6564cb6255bc9ea64b69578f23ee9b/packages/director/src/api/instances.ts#L154 can cause any trouble?

[2021-06-17 10:16] mohsenny opened #385 "Feature Request: Test Analysis"
- [x] I have searched issues for similar feature requests

## What is this feature about
What tests fail the most

## Why is it needed? What is the value? For whom do we build it?
To find out the most common failing test cases across certain branches, to get a sense of which tests are being the flakiest to fix.

## High-level feature overview
A `Test Analysis` option. After navigating into it we s

[2021-06-17 19:51] slutske22 commented on #35
https://docs.sorry-cypress.dev/ci/jenkins says under construction.  Do you have any links to tutorials / recommendations on how to set up a Jenkins pipeline to leverage sorry-cypress to run cypress tests in parallel across multiple jenkins agents?

[2021-06-17 19:52] agoldis commented on #35
@slutske22 that's the only I am aware of https://crumbhole.com/sorry-cypress-in-a-kubernetes-jenkins-pipeline/

[2021-06-18 16:36] agoldis commented on #376
@vaibhavi-jas

Please make sure that you copy the whole run url, looking at your screenshot, the runId is too short - it is supposed to be 32 characters

<img width="992" alt="Screen Shot 2021-06-10 at 5 02 36 PM" src="https://user-images.githubusercontent.com/1637928/121612257-e4afa000-ca0e-11eb-97fc-219945eb8755.png">

For example, my terminal break the url in two parts, so I have to copy it all

[2021-06-18 16:36] #376 closed

[2021-06-22 17:14] agoldis commented on #368
@carlos0202 try using `--ci-build-id $CIRCLE_WORKFLOW_ID-$CIRCLE_BUILD_NUM`, that worked for me

[2021-06-23 13:37] carlos0202 commented on #368
Well, this could help me but I'll be facing another issue because I have multiple cypress/run steps in my circleci config. Thanks for the help, I need to figure out how can I solve this issue.

[2021-06-25 14:22] alexniculae opened #388 "Add Tags field at Spec level , as a new column, next to the Group column"
## What is this feature about (1 sentence)
Adding a Tags field at Spec level , as a new column, next to the Group column

## Why is it needed? What is the value? For whom do we build it?
Will allow user to add more context to the specs ran

## High-level feature overview
Add Tags field at Spec level , as a new column, either before or after the Group column

![sorry-cypress](https://user-images.gi

[2021-06-30 10:34] GabRog opened #389 "Rollback in AWS Setup"
I tried to create setup in AWS like in [docs](https://docs.sorry-cypress.dev/cloud-setup/aws#cloud-formation).
I have no idea, why setup ends with status ROLLBACK_COMPLETE instead of CREATE_COMPLETE.

[2021-06-30 17:13] agoldis commented on #389
@GabRog Please share the events log, it's be an entry with specific configuration step failure

[2021-07-01 06:55] alexneo2003 opened #390 "Reset groupId after "All tasks claimed" status received"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Consider dumping 'buildId' after gaining status "All tasks claimed"
[code]

## Why is it needed? What is the value? For whom do we build it?
I'm using multibranch Jenkins job
For --ci-build-id i'm using env.BUILD_NUMBER and if i'm running build number coincides in different branches - sorry-cypres

[2021-07-01 17:40] xrow opened #391 "Startup issue: "/var/cache/nginx/client_temp" failed (13: Permission denied)"
## Summary

Sorry cypress does not start pod sorry-cypress-dashboard, but should do start it

## How to reproduce

[code]

You now see this in the logs:

[code]

## Environment

- sorry-cypress version: latest
- cypress version: latest
- platform:
[code]
- service: `dashboard`

[2021-07-01 19:51] agoldis commented on #391
Please reopen the issue at https://github.com/sorry-cypress/charts

[2021-07-02 16:21] agoldis commented on #390
That's going to be a breaking change, you can  prevent this problem by augmenting the unique build id with branch name or commit sha

[2021-07-02 16:21] #390 closed

[2021-07-02 17:21] xrow commented on #391
The container will not start for non root users. Here is how to reproduce plz repoen.

[code]

[2021-07-02 17:29] agoldis commented on #391
@xrow did you check https://docs.sorry-cypress.dev/cloud-setup/docker-images/running-sorry-cypress-dashboard-as-non-root-user

[2021-07-02 17:32] xrow commented on #391
LOL then we are back to a chart issue :-) when doing https://docs.sorry-cypress.dev/cloud-setup/docker-images/running-sorry-cypress-dashboard-as-non-root-user

@agoldis @tim-sendible  Can you both check on how you want to solve this? I guess you have multiple options.

[2021-07-02 17:33] xrow commented on #391
I believe it is smartest to solve it with copying those files.

[2021-07-02 17:35] xrow commented on #391
- Option A: Make the image run as  non root out of the box
- Option B: Make the chart allow to use uid and privilaged

[2021-07-05 17:45] StefanS-O commented on #5
I will deploy Sorry Cypress on Kubernetes this week and will look into it, since we need it password protected. I will post my findings here. Maybe it results in a merge request :)

[2021-07-05 17:54] zuzana-m commented on #383
Thank you for your reply @agoldis

I've run tests again and looked to the logs of sorry-cypress_director.

Seems like all the tests finished, but RUN_FINISH event was not emitted.

<img width="498" alt="screenshot 2021-07-05 o 19 38 34" src="https://user-images.githubusercontent.com/43915675/124505219-49b9a400-ddc9-11eb-8a6d-da967a919bb8.png">

[code]

Do you have any idea what could cause a probl

[2021-07-06 13:56] Zaista opened #392 "Git SSH URLs not properly handled"
## Summary

Sorry cypress dashboard does not properly support SSH URLs in the commit details.
All URLs (Origin, Commit, Branch) in Commit Details are considered relative and end up in the following form:
http://example.com/git@github.com:sorry-cypress/sorry-cypress.git
They end up redirecting to a blank page in the dashboard.

## How to reproduce

Use SSH connection when cloning the your repo, pus

[2021-07-06 14:49] albert0815 commented on #5
Just leaving this as a hint: Setting graphQlClientCredentials to include didn't work out of the box for me. The reason is that including credentials only works if cors origin is set to something specific. Since cors setting in the api in the apollo server is left in its default (which is origin set to *) setting graphQlClientCredentials to include in the dashboard failed with a cors error. I assum

[2021-07-07 09:27] akociemba commented on #368
@agoldis about this

It might be an issue with infrastructure, resolved outside of the pipeline, and the user might not want to create a new pipeline, just to retry few tests (especially in the case of CI/CD deployment pipelines). In such a case, it's really useful to be able to retry only failed tests (or even the whole test suite) instead of creating a new pipeline.

A special case of the above

[2021-07-07 17:27] agoldis commented on #368
@akociemba thanks, those are useful use-cases indeed.

It's going to be quite a challenge in terms of implementation, also, it is different from the original cypress dashboard behaviour, so we'd thunk carefully about the implementation and implications.

[2021-07-07 20:45] ee-dev-2020 opened #393 "director yarn test fails"
Hi,
Thanks for building making this great alternative solution to cypress dashboard. I'm testing this tool as a potential solution to parallelizing our tests. My company requires the build pipeline to have a test stage and I'm leveraging `yarn test` for that purpose.
However, it looks like there are 2 tests with errors under the packages/director folder:

[code]
[code]
[code]

I have omitted some

[2021-07-08 04:05] agoldis commented on #393
@ee-dev-2020 we are really lacking good tests, unfortunately. Hopefully that situation will change in future. Please check out our automated GH actions setup https://github.com/sorry-cypress/sorry-cypress/runs/2837877826?check_suite_focus=true - it runs tests on every push, should be similar to any other CI environment

[2021-07-08 04:06] agoldis commented on #389
@GabRog please let me know if you were able to get more details. Closing meanwhile

[2021-07-08 04:06] #389 closed

[2021-07-13 05:59] pawel-zajac90 opened #394 "AWS S3 Accesss"
Hi, I need to use sorry-cypress in public network so here comes a little problem for me:
I'd like to enable TLS but have got problem with Mixed content.
Whole traffic is going to Apache proxy server and then to the Dashboard via private network.
So my first idea was just to use in Apache:
ProxyPass rules, which should rewrite my http to https, but it doesn't work (only for sorry-cypress)
I've gene

[2021-07-14 14:57] parky128 opened #395 "How to get test metrics from recorded runs"
I have just started working with this fantastic set of tools and was able to use the AWS cloud formation template to get up and running pretty easily.

We are using Jenkins and have configured parallel stages to execute, and I can see the completed test runs appearing in our dashboard instance.

After the parallel stages have executed in our Jenkins Pipeline script, I'd like to be able to access t

[2021-07-14 16:58] #395 closed

[2021-07-21 13:11] #394 closed

[2021-07-21 23:57] ImanMahmoudinasab opened #400 "Exclude a branch from a hook using wildcard characters"
-  [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Will allow users to exclude branches from a hook using a wildcard.

## Why is it needed? What is the value? For whom do we build it?
Some times instead of saying which branches should trigger a hook you need to say all branches except one or more specific branches should trigger the hook.
This ca

[2021-07-22 11:59] YeonV opened #401 "🙏🏻 Help Needed: boldui -> Material-UI"
As part of Sorry Cypress v2.0, we are planning to migrate the dashboard to material UI as requested.

That's quite a big effort and I need your help. I believe that gradually we can migrate the whole project to Material UI. If you are interested in helping with migration, please comment below and start working on the corresponding screen.

@YeonV @conantteo @ImanMahmoudinasab @fsmaia

## Developme

[2021-07-22 22:45] pawel-zajac90 opened #402 "Dashboard can get access only when S3 is public"
## Summary

Sorry cypress doesn't connect to S3 bucket using IAM when bucket isn't public.

## How to reproduce

Try to connect local sorry cypress instance to S3 bucket.

## Environment

- sorry-cypress version: latest
- cypress version: latest
- platform: `docker`
- service: `director`

Hi, I've got locally Sorry cypress built using docker images. The problem is I can't get access to S3 bucket w

[2021-07-23 03:32] nguyenhoaibao commented on #90
If running in a Kubernetes cluster, I think we can set `NODE_OPTIONS=--unhandle-restrictions=strict` to let the node server crash, and then Kubernetes will restart it automatically.

[2021-07-23 05:05] agoldis commented on #401
Thanks for opening the issue, I am totally down for moving to a better framework, please, Material UI or any other popular. It'd required some significant amount of refactoring though. Any help appreciated

[2021-07-23 05:06] #393 closed

[2021-07-23 05:11] agoldis commented on #402
@pawel-zajac90 the upload part uses a signed URL that should work fine with private s3 buckets, if it isn't working it's a bug.

The read part is problematic - if a browser tries to read private S3 URL it will fail, unless the URL is signed. The signing part might be implemented on the API service, that required more reading and exploration though.

Any help is appreciated

[2021-07-23 05:58] pawel-zajac90 commented on #402
@agoldis So for now there is no solution to allow users get public access to dashboard e.g. using nginx authorization system?
I cannot set up minio buckets externally so I decided to use AWS S3 buckets, but like I understand there is no possibility to let buckets be private?
When I will find some solution I will of course let you know. Just wanna know if there is no ready solution :)

[2021-07-23 06:07] agoldis commented on #402
I was able to do that for https://currents.dev using [Cloudfront signing key](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-overview.html) but it required quite a lot of refactoring and also doesn't work with minio :(

[2021-07-23 06:44] pawel-zajac90 commented on #402
@agoldis Actually upload doesn't work also...could you give me a hint where should I look for the issue?

[2021-07-23 06:47] agoldis commented on #402
https://github.com/sorry-cypress/sorry-cypress/blob/0d1cd14a4b9fa8556f3977207783fdb3b1ef687e/packages/director/src/screenshots/s3/s3.ts#L43
That's the part that generates the upload URL

[2021-07-24 05:14] ImanMahmoudinasab commented on #400
@agoldis I can work on this if you point out where is those wildcard checkers.

[2021-07-24 19:24] agoldis commented on #400
https://github.com/sorry-cypress/sorry-cypress/blob/0d1cd14a4b9fa8556f3977207783fdb3b1ef687e/packages/director/src/lib/hooks/reporters/slack.ts#L185

[2021-07-24 19:25] agoldis commented on #400
Thanks @ImanMahmoudinasab ! Please let me know if you need any help with that

[2021-07-24 19:33] agoldis commented on #374
@carlos0202 sure, sorry just saw your message recently. You need to define environment variable CYPRESS_API_URL with an accessible director URL, for example `https://sorry-cypress-director.herokuapp.com`

[2021-07-26 18:17] ImanMahmoudinasab commented on #400
My initial idea is to let users exclude branches using a `!` character at the begging of the filter:
[code]

 `!` characters not in the begging of the filters would be ignored.

What do you think?

[2021-07-26 19:44] agoldis commented on #400
@ImanMahmoudinasab sounds good. I'd stick to convention of glob patterns, e.g. https://www.npmjs.com/package/micromatch

[2021-07-28 19:05] ImanMahmoudinasab commented on #400
@agoldis Please review the changes on #406 and let me know if anything could be improved.

[2021-07-28 20:49] KyleThenTR opened #407 "After 1.0.3 -> 1.1.0 upgrade, director service gets MongoError"
## Summary
I'm upgrading from 1.0.3 to 1.1.0 and when I try to run tests, it gets a 504 gateway timeout to the director when running tests. Looking at the AWS Cloudwatch logs, it looks like there is an authentication error on startup of the director.

Director logs:
![image](https://user-images.githubusercontent.com/52414395/127393480-0adaadb6-3ba7-4539-becf-13b6e4be5379.png)

My director image ha

[2021-07-29 05:54] agoldis commented on #407
@KyleThenTR that's weird, lets try to debug your setup. I checked it on https://sorry-cypress-demo.herokuapp.com/ and it works for heroku setup.

- Are you using AWS ECS? Is task definition defined properly?
- Are you able to log `MONGODB_URI` at runtime?

[2021-07-29 10:31] tico24 opened #408 "1.1.0 is partially portuguese?"
## Summary

View a completed run (all passed) and hide successful steps. You see the message `Nenhum registro encontrado` instead of `No records found`

## How to reproduce
Start a run. View the run in the dashboard.

## Environment
- sorry-cypress version: `1.1.0`
- platform: `docker`

[2021-07-29 12:31] KyleThenTR commented on #407
@agoldis yep using AWS ECS. I haven't changed the task definition in a while so unless anything changed that the director needed in the release, it should be fine. Don't know how to log the variable at runtime since I'm just using the docker image you create, but on the ECS page those env variables show up
![image](https://user-images.githubusercontent.com/52414395/127492103-a36a3070-8923-4529-8ba

[2021-07-29 15:40] KyleThenTR commented on #407
Looking at the logs, it looks like the director may be trying to sign in to Mongo before the Mongo container creates the sorry cypress user

Here is from the director, timestamp: 2021-07-29T08:07:49.081-05:00
![image](https://user-images.githubusercontent.com/52414395/127522243-9b3ab1ae-1b3a-4661-af05-ee68f80856f6.png)

Here is from the mongo container, timestamp: 2021-07-29T08:07:49.297-05:00
![i

[2021-07-29 16:03] agoldis commented on #408
That's a big in bold-ui implementation :( should replace this library with a mature UI framework, but it would require rewriting the whole UI

[2021-07-29 16:20] KyleThenTR commented on #407
Downgrading to 1.0.3 works but still get this error in the director service logs
![image](https://user-images.githubusercontent.com/52414395/127528665-2d513fd3-3d7b-4803-a7f1-d68a601b2ba6.png)

[2021-07-30 07:17] agoldis opened #409 "Clean runTimeouts when deleting a run"
## Summary

`runTimeouts` is not getting cleaned when deleting a run, causing log error messages

[2021-07-30 07:33] tico24 commented on #409
Just in case anyone stumbles across this issue, the problem is that the director will constantly complain that it can't check runtimeouts. Here's a sample:

`[run-timeout] Error checking run timeout for runId: 460e57b7401e9038af2297320636704d, task id: 60f57d1283c2b7633c962c58

[2021-07-30 16:08] wconrad opened #410 "Support TLS connection to MongoDB"
Please add the ability to connect to MongoDB via TLS when running as a docker service

# Why is it needed? What is the value? For whom do we build it?

The ability to connect to MongoDB using TLS is is needed for someone who wants to run sorry-cypress as a docker service in a VM at Azure, using Azure's CosmosDB as the MongoDB server.

Azure's CosmosDB has a mongo front-end that I believe would wor

[2021-08-02 03:35] #400 closed

[2021-08-03 20:04] everton-nasc commented on #409
@tico24 - Thanks for sharing the workaround!

Not sure what's going on, but still getting the errors after try to run the workaround command.

We have set sorry-cypress using helm/charts in order to spin up the services and this morning after deleting and recreating everything, this error started to popping up.

Currently we have 3 mongodb services:
- mongodb-0 (master, I guess :P)
- mongodb-1 (sl

[2021-08-03 20:28] tim-sendible commented on #409
Your uri is most likely wrong. Make sure you're using the correct database.

[2021-08-03 20:52] everton-nasc commented on #409
@tim-sendible
The database uri seems to be correct:
[code]

Another quick test:
[code]

Tried to delete all mongo services and recreate them again, but I'm getting a bunch of mongodb error on the director side:
[code]

This morning we got some weird error on the mongo replicaSet, where it was blocking the mongodb to spin up... after delete the RS and recreate it, at least the mongodb starts to "wo

[2021-08-04 05:23] agoldis commented on #409
@everton-nasc I don't really know how to help here - director is just trying to connect using the mongoDB credentials you've provided and looking at the error it seems like Mongo configuration error

I would try to follow the next steps:
- make sure director get the correct MONGODB_URI when running
- try to have mongo in single master mode, w/o slaves - make sure it is up and running and accessibl

[2021-08-04 13:35] KyleThenTR commented on #407
@agoldis any ideas on what I could try?

[2021-08-04 14:31] denis-domanskii commented on #383
@zuzana-m , bump Cypress version from 6.6.0 to 6.7.0 (better 6.9.1).

[2021-08-04 16:31] everton-nasc commented on #409
@agoldis
Thanks for your thoughts. For sure it will be plausible and less complex :D

I got it fixed, deleting all mongo statefulset along with their volumes and re-applied the templates again. At least the master and slave has started.

There's another error showing up, where the groups parameter is not working properly. It is splitting up the same test spec execution through the build-ids. I'll

[2021-08-04 16:48] agoldis opened #412 "Run Completion doesn't work for cypress lt 6.7.0"
## Summary

`completedAt` isn't getting populated for cypress lt 6.7.0
https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/common/src/run/runSummary.ts#L79 because   field was null  for all specs.

This method https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/execution/mongo/runs/run.model.ts#L169 is called only in this method https://github.com/sorry

[2021-08-04 16:51] agoldis commented on #383
Most chances related to #412

[2021-08-05 07:23] agoldis commented on #407
@KyleThenTR I am afraid I run out of ideas :(

[2021-08-05 16:27] ImanMahmoudinasab commented on #385
I'm interested in this feature too with more useful info like:

- New failing tests compare to the last run
- Let users compare failing tests of any two test run results

@agoldis, any comment? What are the areas that would be involved? I may get some time to work on this feature.

[2021-08-05 17:01] agoldis commented on #385
That mostly required saving the data in appropriate form that would fetching and presenting. Some form of aggregation per-test would would I think.

Interesting problems to solve would be:

- Identifying a test. E.g. when we get a new test result, we need to "associate" it with existing test results. But that might be tricky. A naive approach would be to just use project + spec file name + test na

[2021-08-05 17:19] agoldis opened #414 "Link run to CI build"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

Expose link to CI build for a run

## Why is it needed? What is the value? For whom do we build it?

Be able to access the build on CI from the run

## High-level feature overview

Add a link that points to CI build. The data is in `run.meta.ci`.

[2021-08-05 17:24] #392 closed

[2021-08-06 03:11] pawel-zajac90 commented on #402
Okay @agoldis I did found what I needed. In my opinion In documentation should be an info, that we need to set AWS region (it was not so obviously for me) also.
I can't found this in minio docs. Is this possible to setup safe external access for it's buckets?
I'd like to use minio, not AWS buckets, because all data need to be on my servers. When I'm creating endpoints for dahsboard and directory i

[2021-08-06 12:45] KyleThenTR commented on #407
@agoldis interestingly enough, it works on 1.1.1 so I'm going to close this.

[2021-08-06 12:45] #407 closed

[2021-08-06 13:20] zuzana-m commented on #383
Thanks so much! Increasing version to 6.7.0 has helped.

[2021-08-06 13:20] #383 closed

[2021-08-06 17:21] ImanMahmoudinasab opened #416 "Dashboard doesn't show projects on version 1.1.1"
## Summary

![image](https://user-images.githubusercontent.com/5295554/128548556-057e573e-76c2-44e7-862d-257f5e9c254c.png)
I have this issue on my local as well.

## Environment

- sorry-cypress version: `1.1.1`
- platform: `docker`
- service: `dashboard`

[2021-08-06 17:43] KyleThenTR opened #417 "Webhooks to Github (maybe other hooks) stops reporting back at around 2600 tests"
## Summary
When using the webhook to github, it seems to stop around ~2600 some tests. We have ~3700 tests that run so the webhook never reports that the run is complete.

On github:
![image](https://user-images.githubusercontent.com/52414395/128550886-a53ff608-e864-4701-a409-200041ca3d23.png)
![image](https://user-images.githubusercontent.com/52414395/128550992-ed79aafc-bb06-449c-9dec-be189053e0d

[2021-08-06 17:50] ImanMahmoudinasab commented on #416
Looks like something was wrong with Mongodb after restarting it everything works like a charm.

[2021-08-06 17:50] #416 closed

[2021-08-06 17:55] ImanMahmoudinasab commented on #417
@KyleThenTR It may be because of timeout setting. check the timeout setting of the project.
![2021-08-06 at 10 53 AM](https://user-images.githubusercontent.com/5295554/128552274-c7cfc595-d3df-4d9e-8579-d4194bc90068.png)

![image](https://user-images.githubusercontent.com/5295554/128552341-a8d47987-61ab-4c80-b058-8a58b2064f34.png)

[2021-08-06 18:02] KyleThenTR commented on #417
I thought that was the case, initially it was only at 5 minutes but I changed it to 20 minutes and it still didn't finish.

[2021-08-06 22:10] ImanMahmoudinasab opened #418 "Sorry cypress doesn't record test runs in mongo db on local (dev) env"
## Summary

I don't get any error and no test run gets recorded:

![image](https://user-images.githubusercontent.com/5295554/128575113-6ea8c867-da4d-4e08-aec6-d0fe8b714334.png)

with the same setting on ci it works and records test results. I'm not sure what could be missed.

## How to reproduce

run project by `yarn dev`

## Environment

- sorry-cypress version: `1.1.1`
- cypress version: `8.2`
-

[2021-08-07 06:27] ImanMahmoudinasab commented on #418
By default running sorry cypress using `yarn dev` command would set `EXECUTION_DRIVER` to `'../execution/in-memory'` which won't save any data to mongo db. setting it to `'../execution/mongo/driver'` fixed the issue.

[2021-08-07 06:27] #418 closed

[2021-08-08 06:29] agoldis commented on #402
@pawel-zajac90 thanks for your feedback! Your English is quite fine - I am also not a native speaker, don't worry about it. The documentation is open-source, it's available at  https://github.com/sorry-cypress/gitbook - you can add information that you find useful.

Please take a look at https://github.com/sorry-cypress/charts - it is our Helm charts repo - any help with pull requests / issues wou

[2021-08-08 06:30] agoldis commented on #417
@KyleThenTR probably a rate limit issue from GH. It's quite tricky to troubleshot without any access to the data / logs. If you can share / provide either I'd be happy to help!
,

[2021-08-09 13:05] KyleThenTR commented on #417
@agoldis here is the error that starts popping up in the director logs when the webhooks start to not report for a run.

![image](https://user-images.githubusercontent.com/52414395/128710800-c4198139-3f31-400a-9af9-8f3eee094e63.png)

[2021-08-09 17:59] agoldis commented on #417
oh that's a nasty error!

We're storing too much information in the DB and the document exceeds 16MB size. Will issue a fix ASAP!

[2021-08-21 19:29] mastacheata opened #423 "Have separate URLs for the director to access storage and for cypress to access storage"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
I'd like to have the director node access the storage at a differet URL than the cypress runner, because both are on separate networks.

## Why is it needed? What is the value? For whom do we build it?
If you have a web application that has separate nodes for frontend and backend and communication

[2021-08-21 20:10] mastacheata commented on #423
After playing around with minio for half an hour, I'm wondering: Is this possible at all? The signature for the upload URL takes into account the hostname as it seems and thus it might be impossible to rewrite the URL.

[2021-08-22 08:11] agoldis commented on #423
Please tell me if that piece of configuration explains the issue:

https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration#caveats-of-using-minio

[2021-08-22 12:19] mastacheata commented on #423
It explains the issue, but doesn't provide a solution. 😟
After reeading up on the signature thing in minio, I don't think there is a solution, though. At least none that you or the code in this project could provide.

Either I add a reverse proxy/nameserver into the mix or minio would need an option to use different addresses for the connection and for the signature / link generation part.

[2021-08-22 12:19] #423 closed

[2021-08-24 08:36] Seraf commented on #5
Hello !
We just deployed sorry-cypress on our K8S cluster, and we'd like to secure it a bit now :)
@StefanS-O did you make some progress on it?

[2021-08-24 16:04] Seraf commented on #5
We spent some time trying to secure things a bit, here is what we did:
- API: we added a basic auth on top of it, through the ingress
- Dashboard: we didn't add basic auth here as the first query to the API will trigger a browser popup asking for credentials
- Director: we tried to add a basic auth here, but then Cypress seems to time out. It looks like it opens a socket but doesn't support the HT

[2021-08-24 16:11] StefanS-O commented on #5
Hi @Seraf, i hadn't time to look into it, there was other stuff in the way.
Regarding the director timeout: wouldn't it work to skip basic auth for IP / IP ranges from the runner? Not ideal, but might work, as long as the runners do have a fixed ip or range.

[2021-08-24 16:14] Seraf commented on #5
Yes, it should probably work, but as the workers machines are containers spawn by the CI, in the cloud, we don't want to be limited with IP Range :sweat_smile: :wink:

[2021-08-26 01:17] amitguptagwl opened #424 "Running multiple instances from the same CLI window"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Running multiple instances from the same CLI window and integration with other tool.

## Why is it needed? What is the value? For whom do we build it?
I've recently written a tool to run cypress tests using Gherkin syntax. I was trying to run Cypress docker image by spawning multiple processes in

[2021-08-26 02:39] #424 closed, assigned to nobody

[2021-08-26 02:51] amitguptagwl opened #425 "Cypress ESOCKETTIMEDOUT in case of error"
## Summary

Sorry cypress does not respond to Cypress back when Cypress detects syntax error in the code.

## How to reproduce

I wrote a test where I used `fs` but didn't import it. So it throws error at runtime.
[code]
In this case, Cypress gives expected error. And it tries to upload the test result but it fails
[code]

These logs from sorry-cypress dashboard
[code]

## Environment

- sorry-cyp

[2021-08-26 05:07] amitguptagwl opened #426 "Website loading issue"
## Summary

This issue is related to https://docs.sorry-cypress.dev/
When I click on any link in left sided menu/document index, it changes the URL but show the loading icon in content. But if I directly hit the URL, content loads.

Browser: Firefox
Platform: Ubuntu

## How to reproduce

## Environment

- sorry-cypress version: `<here>`
- cypress version: `<here>`
- platform: `docker | cloud provi

[2021-08-27 07:25] #426 closed, assigned to nobody

[2021-08-30 02:12] amitguptagwl commented on #425
@agoldis Have you incorporate this fix in v2.0-beta.6 ?

[2021-08-30 08:57] ImanMahmoudinasab commented on #401
here are some new designs, feedbacks appreciated:

![Web 1920 – 7](https://user-images.githubusercontent.com/5295554/131313736-73f0bf24-dcd8-4e99-875b-222ca75cc6db.png)

![Web 1920 – 8](https://user-images.githubusercontent.com/5295554/131313849-e28d0162-5aee-4e5c-9739-8d6380286865.png)

![Web 1920 – 3](https://user-images.githubusercontent.com/5295554/131313937-2aeeee80-79e0-47b8-afe3-857297621f2

[2021-08-30 17:40] agoldis commented on #425
@amitguptagwl yes, you test it out with `docker run -p 1234:1234 agoldis/sorry-cypress-director:2.0.0-beta.6`

[2021-08-30 17:47] agoldis commented on #401
@ImanMahmoudinasab that looks great 🎉👍🏻🐬!!
 Are those just mocks or actually implemented screens? Don't be shy opening a PR with the work you've done already.

[2021-08-30 18:34] ImanMahmoudinasab commented on #401
Thank you.😎🤘🤝

They are mocks. As the cost of changing mocks is less than the implementation, I will continue creating mocks for other pages/scenarios. and then would start implementation.

[2021-08-31 08:49] testingJava2 commented on #385
Hello @ImanMahmoudinasab, @agoldis,

What do you guys think about adding some flakiness analysis here too?

Can be an average # of retries per spec; even better if maybe with the latest or, if even possible, the most common Error that is encountered during the retries(?) - if not possible, at least the average number of retries per spec would be great

Let me know your thoughts 🙂

[2021-08-31 17:07] agoldis commented on #385
That seems useful, will take a look after v2

[2021-08-31 21:21] KyleThenTR commented on #417
@agoldis appears to be working on v2, thanks!

[2021-09-01 00:26] amitguptagwl commented on #425
This issue still persists. I ran `cy2` in 2 different terminals. It is running fine in one terminal but failed in another terminal when running tests for `journeys.feature`. So I reran the tests for `journeys.feature` only, it is successful.

[code]

[2021-09-01 03:23] amitguptagwl commented on #425
Once the tests in 1 terminal ends, they also fail for the same reason I originally reported.

[code]

[2021-09-01 06:42] agoldis commented on #425
@amitguptagwl seems like my attempt to reproduce it is different from yours.

Would appreciate you sharing with me the output running cypress with DEBUG enabled. Basically I need to see what are the payloads that is trigger the errors. If you can scope it to just one single test that causes the crash, it'd be great!

[code]

[2021-09-02 02:39] amitguptagwl commented on #425
Here is the stdout
[code]

Here are the logs from sorry-cypress
[code]

[2021-09-02 02:41] amitguptagwl commented on #425
One more question (not related to this thread), how can I run `agoldis/sorry-cypress-director` in background. I wand to run tests and director docker image both on same server on jenkins

[2021-09-02 03:39] agoldis commented on #425
Unfortunately the stdout you posted doesn't have any DEBUG output. I think DEBUG doesn't print the messages to stdout, but to stderr instead.

Re: background
https://www.tecmint.com/run-docker-container-in-background-detached-mode/

[2021-09-02 10:39] lslavkov commented on #361
Maybe related to this issue but I am experiencing similar issue where I can't upload video and screenshots
[code]

[2021-09-02 14:49] amitguptagwl commented on #425
No! DEBUG prints to stdout. Because I use it in my app too. I was even surprised why it was printing nothing in this case. Any other way to figure it out? Otherwise it'll leave the bug in this library.

[2021-09-02 17:15] agoldis commented on #425
@amitguptagwl Here's how cypress output looks like with DEBUG enabled. Please note the lines with `cypress:server:api` prefix. I need to the what data is being sent to sorry-cypress to proceed.

[code]

I'd be better if you post the payload of the requests so I can troubleshoot and close it.

[2021-09-03 00:54] amitguptagwl commented on #425
I used `DEBUG:cypress:*` and it printed a lot of logs. I've copied some of the logs from that. I hope it'll help

[code]

and this
[code]

[2021-09-05 01:09] amitguptagwl commented on #425
@agoldis please let me know if you're looking for any other logs

[2021-09-05 02:09] amitguptagwl commented on #425
Reproduction steps

1. Create a test file ` cypress/integration/1-getting-started/todo.spec.js` with following contents

[code]
2. Run following command to run the tests
[code]

Some logs from the console
[code]

I hope this will help to solve the issue

[2021-09-07 06:16] agoldis commented on #401
@ImanMahmoudinasab hey, how is it going? Do you need any help? May be it worth starting with incremental implementation of the screens that are ready?

[2021-09-07 08:49] AsimAM opened #432 "How to set run timeout?"
It defaults to 3 minutes, from doing some digging I can see that we should be able to set `inactivityTimeoutSeconds` in `cypress.json` but it doesn't seem to work

[2021-09-07 17:08] ImanMahmoudinasab commented on #401
@agoldis, Hey, Everything is going well! spending my weekend in Victoria and working on the sidebar and header in my spare time! :)

I finished the design of the screens, and you can see the last version [here 🎨](https://xd.adobe.com/view/63718818-7736-4686-be0d-45dcf4a42671-3622/).

I have started the implementation of the sidebar. I need couple more days to wrap it up (making it mobile-friendly)

[2021-09-07 17:46] agoldis commented on #432
It's in the UI - edit project > set timeout > save

[2021-09-07 17:46] #432 closed

[2021-09-07 18:00] AsimAM commented on #432
it should work through the cypress configuration though no? It's a bit of a pain to have to use the UI every time a project is created. In my own team we have a setup which clears the data every month for example, so when a new project is automatically created someone will manually have to go in update the timeout through the UI which isn't really maintainable in the long run.

[2021-09-07 18:02] agoldis commented on #432
you can also set the default timeout via director's runtime environment variable `INACTIVITY_TIMEOUT_SECONDS` https://github.com/sorry-cypress/sorry-cypress/blob/39badda95279b9bb844b5cae75fcf6d663518df9/packages/director/src/config.ts#L26:L26

[2021-09-08 05:58] agoldis commented on #425
@amitguptagwl thanks for posting the detailed repro step - that was helpful. Please check out beta.9, it'd resolve this issue

[2021-09-08 06:00] agoldis commented on #401
Thanks @ImanMahmoudinasab

I think I am going to move ahead with the rollout of v2 - I want to get feedback about the new version because there's a backlog of PR I am gonna need to port onto v2.

[2021-09-08 06:32] #377 closed

[2021-09-08 06:32] #378 closed

[2021-09-08 06:32] #384 closed

[2021-09-08 06:32] #409 closed

[2021-09-08 06:32] #412 closed

[2021-09-08 06:32] #417 closed

[2021-09-08 06:32] #425 closed

[2021-09-08 06:32] #371 closed

[2021-09-08 06:32] #410 closed

[2021-09-08 10:27] wconrad commented on #410
I really appreciate you adding this feature.  Thank you!

[2021-09-08 16:49] ImanMahmoudinasab commented on #401
Good idea! We can update material UI to the latest version (they have changed the package name) before more folks using it on their branches in order to migrate sorry cypress to MUI.

Thank you!

[2021-09-09 08:48] lslavkov commented on #46
@agoldis hey I can't access to your gitbook for cloud setup.

[2021-09-09 20:48] jdileonardo commented on #401
@ImanMahmoudinasab

At the risk of feature creep I mention ; https://github.com/sorry-cypress/sorry-cypress/issues/362#issuecomment-851695996
However, it seems the new side nav could be in-line with the desired improvements required for the above.

Just an FYI ; mocks look good tho.

[2021-09-09 21:39] agoldis commented on #46
@lslavkov it's working https://docs.sorry-cypress.dev/cloud-setup/google-cloud just verified... what are you seeing?

[2021-09-10 02:54] amitguptagwl commented on #425
@agoldis Same problem with beta.9

[code]
From cypress logs
[code]

If you don't mind, can you please reopen the issue?

[2021-09-10 11:20] binhpv opened #435 "Jenkins agent is assigned all tests when joining the run later than others"
## Summary

I have my tests running on 4 Jenkins agent. If all agents has available executor, then no problem. However if one agent is busy and can only execute the tests after finishing some of its current build job, then it get assigned all the tests and has to run them all. This happen even though the other agents haven't finish running tests yet (not even half the number of tests).
This make t

[2021-09-10 17:22] agoldis commented on #435
Please make sure that when Jenkins start running cypress tests all the follow values are similar across the Jenkins machines:

- `ciBuildId`
- git commit `sha` value
- `projectId`

[2021-09-10 17:23] agoldis commented on #435
Another option - please make sure that MongoDB indexes for `runs` collection are present:

`{ runId: 1 }, { unique: true }`

[2021-09-10 22:04] fsmaia opened #437 "Support instance filter in Slack hook"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

The slack hook could have an instance filter field, so different suites could be notified to different channels.

## Why is it needed? What is the value? For whom do we build it?

Some large applications are maintained by multiple teams, and eventually, they may share the same Cypress execution.

[2021-09-13 00:45] Aeolun opened #438 "getSpecStats is *really* slow"
## Summary

This aggregation query becomes a bit intense when your database grows. Every time we load the test page it tries doing a few tens of times to get the average for every test individually, which slows everything down until the page is loaded:

<img width="529" alt="image" src="https://user-images.githubusercontent.com/1116482/133008665-6bb02d71-f8ca-4003-bfa8-b93e6aedccdf.png">

I manual

[2021-09-13 11:54] obula opened #439 "Getting => We encountered an unexpected error talking to our servers."
## How to reproduce
STEP 1:
C:\CypressDashboard\sorry-cypress-master>docker-compose -f docker-compose.minio.yml up
Output=> Success. Able to see dashboard and created projects in localhost:8080.

STEP 2: Unable to run the tests with the below command
C:\CypressDashboard\sorry-cypress-demo-main (1)\sorry-cypress-demo-main>npx cy2 run --record --key XXX --parallel --ci-build-id buildrun-01
[cy2] Run

[2021-09-13 15:31] obula01 opened #440 "MongoServerSelectionError: getaddrinfo EAI_AGAIN mongo"
## Summary
Unable to create projects in localhost:8080 server

## How to reproduce
STEP1: C:\CypressDashboardRD\sorry-cypress-master\sorry-cypress-master>docker-compose -f docker-compose.full.yml up

** Error Log**
director_1   | (node:1) UnhandledPromiseRejectionWarning: MongoServerSelectionError: getaddrinfo EAI_AGAIN mongo
director_1   |     at Timeout._onTimeout (/app/node_modules/mongodb/lib/

[2021-09-13 16:29] vaibhavi789 opened #441 "Dashboard gives this error : Error: BSONObj size: 20771140 (0x13CF144) is invalid. Size must be between 0 and 16793600(16MB) First element: _id: ObjectId('6131d5e21d8a590019f66947')"
## Summary

Sorry cypress does X, but should do Y

## How to reproduce

## Environment

- sorry-cypress version: `<here>`
- cypress version: `<here>`
- platform: `docker | cloud provider`
- service: `api | director | dashboard | all`

[2021-09-13 17:20] agoldis commented on #441
Please reopen with all the details provided as mentioned in the template

[2021-09-13 17:20] #441 closed

[2021-09-13 17:20] agoldis commented on #440
Please reopen with all the details provided as appears in template

[2021-09-13 17:20] #440 closed

[2021-09-13 17:27] #438 closed

[2021-09-13 17:31] agoldis commented on #439
I was able to run tests from master with unaltered `docker-compose.minio.yml`. Please make sure you're pointing to director service and it is available on `http://localhost:1234`

[code]

[2021-09-13 17:31] #439 closed

[2021-09-13 18:45] obula opened #443 "Screenshots and videos files uploading failed and not showing in dashboard"
Screenshots and videos are not showing in dashboard
## How to reproduce
Step 1: Run docker compose - mono.yml
docker-compose -f docker-compose.minio.yml up
Step 2: Run tests
C:\CypressDashboard\sorry-cypress-demo-main (1)\sorry-cypress-demo-main>npx cy2 run --record --key XXX --parallel --ci-build-id buildrun-03
Step 3: Check running logs => Here files are not uploading to server.
Step 4: Check da

[2021-09-13 18:52] agoldis commented on #443
@obula please stop opening those issues.
- You're not following the template
- Your setup is wrong, you'd better follow the documentation and make sure it's all set up as described

[2021-09-13 18:52] #443 closed

[2021-09-14 08:40] vaibhavi789 opened #445 "Dashboard gives this error : Error: BSONObj size: 20771140 (0x13CF144) is invalid. Size must be between 0 and 16793600(16MB) First element: _id: ObjectId('6131d5e21d8a590019f66947')"
Please note - issues that are not following the template will be closes automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-09-14 09:42] Roemer opened #446 "API queries regarding run crash with: Cannot read property 'find' of undefined"
Please note - issues that are not following the template will be closes automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-09-14 17:04] agoldis commented on #445
Please tell me if v2.0.0-beta.12 solves this issue

[2021-09-14 17:08] agoldis commented on #446
Fixed in v2.0.0-beta.11 and up

[2021-09-14 17:08] #446 closed

[2021-09-14 17:08] #445 closed

[2021-09-14 18:05] AsimAM opened #447 "Hide successful specs hides pending tests"
Running sorry cypress `v2.0.0 beta 12` and the hide sucessful spec button is broken.

When pressing the button it also hides pending tests when it should only be hiding completed successful tests.

[2021-09-14 21:22] Roemer commented on #446
Sorry, will test it asap. I checked the commits but somehow cannot find where or how this is fixed.

[2021-09-14 23:42] ImanMahmoudinasab opened #448 "Failing tests number doesn't match in slack notifications"
- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration) - for issues related to Screenshots / Vid

[2021-09-15 05:50] agoldis commented on #448
Fixed in v2 :)

[2021-09-15 06:15] #448 closed

[2021-09-15 09:22] aGRRRo opened #449 "Ability to create projects via REST API calls"
Greetings!
I didn't find any docs regarding if it is implemented or not.
This might be a useful feature for teams with IAC implementation, in case of automatic redeployments.
Thanks.

[2021-09-16 05:03] j-martin commented on #5
For people on GCP, [IAP](https://cloud.google.com/iap) worked pretty well for us (the API needs to use the same host so we put it under `/api/*`).

[2021-09-17 00:19] amitguptagwl commented on #425
@agoldis have you get the chance to check this?

[2021-09-17 11:38] mathpaquette commented on #362
@jdileonardo @agoldis did you start working on this ? if not ill try something.

[2021-09-17 16:59] agoldis commented on #425
@amitguptagwl sorry, I think I have fixed that in 2.0.0-beta.12, would you give it a try?

[2021-09-17 17:21] agoldis commented on #362
@mathpaquette not yet

[2021-09-18 12:27] amitguptagwl commented on #425
Thanks a lot @agoldis it worked.

[2021-09-21 06:36] Roemer commented on #446
I updated to beta.12 and still got the same issue. In addition, when connecting to the API-Website, I cannot get the API-UI anymore and only get `GET query missing.`.

[2021-09-21 17:25] agoldis opened #453 "Sidebar projects overflow breaks the layout"
Please note - issues that are not following the template will be closes automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-09-21 17:27] agoldis commented on #453
@ImanMahmoudinasab Any chance you can take a look?

[2021-09-21 17:45] agoldis commented on #435
Closing due to lack of interest

[2021-09-21 17:45] #435 closed

[2021-09-21 18:35] agoldis commented on #453
@ImanMahmoudinasab  nvm, fixed in #454

I've had a chance to work with the code you've recently contributed

- thanks a lot for investing your time - very nice effort with a lot of attention to details! 🎉👍🏻
- I would suggest to focus on letting other to contribute easily - e.g. custom margins and padding are quite hard to match for future contributors, whenever we can use default styling without o

[2021-09-21 18:54] ImanMahmoudinasab commented on #453
Oops! I missed it.

Thank you @agoldis . It was my pleasure! 🙏🏻

Sure! That was my first round with focus on functionality and not the structure and maintainablity. I would refactor them but first we should talk about the structure that I have in my mind and then apply it to the project.

[2021-09-21 19:07] #453 closed

[2021-09-21 19:19] agoldis commented on #446
@Roemer sorry, my bad - i think i actually fixed it in beta.13

https://sorry-cypress-demo-api.herokuapp.com/

[2021-09-23 13:20] vladkarasyov opened #456 "Doesn't show media when tests pass"
I ran the docker-compose -f docker-compose.minio.yaml file on my host (Ubuntu18.04)
All containers ran. And I can even go to the UI. I run the tests with cy2 run --record --key Test --parallel --ci-build-id date +% s --browser = chrome.
Everything comes to the UI and everything is fine, but there is a window with media nearby and it does not load. If you look at f12 you can see it. that no request

[2021-09-23 17:17] agoldis commented on #456
@vladkarasyov
1. Please use the template when opening an issue
2. By default cypress isn't recording videos for passed tests and from your description it isn't clear why you're expecting to see videos for passed tests

[2021-09-23 17:17] #456 closed

[2021-09-24 11:23] Arunk28 opened #457 "Notification for MS team Channel Support"
Hi I Have seen slack integration and hook integration
but Microsoft team support incoming hooks but it follows some rules
due to that i am getting 400 BAD request

[2021-09-24 14:10] vaibhavi789 opened #458 "Test run on dashboard for hours"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-09-24 14:13] vaibhavi789 commented on #458
platform: AWS

[2021-09-24 16:24] ImanMahmoudinasab commented on #457
@agoldis
To provide more details, here is some info you may found helpful:

[**Create and send messages**](https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/connectors-using)

an example of sending a message to the Team:
[code]
will send this message:
![ms team message](https://user-images.githubusercontent.com/5295554/134708215-5eaa80d3-765e-4093-827d-3727a1c

[2021-09-27 13:35] ImanMahmoudinasab commented on #401
I'm working on it and almost done.

[2021-09-28 07:58] agoldis commented on #401
@ImanMahmoudinasab did you join our slack? https://join.slack.com/t/sorry-cypress/shared_invite/zt-eis1h6jl-tJELaD7q9UGEhMP8WHJOaw

[2021-09-28 11:25] vaibhavi789 commented on #458
On the UI delete and reset is there. How I can remove the reset
<img width="222" alt="Screenshot 2021-09-28 at 12 21 32" src="https://user-images.githubusercontent.com/58173901/135077987-123fc35a-8725-443f-95ca-894bf17c58b9.png">
t.

[2021-09-29 04:07] ImanMahmoudinasab commented on #401
I started working on these items in the task list. 🎯

[2021-09-29 12:03] testingJava2 commented on #449
@aGRRRo,

Possible workaround(?) might be to directly send results to a project that does not exist, if that would get you covered in your use case.

This will simply create a new project with that name in your dashboard (NB - I did not try this on v2).

Alex

[2021-09-30 08:34] aGRRRo commented on #449
@testingJava2 Wow, it worked! Not sure when(or from which version) it started to work. However, this approach will create a project with default parameters so it will be great to get REST API functionality for this.

[2021-10-02 20:20] aneeshrelan commented on #332
Can I take a stab at enforcing conventional commit? I was thinking to add pre-commit hooks and checking using commitlint? Can add Github actions (should it be on a pull_request?)

[2021-10-02 20:21] aneeshrelan commented on #414
Is this still open? If you can add some more details on the work required here, I can try implementing this

[2021-10-04 11:41] karimould commented on #401
I opend a PR for the status badges

https://github.com/sorry-cypress/sorry-cypress/pull/461

[2021-10-04 15:55] romankhomitskyi opened #462 "Cannot read property 'production' of undefined using cy2"
## Summary

Cannot read property 'production' of undefined using cy2 on CI

## How to reproduce

## Relevant logs / screenshots

[code]

## Environment

- sorry-cypress version: `<1.3.0>`
- cypress version: `<8.4.1>`
- platform: `docker  | Git Lab`
- service: `director`

[2021-10-04 16:43] ImanMahmoudinasab commented on #401
Hey @karimould, thank you for your time and effort. As you can see on the list of tasks, I'm working on the Run Summary Component and unfortunately, I already implemented the chips.

You can join the slack channel for cypress 2 and there we talk about the latest state of implementation of each feature.

[2021-10-04 19:47] scottux commented on #457
Using postman I found that the body must contain a "Text" or "Summary" field. So a generic webhook isn't going to cut it.

[2021-10-04 19:48] mkonkolowicz commented on #457
Hi @agoldis , what level of priority is this feature set at? Wondering if we should do it our own way, or if it will be added soon?

[2021-10-05 13:43] scottux commented on #457
I have started to add this feature, starting with the dashboard to be able to edit and update the teams hook. I have a branch with the form and graphql updates. Next step is to make the payload when we trigger the hook. I will make a PR when I get it working fully.

[2021-10-05 16:13] ImanMahmoudinasab commented on #457
@scottux just a side note, please be in contact with @karimould as he may start migrating hooks view to MUI (#401) .
You can join the slack channel to send/get updates.

[2021-10-05 16:20] scottux commented on #457
Good to know! Thanks @ImanMahmoudinasab I will join the slack channel as soon as I get a chance.

[2021-10-05 16:40] agoldis commented on #332
@aneeshrelan sure! Please go ahead! Also take a look at release-it - seems quite handy

[2021-10-07 06:09] agoldis commented on #414
@aneeshrelan

New runs have CI information in request body, but we simple don't save it. It quite straightforward:
- Keep CI information in run entity when a run is created
- Updated schemas ang GQL queries to include CI data for `runsFeed` and `runSummary`
- Update the UI to show CI data

Here's an example of CI data:
[code]

[2021-10-08 14:48] bastienmoulia opened #467 "[V2] When the path and name of the spec file is too long, the table of spec is not well displayed"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-10-08 15:23] bastienmoulia opened #468 "[V2] Pending tests are not displayed when Hide successful specs is ON"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-10-10 04:36] ImanMahmoudinasab commented on #447
more details on #468

[2021-10-10 04:48] ImanMahmoudinasab commented on #408
This issue will be fixed by replacing the Bold-UI data table with MUI data grid.
I'm working on this and will address this issue.

[2021-10-10 04:54] ImanMahmoudinasab commented on #388
@agoldis, does the director record tags for specs on the DB? This is useful feature, and we need it too, also it is good idea to save browser name, version, screen size, ... as tags.

[2021-10-16 01:32] ImanMahmoudinasab opened #470 "[v2] data grid of spec list only shows first 100 specs"
## Summary

MUI data grid of spec list only shows first 100 specs

## How to reproduce

1. create 150 specs
2. run tests for them
3. go to spec list of the run and observe: you can only see first 100 items

## Environment

- sorry-cypress version: `2 beta16` on master branch
- cypress version: `8.x`

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read

[2021-10-16 02:05] ImanMahmoudinasab commented on #447
@agoldis oh you are right. I already fixed it to show pending, and in the new pr I'm showing running specs as well.

[2021-10-16 21:30] #470 closed

[2021-10-16 21:31] #447 closed

[2021-10-26 09:44] SoulKyu opened #473 "Uploading Screenshot to minio RELEASE.2021-10-06T23-36-31Z return Error: XML parse error"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-10-28 18:57] #473 closed, assigned to agoldis

[2021-10-30 07:10] binhpv commented on #435
Hi @agoldis , sorry I was too busy to follow up with your suggestion. I found out why it is happening: different git sha.
The problem is I don't know how to make it consistent, because when building the Pull request, Jenkins is merging the source to the target branch before building. This create a different SHA value everytime.
If I change Jenkins to build the source revision then it's fine. But t

[2021-11-05 09:31] #467 closed

[2021-11-05 09:55] bastienmoulia opened #475 "[V2] When a test fail, a retry from gitlab didn't stop the job"
## Summary

Sorry cypress don't failed when there is no new tests to run and there is one that already failed

## How to reproduce

1. Start the Job with E2E tests from the Gitlab pipeline (1 is failing)
2. At the end of the tests, i can see on Cypress dashboard that 1 test is failing and the Gitlab Job failed
3. On the Gitlab pipeline I Retry the job containing the test
4. At the end of the tests

[2021-11-06 17:03] guyguy333 opened #477 "Cannot read property 'collection' of undefined"
- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration) - for issues related to Screenshots / Vid

[2021-11-06 20:16] agoldis commented on #477
Resolved in v2+ would you mind please upgrading to the latest?

[2021-11-07 11:52] guyguy333 commented on #477
Thanks @agoldis. We're currently using sorry-cypress (and it works very well, thanks !) in production. Is 2.0 beta stable enough ?

[2021-11-08 07:29] agoldis commented on #477
It is stable, even though there are some changes that can affect browsing runs created from older versions. It is beta because the UI wasn't fully migrated to new framework.

https://github.com/sorry-cypress/sorry-cypress/pull/427

[2021-11-08 08:20] agoldis opened #481 "[UI] V2 Creating / deleting a project requires a refresh"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-11-08 10:50] andytson-inviqa opened #482 "Support custom S3 endpoint for services that are fully compatible with aws-sdk S3"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

Supporting custom S3 endpoint for services that are fully compatible with aws-sdk S3, such as Digital Ocean

## Why is it needed? What is the value? For whom do we build it?

So that it's possible to only use the aws-sdk to use these services

## High-level feature overview

Expose the aws-sdk S3

[2021-11-08 15:03] maxfriedmann opened #484 "Nx Executor"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
A cypress test executor for Nx (nx.dev, awesome workspace tool) which replaces the default cypress runner.

## Why is it needed? What is the value? For whom do we build it?
Nx adds various features to cypress testing such as "only test projects that were affected by your code changes", "build/test

[2021-11-08 18:09] #481 closed

[2021-11-08 18:11] agoldis commented on #482
@andytson-inviqa  Did you consider using minio?

[2021-11-08 18:59] andytson commented on #482
aws-sdk s3 endpoint is going to be much better to do it than run an additional service that consumes additional resources @agoldis

[2021-11-08 19:01] andytson commented on #482
I've had a look through the code though since I wrote this ticket. It seems sorry-cypress uses signed url to post the uploads, rather than using the sdk to upload. Without the latter, this wont work as signed urls aren't part of Digital Ocean's api

[2021-11-08 19:04] andytson commented on #482
that's unless that's what aws-sdk does internally for the upload

[2021-11-08 19:06] agoldis commented on #482
I imagine it isn't an just SDK internal thing, the upload request goes
directly to S3, it needs to verify the signatures somehow.

On Mon, 8 Nov 2021 at 11:04, Andy Thompson ***@***.***> wrote:

[2021-11-08 19:39] andytson commented on #482
I've tested the s3.getSignedUrl() against Digital Ocean Spaces, and curl posted a file to it, and it works correctly so ignore my last two comments.

Just supporting a custom endpoint is enough for this to work.

[2021-11-08 19:51] agoldis commented on #482
What variables would you need to have to override the URLs? https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/screenshots/s3/s3.ts
May be you can provide a short snippet of your test - that can help me.

[2021-11-08 19:56] andytson commented on #482
[code]

[2021-11-10 13:15] maxfriedmann commented on #362
@mathpaquette can you share how you are using sorry-cypress within an nx workspace? I created https://github.com/sorry-cypress/sorry-cypress/issues/484 and am very interested in your solution.

[2021-11-11 09:00] vladtkachuk opened #487 "Add possibility to specify base path via env var for dashboard"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

Base path should be runtime configurable via the *env variable*.

## Why is it needed? What is the value? For whom do we build it?

If one wants to expose the dashboard not on the domain root but let's say at `my-domain.com/sorry-cypress/dashboard` the dashboard will try to load the resources fro

[2021-11-11 13:29] guyguy333 commented on #477
Indeed, update was smooth. I will close the issue and reopen if the issue remains. Thanks

[2021-11-11 13:29] #477 closed

[2021-11-12 15:00] miniskurken opened #488 "app.yml seems to revert production url when running in parallel"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem

## Summary

**Sorry cypress does:**
When running the test suites in parallel as specified in the documentation. First run the app.yml located as found by DEBUG=cy*

[2021-11-12 15:17] maxfriedmann commented on #484
My current workaround is to manipulate the CYPRESS_API_URL as described here: https://docs.sorry-cypress.dev/cypress-agent/cli-one-liners

[2021-11-12 15:24] miniskurken commented on #488
Found the solution nothing wrong with the code.

[2021-11-12 15:24] #488 closed

[2021-11-14 09:35] #401 closed

[2021-11-14 13:49] ImanMahmoudinasab commented on #408
@agoldis This issue can be closed.

[2021-11-14 15:43] ImanMahmoudinasab commented on #5
@agoldis and others. I can see many people have interest on this feature. I think using [Passport.js](https://github.com/jaredhanson/passport) it is not too hard to implement the feature.

[2021-11-15 04:07] ImanMahmoudinasab opened #491 "Incorrect stats after reseting specs test result"
- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration) - for issues related to Screenshots / Vid

[2021-11-15 08:00] #491 closed

[2021-11-15 13:55] pitthecat commented on #402
We are having the same problem. Our setup is 100% internal on AWS.

- Private VPC (Connected via VPN to company)
- DocumentDB for persistence
- ECS Fargate service with API, Dashboard and Director (all latest images (v2.0.0-beta.16) from docker.io)
- Private S3 bucket (Block all public access)

Every upload of a video/screenshot fails to the S3 bucket. The ECS task role has full access to the buck

[2021-11-16 04:59] agoldis commented on #402
@pitthecat
Cypress agents upload screenshots directly to S3. If your bucket is completely private, then cypress agent won't be able to create new objects.

[2021-11-16 05:00] #402 closed

[2021-11-16 05:00] agoldis commented on #408
Resolved in v2

[2021-11-16 05:00] #408 closed

[2021-11-16 05:01] agoldis commented on #90
Resolved in v2

[2021-11-16 05:01] #90 closed

[2021-11-16 05:04] agoldis commented on #391
Sorry @xrow no one was able to tackle that issue for you. If you discovered a solution, please share, otherwise I will mark the issue as closed.

[2021-11-16 05:07] agoldis commented on #458
We mark the whole run as timed out, please disregard test duration for timed out run.

[2021-11-16 05:07] #458 closed

[2021-11-16 05:15] agoldis commented on #449
BTW, you can set `INACTIVITY_TIMEOUT_SECONDS` in director for overriding the default timeout

[2021-11-16 08:38] xrow commented on #391
Hi my solution is mentioned above

[2021-11-16 09:06] agoldis commented on #391
@xrow I mean creating a PR with appropriate configuration. Thank you.

[2021-11-16 09:06] #391 closed

[2021-11-16 12:28] vaibhavi789 commented on #458
Means, I didn't get.
What I have to do? To stop the run on dashboard

On Tue, 16 Nov 2021, 05:07 Andrew Goldis, ***@***.***> wrote:

[2021-11-19 18:39] agoldis commented on #484
Please use https://github.com/currents-dev/currents-nx, with `cypressApiUrl` option like this:
[code]

[2021-11-19 18:39] #484 closed

[2021-11-20 13:09] mathpaquette commented on #362
@maxfriedmann sorry for the late reply... I just realized this new message... Anyways.
The best way I found was to create for each e2e projects a new configuration entry for sorry-cypress. In our case, we support 2 different suites (continuous integration and post-deploy) and they have their own files so we create 2 distinct entries but it doesn't matter much how you implement it.

Quick config ex

[2021-11-25 17:26] vinod-demansol opened #497 "[Cucumber scenario failures] S3 bucket Videos are not displaying in dashboard"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [ ] I have searched issues / discussions and found to answer to my problem
- [ ] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-11-26 15:23] mwamufiya opened #498 "Feature Request: Add a project level setting for how many jobs to maintain before deleting old ones."
- [ X ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Adding a project settings to control how many jobs to keep before deleting old ones

## Why is it needed? What is the value? For whom do we build it?

- when used in a CI environment, where jobs run every 'x' minutes or hours, the number of jobs in the dashboard starts to pile up.
- currently th

[2021-11-27 19:48] agoldis commented on #497
@vinod-demansol
- Are you seeing cypress agents uploading videos?
- Are you seeing errors in browser network tab?
- What's happening when you are trying to access the video file directly in a browser, not via dashboard?

[2021-12-06 15:31] YossiSaadi opened #499 "cy2 runner in github actions, similar to existing cypress one"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Have the same api, and even more powerful, to the one that cypress supply in theirs cypress' github actions' hook

## Why is it needed? What is the value? For whom do we build it?
To be able to run more easily using github actions, maybe also to be able to run multiple instances on same GHA machin

[2021-12-06 19:13] tchiaspko commented on #499
👍

[2021-12-07 20:45] agoldis commented on #499
check out https://github.com/currents-dev/gh-actions-example/blob/main/.github/workflows/currents.yml#L23
you can replace `currents` with `cy2`

[2021-12-07 21:31] YossiSaadi commented on #499
Awesome! Thanks @agoldis !!

[2021-12-09 11:17] nazarewk opened #502 "`BSONObjectTooLarge` in director logs"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2021-12-09 18:58] agoldis commented on #502
Thanks for reporting that! The issue was resolved in v2 if you have a chance, please upgrade

[2021-12-09 22:45] fsmaia commented on #228
This bug is happening again in 2.0.0-beta.16.

At this time the URL works fine, but the sidebar links are broken (both `Latest runs` and `Project settings` buttons).

It is probably encoding this URL and replacing `/` with `%2F`.

Expected:
[code]

Actual sidebar link:
[code]

[2021-12-09 22:56] fsmaia commented on #228
Doing some investigation:
- the `projectId` is properly set in the database, and the API application (GraphQL) brings it correctly too
- once the projects are loaded with `useGetProjectsQuery` there is no additional transformation (just some `decodeURIComponent` along the code, which shows evidence of the unwanted encoding bug)
- the `useGetProjectsQuery` hook seems to be correct too (both the que

[2021-12-10 04:27] khokhariya30oct opened #504 "How we can customise the order of test suits execution"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Well, basically this feature is about test suits that are dependent on one other.
## Why is it needed? What is the value? For whom do we build it?
Sometimes it is required to make dependency on other test suit execution. Like executing test suit 1 store some data to the `cy.task`
and once it finis

[2021-12-10 18:24] #228 closed

[2021-12-10 18:25] agoldis commented on #504
Unfortunately it's not supported in cypress, I would recommend to merge the dependent tests in a single test suite.

[2021-12-10 18:25] #504 closed

[2021-12-13 08:37] #502 closed

[2021-12-13 08:37] #499 closed

[2021-12-13 14:19] KyleThenTR opened #508 "Feature Request: Add ability to set default timeout when new projects are created"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Currently, when we upgrade versions of sorry cypress, it takes down the ECS tasks so previous project settings are lost. When the project is created, the timeout is generated automatically at 3 minutes and have to remember to go in and set this to 30 minutes.

## Why is it needed? What is the valu

[2021-12-19 17:42] YossiSaadi commented on #5
Any chance you can elaborate on what URI you used on Google's OAuth2? I've implemented IAP with load balancer and all other needed configuration, but if I use the URI supplied by Google I get access denied for all the organization, with no email eligible.

[2021-12-19 21:19] maxfriedmann commented on #484
Works like a charme!!!

[2021-12-21 13:13] bastienmoulia opened #514 "Feature Request: Add button to reset all failed spec file at once"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

Adding an option to reset all failed spec file in one click.

## Why is it needed? What is the value? For whom do we build it?

When there is failed test due to memory issue (or other), I would like to reset all test in one click instead of having to reset them one by one.

Maybe with a button on

[2021-12-22 08:31] TomaszG commented on #498
That would be useful! As a low hanging fruit dashboard could offer an option to delete run older than X on demand. Currently I'm using the following script to delete everything older than week (I'm not really familiar with MongoDB so there's a chance that there's a better way to achieve the same):

[code]

[2021-12-22 08:35] TomaszG commented on #5
FYI, this can be currently achieved also with an ouath2 proxy, e.g. https://github.com/oauth2-proxy/oauth2-proxy

[2021-12-23 06:45] tbhi commented on #316
To clarify, is the request to specify the order manually or to have sorry cypress try and optimize for minimum run time?

[2021-12-23 17:49] manojmohangit commented on #439
I was also facing same issue. The main issue is with the command where CYPRESS_API_URL are modified. There should not be any quotes around http://localhost:1234/ as mentioned in docs.

[2021-12-26 07:12] #497 closed

[2021-12-29 11:47] maxfriedmann commented on #197
@ChristianPe we're running into the exact same issue, I even didn't realize that for a week now. Did you eventually get this fixed? https://gitlab.com/gitlab-org/gitlab/-/issues/27589 is not progressing at all unfortunately...

[2022-01-05 12:21] Arunk28 opened #518 "Need to add more filters"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
I want to filter out all the failed or passed test run  and date range [today,yest,thiswk,custom .... etc]
currently not possible in currents
## Why is it needed? What is the value? For whom do we build it?
because it is easy to filter out the pass or fail And Date wise filter
## High-level featur

[2022-01-05 18:19] dc185334 commented on #46
Thank you, guys. You doing great feature implementation for GCP. Did anyone do something to get into GCP Cloud Logging? If not, I would be glad to participate also on this part contribution.

As I see we can have some hooks also to store logging to the GCP CL instead of Web Panel over MongoDB.

[2022-01-06 00:10] dzzk commented on #46
Thank you, guys. You doing great feature implementation for GCP. Did anyone do something to get into GCP Cloud Logging? If not, I would be glad to participate also on this part contribution.

As I see we can have some hooks also to store logging to the GCP CL instead of Web Panel over MongoDB.

[2022-01-06 07:36] agoldis commented on #46
Hi @dzzk thanks for suggesting your help. I am not very familiar with GCP internals and only implemented the bare minimum for the setup. Please go ahead and propose the changes to the setup that you consider useful

[2022-01-06 07:39] agoldis commented on #518
Thanks for your request @Arunk28, this repository is for OSS free, self-hosted version of sorry-cypress, I am closing that issue and moving it into internal workflow for the paid version (currents.dev)

[2022-01-06 07:39] #518 closed

[2022-01-08 06:42] mmtmohit opened #519 "Screenshots uploaded to AWS S3 have wrong Content-Type , hence Chrome downloads image instead of displaying inline"
## Summary

The content type metadata of uploaded screenshot images is 'binary/octet-stream' (as seen in Management Console) while It should be 'image/png' so that when I click on image displayed inline to the failed test on the dashboard , browser can open/display inline in same/new tab instead. of force download.

I checked the logs of director service and can see the upload url has query param

[2022-01-18 03:01] Aeolun commented on #197
@maxfriedmann What we do is have each test generate a file (in this case code coverage), and if that file does not exist after execution (e.g. zero cases were executed), we fail the test.

[2022-01-18 14:47] Roemer opened #524 "Fix security issue CVE-2021-3918"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
The used version of `json-schema` (`0.2.3`) has a major security issue (https://nvd.nist.gov/vuln/detail/CVE-2021-3918) and should be updated.

## Why is it needed? What is the value? For whom do we build it?
Well, for security ;)

## High-level feature overview
The most recent version of `json-sc

[2022-01-18 15:26] Roemer opened #525 "Fix security issue CVE-2021-23406"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
`pac-resolver` in the used version (`4.2.0`) has a major securiy issue which should be fixed by updating it to `5.0.0`: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23406

## Why is it needed? What is the value? For whom do we build it?
Security :)

## High-level feature overview
The `p

[2022-01-18 16:02] Roemer opened #526 "Add vscode dev-container definition"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
VSCode allows using Docker containers (either on Linux or in WSL/WSL2) to be used as development environment and this makes getting into a project and contributing a lot easier.

## Why is it needed? What is the value? For whom do we build it?
Having the specification of a dev-container ready allo

[2022-01-24 07:42] itsthefrits commented on #437
+1 on this. It would be great to send to different channels. Alternatively, it would be very nice to be able to add in the project title as specified in the dashboard to the message posted.

[2022-01-25 15:50] pedromateo commented on #316
I think "minimum run time" could be easily implemented by executing first those specs having a higher avg. duration; this data is already available in sorry-cypress DB. That way both "alphabetical order" (current) and "minimum runtime" options will be provided to users.
I also see this feature critical to make the most of our CIs.
@tbhi @natumkur

[2022-01-29 06:50] #526 closed

[2022-01-29 08:55] agoldis commented on #524
Resolved in https://github.com/sorry-cypress/sorry-cypress/releases/tag/v2.1.0

[2022-01-29 08:55] #524 closed

[2022-01-29 08:55] agoldis commented on #525
https://github.com/sorry-cypress/sorry-cypress/releases/tag/v2.1.0

[2022-01-29 08:55] #525 closed

[2022-02-04 11:49] tbhi opened #533 "inactivity timeout functionality"
- [/] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

Bring back https://docs.sorry-cypress.dev/concepts/inactivity-timeout

## Why is it needed? What is the value? For whom do we build it?

The use cases specified in the document still appear valid and the global run timeout does not seem as good, e.g. a failed worker fails the whole test run only

[2022-02-04 17:39] phoenix-bjoern commented on #352
In case you use the Helm chart, you can set the policy for the bucket to "download" on the first deployment:

[code]

To protect the downloads you could set some IP whitelisting or BasicAuth to the minio ingress:

[code]

[2022-02-05 07:43] agoldis commented on #533
Thanks for opening that issue @tbhi

Inactivity timeout was looking promising, I can't remember what other reason resulted in replacing inactivity timeout, it was some edge case that I cannot remember now.

I am open to bring it back, but I need help with planning and implementing it.

Specifically, in context of:

- enumerating all the use cases
- consider multiple run groups within a run
- trigg

[2022-02-05 07:52] agoldis opened #534 "Failed GH post request crashes director service"
## How to reproduce

Add non-existing URL as GH integration, create a run
See the director crashing

[2022-02-05 07:56] agoldis commented on #519
@mmtmohit Seems like that's an intended behaviour
@ImanMahmoudinasab what do you think?

[2022-02-05 07:57] #534 closed

[2022-02-05 08:12] agoldis commented on #519
Seems like cypress doesn't provide `content-type` when uploading files: https://github.com/cypress-io/cypress/blob/1ff7839a19a5dd4a4891a0e46263183d06d66849/packages/server/lib/upload.js#L9

The singed upload URL contains `content-type` though... any ideas?

[2022-02-10 12:10] MDjhowley commented on #508
Isn't that this: `INACTIVITY_TIMEOUT_SECONDS`?

See: https://docs.sorry-cypress.dev/configuration/director-configuration#common-configuration

[2022-02-15 02:11] fhperuchi opened #536 "Sorry Cypress error: "Something went wrong while loading the project list. Unexpected token < in JSON at position 0""
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [ ] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-02-15 08:52] agoldis commented on #536
Please share the reponses from dashboard's network tab - the response is likely to be corrupted due to API service failure or misconfiguration

[2022-02-15 16:13] fhperuchi commented on #536
I've fixed that setting the `dashboard.environmentVariables.graphQlSchemaUrl`:

![image](https://user-images.githubusercontent.com/4641123/154102305-eaf0a3c1-dee0-4848-a018-c3e203d40172.png)

Thank you @agoldis !

[2022-02-15 16:13] #536 closed

[2022-02-17 16:55] alexniculae opened #538 "Programmatically Reset a test that did not fully run"
- [X] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Ability to programmatically Reset a test that did not fully run.

## Why is it needed? What is the value? For whom do we build it?
E.g. when a job fails because of reasons such as a the runner disconnected, memory issues, etc

## High-level feature overview
Either an Http request to allow to pick

[2022-02-18 17:13] alexniculae commented on #534
@agoldis, did you ever see such a thing happening with GitLab integration as well?

I see some issues memory some times that cause my process to terminate with an error, when I have a high number of tests running, and I am not really sure where it's coming from.

Could it be related in any way, are you able to do some tests on your end with a GitLab to rule this out?

[2022-02-21 08:26] agoldis commented on #534
@alexniculae this ticket is about status check updates to github, we don't have such kind of integration with GitLab.
If you're able to capture those errors and share with I'd be happy to help troubleshooting.

[2022-02-23 16:18] Zaista opened #539 "Fullscreen video playback"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Fullscreen video playback

## Why is it needed? What is the value? For whom do we build it?
Video playback area is quite small, even if you hide both collapsible menus. If you have a lot of content on your website it get's hard to review videos.

## High-level feature overview
Add button for fulls

[2022-02-24 07:58] raftx24 opened #540 "sometimes parallel is not working"
Hey.
I'm using sorry-cypress with 10 parallel machines. sometimes it cannot detect parallel runs and sorry-cypress tries to run them independently(although they have the same ci-build-id!). I checked also the start time, they are very close to each other(about one minute difference)
![image](https://user-images.githubusercontent.com/10864136/155482291-0ef8cbd7-3f6f-41f8-a297-15ca15a261b2.png)

[2022-02-24 07:59] agoldis commented on #540
Please use the issues template and provide more details

[2022-02-24 07:59] #540 closed

[2022-02-24 08:33] raftx24 opened #541 "Parallel is not working"
Please note - issues that are not following the template will be closed automatically:

- [ x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurat

[2022-02-28 08:53] agoldis commented on #541
@raftx24 based on past experience, you might not have mongodb indexes initialized can you please make sure the indexes are defined as in https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/mongo/src/db.ts#L73

[2022-02-28 14:24] romankhomitskyi opened #543 "Director service skips one spec file"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-02-28 14:28] Upgreydd opened #544 "GraphQL Cannot return null for non-nullable field RunMeta.ciBuildId."
## Summary

When listing one of projects I'm receiving error `Cannot return null for non-nullable field RunMeta.ciBuildId.` second project is fine.

## Environment

- sorry-cypress version: `2.1`
- platform: `docker`
- service: `all`

[2022-03-02 10:24] alexniculae commented on #538
To share some details on this, I'm using GitLab CI, not sure if the integration exists with other platforms, but if it does it'd be great if we could also support GitLab 🙂

[2022-03-02 10:29] alexniculae commented on #534
Thanks @agoldis; seems that this is most likely related to Cypress itself thought, and problems with uploading artifacts to the dashboard and/or issues with Electron and its limitations

- https://github.com/cypress-io/cypress/issues/17627
- https://github.com/cypress-io/cypress/issues/18413

I updated Issue #538, maybe that would allow us to work around this issue by
- relaunching the pipeline an

[2022-03-02 10:31] alexniculae commented on #539
@Zaista, as a workaround until this is delivered (if it even make sense to be delivered)
- right click on the video while playing and
- click **Show all controls** from the options list

This will allow you to interact better with the player, download the video, etc.

[2022-03-02 21:22] adrienharnay opened #545 "Currents is not working with yarn 3"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-02 21:26] agoldis commented on #545
@adrienharnay thanks for reporting that, on it!

[2022-03-02 21:34] agoldis commented on #545
Duplicate of https://github.com/currents-dev/cli/issues/3

[2022-03-02 21:34] #545 closed

[2022-03-02 22:11] adrienharnay commented on #545
Thank you! Sorry I was not sure where to post the issue since this repository seemed to have more traction than the other one.

Please let me know if I can do anything to help!

[2022-03-03 06:33] #541 closed

[2022-03-03 06:35] agoldis commented on #544
There's a corrupted run in your database, that's very uncommon. I suggest just deleting the corrupted run...

Do you have any idea how a run without `run.meta.ciBuildId` was created ?

[2022-03-03 06:39] agoldis commented on #543
@romankhomitskyi does this issue occur all the time or intermittent? I just tried and could not reproduce it.
How many parallel cypress runners are you using?

[2022-03-03 06:44] romankhomitskyi commented on #543
This issue occurs all the time
I use 9 parallel cypress runners in one container
Hovewer it occurs even when I do not run tests in parallel

[2022-03-03 06:49] romankhomitskyi commented on #543
Long time ago I used full setup, then I decided to use only director service
I deleted all mongo db data from project and do not use any others services any more

My CI for each pipeline creates a brand new services (clear environment) unfortunately issue is still there

[2022-03-03 07:19] romankhomitskyi commented on #543
<img width="132" alt="Screenshot 2022-03-03 at 09 18 49" src="https://user-images.githubusercontent.com/57874507/156515649-34969655-3020-48d2-8839-4cd55e02d0d5.png">

[2022-03-08 07:59] TomaszG commented on #475
It's because the director service considers this spec as already executed, so it doesn't send it to any runner with the same ci-build-id. Otherwise, other workers/test runners would constantly retry the failed tests.

The workaround for this is to reset the failed spec file from the dashboard and then retry the job - the failed spec is then considered ready to run and will be picked up by the retr

[2022-03-08 08:02] agoldis commented on #475
Check out the last note on https://currents.dev/readme/concepts/cypress-ci-build-id#how-retrying-a-build-affects-ci-build-id

[2022-03-08 08:06] TomaszG commented on #475
@bastienmoulia @agoldis for GitLab you can vote for https://gitlab.com/gitlab-org/gitlab/-/issues/195618

With such a variable, the director service could have a function to register what jobs are initial workers for the test run and differentiate them from the retried jobs where failed tests could be re-run.

[2022-03-09 13:44] rohit-gohri commented on #482
I tested my PR #546 with GCS and it doesn't work due to this error:
[code]
Would you be open to adding GCS specific code to support a cloud storage bucket? (related to #46)

[2022-03-09 18:35] SnehithaN opened #547 "How can I use this feature"
- [ ] I have searched issues for similar feature requests

## What is this feature about (1 sentence)

## Why is it needed? What is the value? For whom do we build it?

## High-level feature overview

## Should I clone the sorry-cypress repo in order to get it working with my cypress framework or just adding cy2 is fine?

[2022-03-09 18:36] #547 closed

[2022-03-09 18:40] SnehithaN opened #548 "Cy2 is running on cypress-dashboard not on sorry-cypress dashborad"
Hi, I am new to Sorry-cypress. I set docker image for sorry-cypress then added cy2 to my framework and set CYPRESS_API_URL to http://localhost:1234/" using 'set CYPRESS_API_URL="http://localhost:1234/"' but when I ran the tests they are still pointing to cypress-dashboard.
![image](https://user-images.githubusercontent.com/8208393/157509153-d028a42b-4772-48e0-8344-85b41e226d93.png).
Can anyone hel

[2022-03-09 19:45] agoldis commented on #548
The environment variable is not available for some reason, please try running. Also, please follow issue template

[code]

[2022-03-09 19:45] #548 closed

[2022-03-09 21:02] SnehithaN commented on #548
@agoldis , I tried that too, even that is not working, I am getting below error.
![image](https://user-images.githubusercontent.com/8208393/157535420-eb1a87dc-4a5b-407f-bb98-b6b320454d09.png)

[2022-03-09 23:44] Liam-Deacon opened #549 "Dashboard cannot contact GRAPHQL_SCHEMA_URL when set to something other than http://localhost:4000"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found no answer to my problem
- [ ] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-10 07:35] agoldis commented on #549
`sorrycypress.e2e.testing`  should be accessible from your browser - the browser communicates with API service directly.
nginx "injects" environment variables into the bundled response. That's kind of "by design" - there's nothing in "dashboard" service actually.

What was your expectation?

[2022-03-10 09:09] Liam-Deacon commented on #549
Hi @agoldis - Thanks for getting back to me so quickly and confirming the behaviour 👍 . It may be a quirk of my local environment which uses Docker Desktop on Windows with WSL2. I probably need to use something like [DNS Proxy Server](https://mageddo.github.io/dns-proxy-server/latest/en/1-getting-started/running-it/#running-on-windows).

I'll close this ticket as I think its likely environment rel

[2022-03-10 09:09] #549 closed

[2022-03-10 17:48] romankhomitskyi commented on #543
Ok, it skips the first spec all the time
I do not have this issue when running tests without `--parallel --record --key somekey1`

[2022-03-10 19:16] romankhomitskyi commented on #543
Hmm now I don't think it skips spec, I see the first spec in report
I can confirm that it's just visual confusing starting run from 2 spec
It has no affect on spec run itself

[2022-03-12 08:25] agoldis commented on #543
@romankhomitskyi "starting run from 2 spec" do you mean from the 2nd spec?

[2022-03-12 08:40] romankhomitskyi commented on #543
I meant,  it shows running 2 of 90,  however it should be 1 of 90

[2022-03-14 16:33] tchiaspko opened #550 "Run Results Filtering is not working"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-17 12:35] davidcorbin opened #551 "We encountered an unexpected error talking to our servers. StatusCodeError: 400 - "Must provide query string.""
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-18 15:46] DanielleCogs commented on #74
@weyert any new ideas on Azure Storage use? Started going through the setup for MinIO Azure Gateway but looks like they will stop supporting it soon [(related MinIO issue)](https://github.com/minio/minio/issues/14331).

[2022-03-18 17:34] weyert commented on #74
@DanielleCogs Sorry, I stopped using Cypress

[2022-03-19 19:24] Fryuni commented on #543
This seems related to the problem we are experiencing. We created a workflow that start 25 machines to run our tests in parallel. The tests are being executed and reported properly, but most of the time one of the specs, seemingly at random, doesn't even start.

We've checked the logs on all the VMs multiple times and the spec is simply not assigned to any of them
![image](https://user-images.gith

[2022-03-20 07:11] agoldis commented on #544
@Upgreydd

[2022-03-20 07:25] agoldis commented on #551
@davidcorbin Are you using director service as `CYPRESS_API_URL`? That's a bit confusing probably, but you're supposed to use director service and not api.

[2022-03-20 07:29] agoldis commented on #543
@Fryuni it is a different issue - you're using a different driver and groups. Is seems like there's some kind of race condition that breaks parallelization when using groups.

[2022-03-21 12:48] Fryuni commented on #543
I'll collect the logs from SC and cy2 as soon as I have time and open a new issue then

[2022-03-21 12:52] marcospassos commented on #543
@agoldis, this issue is blocking us from using Sorry Cypress – every run fails. It became more critical once we grew our number of tests. Do you have any clue where we should start looking for the issue? The problem is probably related to the director, but any guess which path can be causing the issue?

[2022-03-21 15:40] #551 closed

[2022-03-21 17:10] marcospassos commented on #543
It's also broken on currents.dev:
<img width="1113" alt="image" src="https://user-images.githubusercontent.com/943036/159326891-4d048101-2c75-4153-b66b-363ca301f782.png">

We're opening a PR with more details.

[2022-03-21 17:19] agoldis commented on #543
@marcospassos Currents implementation is a bit different from sorry-cypress, it is optimized for higher scale and uses redis, while sorry-cypress uses mongo.

There's some material available here for timeouts: https://currents.dev/readme/runs/run-timeouts

---

@marcospassos are you also experiencing issues when parallelizing grouped tests?

In general, it'd be great to see the logs from director

[2022-03-21 18:14] Fryuni opened #552 "Specs on parallel tests not being assigned to any machine"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-21 18:17] Fryuni commented on #552
Any recommendations on how to post the logs? They are too long for GH and for Pastebin (800KiB)

[2022-03-21 18:20] agoldis commented on #552
@Fryuni please also take a look here: https://currents.dev/readme/runs/run-timeouts#ci-shows-that-a-run-is-successful-but-it-has-timed-out-in-dashboard-why

Seems like the spec files started their execution, but never reported the results back.

[2022-03-21 18:23] Fryuni commented on #552
We have checked that already, as I mentioned in the description the executable (be it cy2 or currents) is completing successfully, the remainder of our script that runs _after_ those is also executing.

When a worker starts executing a test it logs that and also includes that file on the final report before it executes, no workers reported the result of those files not logged anything about them.

[2022-03-21 18:30] agoldis commented on #552
In that case the logs should have a incoming request to update instance results:
- find the instanceId associated with idle spec files
- find the incoming POST request `POST /instance/<id>/results`
- examine the logs for errors / logs / traces

[2022-03-22 08:37] id-dan opened #553 "Please join to us #standwithukraine"
Please support Ukraine, more infos here: https://github.com/vshymanskyy/StandWithUkraine

[2022-03-22 12:24] jtrivino95 opened #555 "Skipped tests not being shown on dashboard"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-03-23 14:30] Fryuni commented on #552
We found out that there was a very narrow edge case on the combination of our NGINX setup, one of our cypress plugins and cypress itself that caused this problem to happen with no error message.

Thanks for all the help @agoldis

[2022-03-23 14:30] #552 closed

[2022-03-28 04:50] kangeroo-gong commented on #555
I also found this problem and solved it myself
<img width="1192" alt="image" src="https://user-images.githubusercontent.com/22929765/160328070-fd41be97-f749-43d1-9e0f-065adc303d3d.png">
<img width="1190" alt="image" src="https://user-images.githubusercontent.com/22929765/160328278-a2a597bf-5889-44d9-9c4f-52769ea54c0f.png">

[2022-03-28 05:30] agoldis commented on #555
When you say skipped - do you mean skipped according to https://glebbahmutov.com/blog/cypress-test-statuses/?

[2022-03-28 23:07] alprotasov commented on #154
MINIO_ENDPOINT should be without https, like this:
      MINIO_ENDPOINT: '<youIP>'

[2022-03-29 11:24] luischq commented on #555
Hi I work with @jtrivino95, yes, exactly those are tests we meant to run but they did not because of some runtime issue with beforeEach() or something like that.

[2022-03-29 13:45] jtrivino95 commented on #555
I tried with the code change @kangeroo-gong suggested and indeed it solved (partially) the issue.
Cypress log meets Dashboard log
![image](https://user-images.githubusercontent.com/18642152/160625162-aef708dc-8766-4a07-b783-60ddb111d977.png)
![image](https://user-images.githubusercontent.com/18642152/160625220-5ebb6382-3ef5-44e8-9b00-1303a824b419.png)

But from outside still doesn't log skipped te

[2022-03-29 17:41] toonvd opened #558 "Less or encrypted data in instances collection"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Less or encrypted data in instances collection for more security.

## Why is it needed? What is the value? For whom do we build it?
When trying to fill for example usernames and passwords in a field or making calls to an API, credentials that belong to this API are exposed (raw) in the instances c

[2022-03-30 03:11] kangeroo-gong commented on #555
Maybe you haven't applied all my changes. Outside log skipped tests in my project. @jtrivino95
![image](https://user-images.githubusercontent.com/22929765/160739587-4e3cdcdb-610b-4f17-9586-9bf3f7730304.png)

[2022-03-30 08:52] jtrivino95 commented on #555
True, I forgot to update runSummaryTestResults. Thanks.

[2022-03-31 17:26] id-dan commented on #553
@agoldis pls have a look on it

[2022-04-01 06:04] #553 closed

[2022-04-04 13:27] PaulLesur opened #560 "Support Slack Apps for webhooks"
- [x] I have searched issues for similar feature requests

## What is this feature about (1 sentence)
Support Slack Apps webhooks.

## Why is it needed? What is the value? For whom do we build it?
Only legacy webhooks are supported to have tests results in Slack. Slack is deprecating these webhooks. You cannot set `icon_url` and `username` when using a Slack app's webhook.

## High-level feature o

[2022-04-06 06:36] agoldis commented on #560
@PaulLesur Thanks for reporting that! Are you seeing requests failing because of `icon_url` and `username`?

Also, that would also require providing creating a custom Slack application for each installation + storing and using its details.

[2022-04-06 06:38] agoldis commented on #558
Thanks for open this request @toonvd. The system, in overall is quite open - there's no authentication etc.

The motivation is to keep the setup process as simple as possible - it is already somewhat convoluted. If you have an effective solution for implementing those requirements, please share.

[2022-04-06 09:24] toonvd commented on #558
Hi @agoldis

To be clear, this is a security issue, saving potentially private data without encryption in a DB is always dangerous.
The test payload is a JSON object, one could add logic to alter this object to at least remove the ENV key.
(maybe in the model? https://github.com/sorry-cypress/sorry-cypress/blob/master/packages/director/src/execution/mongo/instances/instance.model.ts#L50)
A second

[2022-04-06 14:11] vaibhavi789 commented on #60
I have ecs fargate cluster on private subnet and i need to delete the older run How and where i can run the script to delete the older run will work?

[2022-04-07 05:05] namnhcntt commented on #423
I faced the same issue. I have a traefik proxy and minio service is behind this. My public domain is https://cypress-storage.xxx.com (access from internet), but when run cypress agent, the director service return address is http://storage:9000, and the uploading failed.

Can we have any solution for public and access minio storage behind proxy?
Thanks

[2022-04-07 05:25] agoldis commented on #60
@vaibhavi789 spin a new EC2 instance within the subnet

[2022-04-07 05:29] agoldis commented on #558
@toonvd seems like you've figured that out, now we are one step closer to a PR!

[2022-04-07 05:34] agoldis commented on #423
@namnhcntt Please refer to https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration#caveats-of-using-minio

Specifically,

Director and cypress agents have to use the same hostname to access minio
Director and cypress should be able to access minio service using the hostname and port you've defined

[2022-04-07 17:03] namnhcntt commented on #423
Thanks, After some hours for trying, I configured success.

[2022-04-11 16:41] t00 commented on #316
What would also help is to have new and recently failed tests executed before recently passed tests, both also ordered by the average time to finish. Average duration should be stored per project per test name and recalculated every build with the current duration test so it won't deviate too far and the latest test will have equal weight as the previous average - to quickly adjust run time after

[2022-04-19 14:29] #508 closed

[2022-04-20 00:04] samgreen-spp commented on #541
For anyone that may come across this issue using Bitbucket and AWS we found our solution here https://github.com/sorry-cypress/sorry-cypress/issues/371

Essentially we just had to stop the sorry-cypress task in ECS which created the correct indexes.

Thanks for all of your efforts with sorry-cypress! :)

[2022-04-20 00:13] raftx24 commented on #541
#542 solved the issue completely.

[2022-04-20 07:48] MDjhowley commented on #560
I'm not sure this is a problem.  It is true that slack is deprecating incoming webhooks and that this needs to be replaced with a slack app but you can just create a custom slack app for this purpose in your workgroup.

Follow https://api.slack.com/messaging/webhooks (steps 1 and 2)

The app specifies the channel, username and icon but I'm not seeing any problems using v2.0.2 i.e. no requests are

[2022-04-22 10:00] Zaista opened #561 "Add a hook for test reset event"
- [] I have searched issues for similar feature requests
I can not think of any way to do this in the current setup.

## What is this feature about (1 sentence)
Having an option to reset failed test spec is good, but having the option to automate the retry would be awesome.

## Why is it needed? What is the value? For whom do we build it?
Right now you have to start you CI job manually providing t

[2022-04-30 08:36] alexniculae commented on #555
Hello,

@agoldis, what do you think about the solution proposed above by kangeroo-gong?

Is the `pending` status actually used for something or relevant for the tests? Or is it just for historical reasons that it's coded as `pending` and not `skipped`?

I am seeing the same issue and because of this the results are quite hard to follow and generate some discrepancies in the results sent to the Tea

[2022-05-01 13:04] asimhon commented on #195
@agoldis is there an option to specific aws credentials for using S3 bucket upload? I'm trying to avoid public S3 access with local aws credentials but seems like using DEBUG=cypress* it uses anonymous?
[sorry-cypress.log](https://github.com/sorry-cypress/sorry-cypress/files/8598943/sorry-cypress.log)

[2022-05-02 05:06] agoldis commented on #195
@asimhon https://docs.sorry-cypress.dev/configuration/faq#can-i-use-a-private-aws-s3-bucket-with-sorry-cypress

[2022-05-02 05:38] agoldis commented on #555
Hi there! Seems like indeed it is indeed a source for confusion.

https://sorry-cypress-demo.herokuapp.com/run/a2f971d9c79588028f1ff7ef58eac882 has all kinds of tests:

- passed
- failed
- skipped (as in https://glebbahmutov.com/blog/cypress-test-statuses/#skipped-tests)
- pending (as in https://glebbahmutov.com/blog/cypress-test-statuses/#pending-tests)
- no tests

Sorry-cypress calls:
- both ski

[2022-05-02 07:55] luischq commented on #555
Hi, @agoldis . I think cypress is not calling both failed and skipped tests as failed. If you check the first cypress output screenshot above, skipped are actually marked as such. The spec file is failed, but not the tests.

The issue I think is that there is one status missing in sorry cypress. In the github version skipped = pending, so if a tests is marked as skipped by cypress you don't see it

[2022-05-03 12:17] omribenari opened #566 "Run url - link is broken"
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [ ] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-05-03 18:01] agoldis commented on #566
it isn't - your terminal is breaking the full url in two parts

[2022-05-03 18:01] agoldis commented on #566
![CleanShot 2022-05-03 at 11 01 23@2x](https://user-images.githubusercontent.com/1637928/166514012-db3d67b8-050a-4fc9-a7c3-c428184dad6f.png)

[2022-05-04 05:01] ImanMahmoudinasab commented on #519
Hi! I'm going to add image preview feature for test screenshots. I'm not sure if it would resolve the issue @mmtmohit have with screenshots.

[2022-05-04 14:05] alexniculae commented on #555
We have an example of how Cypress reports these things here:
https://github.com/cypress-io/cypress/pull/20946#issuecomment-1090811294

Hovering over the statuses will share more details about what they are and when they occur.

[2022-05-04 21:13] #566 closed

[2022-05-04 22:31] REZ-bdoty opened #567 "When the spec name contains dots the name is trimmed at the first dot."
## Summary

We use dots in our spec names to group them.
Example:
Group1.data.test_spec.js
Group2.pn.test_spec.js

When the specs are displayed on the dashboard they get the name as either Group1 or Group2. Hovering on the link gives the full name, but it would be nice to have them displayed correctly as well in the table.

## How to reproduce

1. Create two specs Group1.data.test_spec.js and Grou

[2022-05-05 05:23] t00 opened #568 "Test result history for previous x runs"
## What is this feature about (1 sentence)

In the "Tests" section of a single test, show a new row "History" which will include test result (success/fail/flaky) for 20-30 previous runs, matched by a test path.

## Why is it needed? What is the value? For whom do we build it?

Currently (as compared to for example cypress.io dashboard) there is no easy way to determine how often a test has been fl

[2022-05-13 07:33] #550 closed

[2022-05-13 22:29] ImanMahmoudinasab commented on #567
What about the following names for your example?
`Group1.data.test_spec.js` => `Group1 data`
`Group2.pn.test_spec.js` => `Group2 pn`

[2022-05-15 00:17] roldengarm commented on #74
What are the implications when running this on Azure? Setting up the Docker image is not a problem, but obviously I'd like to see the screenshots as well. With MinIO gone, is there an alternative?

[2022-05-16 17:08] DanielleCogs commented on #74
Yes, setting up the Docker image is fine. I was trying to use the AWS Cloud Formation setup as a template to use the equivalent Azure resources, but without S3 compatibility and MinIO being deprecated, we weren't able to deploy.

[2022-05-16 21:36] andytson commented on #482
bump, not stale

[2022-05-17 12:44] REZ-bdoty commented on #567
Seems odd that SC would arbitrarily decide what part  of the test name to show when this can be different for each team. Personally, I would like to see the full name of the test spec. If that isn't possible then the name of the spec itself. From my example above it would be test_spec.js for both.
Is it possible to get the full name of the test spec in the UI? If not, would it be possible to have

[2022-05-18 09:10] estefafdez opened #574 "Multiples rows on the Dashboard when you run the test in different nodes/machines in parallel."
Please note - issues that are not following the template will be closed automatically:

- [x] I have verified that all sorry-cypress services are running and accessible
- [x] I have read documentation and found no answer to my problem
- [x] I have searched issues / discussions and found to answer to my problem
- [x] I have read [Minio Configutation guide](https://docs.sorry-cypress.dev/configurati

[2022-05-19 11:05] Vaibhav-npc opened #575 "Minio uploads are not accessible from dashboard"
## Summary

Video and image files are uploaded to minio storage bucket, and are accessible from minio.
But the files are not loading on sorry-cypress dashboard. It seems instead of signed URL, only URL with object ID are sent from API.

## How to reproduce

Install cypress with helm chart. Only config change done was minio replicas are set to 1 as I was having multi attach issue on kubernetes.

##

[2022-05-19 18:09] Vaibhav-npc commented on #575
@agoldis The url redirects to minio login page.

[2022-05-19 18:20] agoldis commented on #575
There's something wrong with your minio configuration then

[2022-05-20 05:14] Vaibhav-npc commented on #575
@agoldis Thanks for your reply, but not sure where I could have gone wrong with the Minio configuration as I am using default helm values, except for host name and number of replicas.
For ingress, as default chart does not support latest ngnix ingress, I have created Kubernetes load balancer to expose the Minio deployment.
I have attached the minio section from helm values.

[helmMinioValues.txt](

[2022-05-20 05:50] agoldis commented on #575
@Vaibhav-npc please make sure your minio files are accessible when you are trying to open them in browser. not sure what other changes you did to your deployment, but it's quite hard to troubleshoot. You can also try getting help on our slack channel https://docs.sorry-cypress.dev/support

[2022-05-20 05:50] #575 closed

[2022-05-20 05:51] Vaibhav-npc commented on #575
@agoldis What I think happening is, signed URL is only used for uploads and not for get request.
[Step 5](https://docs.sorry-cypress.dev/configuration/director-configuration/minio-configuration#caveats-of-using-minio)  should be getting signed URL for browser. Here its only fetching URL with object ID which has no auth/signature information.

If get is allowed just with object ID, anyone on intern

[2022-05-20 05:54] agoldis commented on #574
Please see if this helps: https://app.gitbook.com/o/-MT4mUcrnbXWgd1xvl_x/s/-MS6gDAYECuzpKjjzrdc/configuration/faq#cypress-parallelization-is-not-working-i-see-a-separate-build-for-each-machine

[2022-05-20 06:07] Vaibhav-npc commented on #575
When I set minio read only policy to * on the bucket, videos are now loading fine.

Adding to my last comment, to increase the security of uploaded assets, we should think of adding signing function to get requests as well.

[2022-05-20 06:13] agoldis commented on #575
@Vaibhav-npc great you've discovered the documentation :) Would be happy to review a PR with implementation

[2022-05-20 09:03] estefafdez commented on #574
Hello @agoldis , the problem was solved after deleting the completely MongoDB database and then running the test with the new sorry cypress version. We don't know exactly what happened, because we've been updating the tool since version 1 without any problem (and without deleting the DB before the update).

Now the problem is solved. Thanks again and thanks for such a great tool!

[2022-05-20 09:03] #574 closed

[2022-05-21 14:21] andytson commented on #482
I tested the linked PR, but it appears DigitalOcean doesn't support the ACL being provided in the presigned upload url, so would require them to update their server to support it (as it does also support 'private' and 'public-read' ACL for `aws s3 cp --endpoint=...`)

[2022-05-22 05:32] agoldis commented on #482
Linked PR?

[2022-05-22 06:17] andytson commented on #482
https://github.com/sorry-cypress/sorry-cypress/pull/546

[2022-05-22 06:29] agoldis commented on #482
Sorry I don't know what to do now - the PR is closed, and you've mentioned the PR it doesn't work with Digital Ocean. Please guide me